extends ../includes/common/_main

block vars
    - var appPath = '../';
    - var bodyClassName = 'page-account';

block title
    +setTitle('Статус заказа')


block content
    +breadcrumb-simple('Личный кабинет')

    +pageTitle('Личный кабинет', 'true')

    +account-pills(1)

    include ../includes/components/_order-table
