extends ../includes/common/_main

block vars
    - var appPath = '../';
    - var bodyClassName = 'page-account';

block title
    +setTitle('Мой профиль')

block content
    +breadcrumb-simple('Личный кабинет')

    +pageTitle('Личный кабинет', 'true')

    div.box
        +account-pills(2)

    -
        profileData = {
        'Имя': 'Иван',
        'Фамилия': 'Иванов',
        'Телефон': '8 926 123-45-67',
        'E-mail': 'ivanov@mail.ru',
        'Адрес': 'Москва, ул. Бананаса, 23-6'
        };

    section.profile
        each value, name in profileData
            dl.profile__row
                dt.profile__label.profile__col #{name}:

                dt.profile__value.profile__col #{value}

        div.profile__action
            a.btn.btn--edit-profile(href="#") Редактировать


