extends ../includes/common/_main

block vars
    - var appPath = '../';
    - var bodyClassName = 'page-account';

block title
    +setTitle('Мои отзывы')

block content
    +breadcrumb-simple('Личный кабинет')

    +pageTitle('Личный кабинет', 'true')

    +account-pills(4)

    section.account-reviews
        +account-review-item(5)

