extends ../includes/common/_main

block vars
    - var appPath = '../';
    - var bodyClassName = 'page-account';

block title
    +setTitle('Избранное')


block content
    +breadcrumb-simple('Личный кабинет')

    +pageTitle('Личный кабинет', 'true')

    div.box
        +account-pills(3)

    div.wishlist
        div.box.thumbs.thumbs--wishlist
            - for (var i = 1; i < 4; i++) {
                +product_thumb
            - }

        a.btn.btn--clear-wishlist Очистить избранное