/* ======================================================================== *\
    Мои заказы
\* ======================================================================== */

.order-table {
  display: table;

  @media screen and (min-width: $step2) {
    border-collapse: collapse;
  }

  &__row {
    display: block;
    padding: 4px 0;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: 0;
    }

    @media screen and (min-width: $step2) {
      display: table-row;
      border-bottom: 0;
    }
  }

  &__cell {
    display: inline-block;

    @media screen and (min-width: $step2) {
      display: table-cell;
      padding: 9px 7px;

      text-align: center;
      vertical-align: middle;
      border: 1px solid $border-color;
      box-sizing: border-box;
    }
  }

  /*
  &__number,
  &__status {
    font-size: $block--font-size;
    font-weight: 500;
  }
  */

  &__status {
    color: $color--green;
  }

  &__num-link {
    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (min-width: $step2) {
    &__number {
      min-width: 76px;
    }

    &__status {
      min-width: 107px;
      //padding-right: 31px;
      //padding-left: 31px;
    }

    &__product {
      min-width: 185px;
      //padding-right: 39px;
      //padding-left: 39px;
    }

    &__delivery {
      min-width: 123px;
      //padding-right: 38px;
      //padding-left: 38px;
    }

    &__payment {
      min-width: 123px;
      //padding-right: 13px;
      //padding-left: 13px;
    }

    &__date {
      min-width: 123px;
      //padding-right: 16px;
      //padding-left: 16px;
      white-space: nowrap;
    }
  }
}

.order-num {
  font-size: 95%;
  // font-weight: 500;
}

.separator {

  @media screen and (min-width: $step2) {
    display: none;
  }
}

.order-title {
  // font-weight: $block--font-weight;
  font-size: $block--font-size;
}