/* ======================================================================== *\
    Мой профиль
\* ======================================================================== */

.profile {
    display: block;
    margin-bottom: 18px;
    vertical-align: top;

    @media screen and (min-width: $step2) {
        width: $box-width*2 + $gutter;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
        width: $box-width*2 + $gutter--middle;
    }

    @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
        width: $box-width*2 + $gutter--middle;
    }

    &__row {
        @include clearfix;
        display: block;
        width: 100%;
        min-height: 36px;
        padding: 10px 0 7px;
        margin: 0;
        border-bottom: 1px solid $border-color;

        box-sizing: border-box;
    }
    
    &__label {
        display: block;
        width: 50%;
        float: left;
        //border-bottom: 1px solid $border-color;

        @media screen and (min-width: $step2) {
            width: $box-width;
        }
    }
    
    &__value {
        display: block;
        width: 50%;
        float: left;
        //border-bottom: 1px solid $border-color;

        @media screen and (min-width: $step2) {
            @include set-left-padding();
            width: $box-width;
        }
    }

    &__action {
        @include clearfix;
        margin-top: $margin-vertical;
    }

    .field > span {
        display: none;
    }
}

.profile-social {

}