section.block-section
    +blockTitle('h2', 'Комментарии')

    include ../includes/forms/_comment-form--service

    section.service__reviews.reviews
        +review-item(3)

        div.reviews__more
            a.reviews__more-link(href="faq.html") Посмотреть все