-
    var serviceTableHead = [
    'Наименование услуги',
    'Ед. изм.',
    'Цена',
    'Наименование услуги',
    'Ед. изм.',
    'Цена'
    ];


    var serviceTable = {
        row1: {
            col1: 'Установка раковины',
            col2: 'шт',
            col3: '10 000 руб.',
            col4: 'Установка раковины',
            col5: 'шт',
            col6: '10 000 руб.'
        },

        row2: {
            col1: 'Установка мойки',
            col2: 'шт',
            col3: '10 000 руб.',
            col4: 'Установка раковины',
            col5: 'шт',
            col6: '10 000 руб.'
        },

        row3: {
            col1: 'Установка биде',
            col2: 'шт',
            col3: '15 000 руб.',
            col4: 'Установка раковины',
            col5: 'шт',
            col6: '15 000 руб.'
        },

        row4: {
            col1: 'Установка мойки',
            col2: 'шт',
            col3: '10 000 руб.',
            col4: 'Установка раковины',
            col5: 'шт',
            col6: '10 000 руб.'
        }
    };

table.table.table--services
    thead
        tr
        each thcontent in serviceTableHead
            th= thcontent

    tbody
        each tableRow, index in serviceTable
            tr
                td= tableRow.col1
                td.text-center= tableRow.col2
                td= tableRow.col3
                td= tableRow.col4
                td.text-center= tableRow.col5
                td= tableRow.col6
