
p.
    За исключением изделий простых форм, как например мраморная раковина Sfera,
    большая часть сантехники из натурального камня Sheerdecor частично или полностью изготавливается
    с использованием ручного труда. Это связано как с трудоемкостью процесса изготовления изделий
    из натурального камня сложных форм, так и с отсутствием оборудования, способного без участия
    человека вырезать из цельного блока натурального мрамора или оникса и обработать большинство
    из тех элементов интерьера, которые вы можете найти в нашем каталоге.
    <br>

    В применении ручного труда при изготовлении сантехники есть как свои плюсы, так и минусы.
    К плюсам можно отнести такой, на первый взгляд неочевидный,
    как получение действительно эксклюзивного дизайна готового изделия,
    которое по своим эстетическим свойствам иногда даже превосходит оригинал в том случае,
    если заказ производства был сделан по фотографии, а не по чертежу или 3D макету.
    Также применение ручного труда на производстве дает возможность индивидуального подхода
    к выполнению каждого заказа с учетом особенностей каждого конкретного блока натурального камня,
    из которого выполняется изделие, ведь каменные блоки оникса, травертина или песчаника имеют не
    только неоднородные фактуру и текстуру, а также химический состав и расположение тектонических трещин.
    Еще к преимуществам такого подхода можно отнести ничем не ограниченные рамки размеров изделия –
    в отличие от автоматизированного изготовления, при котором размеры ограничены параметрами обрабатывающего
    станка и/или его режущих, сверлящих, шлифующих элементов.
    <br>

    К минусам hand made - способа изготовления изделий из натурального камня можно отнести большие
    трудозатраты при производстве и необходимость иметь в штате хороших опытных мастеров -
    резчиков по камню, которых сегодня осталось очень мало.
    Ведь как известно, на рынке есть много компаний,
    готовых вырезать из камня все что угодно, будь то накладная раковина чаша,
    мраморная ванна или обычная каменная столешница под мойку,
    но к сожалению в большинстве случаев квалификация и навыки «мастеров на все руки» оставляют желать лучшего.
    <br>

    Еще к преимуществам такого подхода можно отнести ничем не ограниченные рамки размеров изделия –
    в отличие от автоматизированного изготовления, при котором размеры ограничены параметрами
    обрабатывающего станка и/или его режущих, сверлящих, шлифующих элементов.
