
.filter-mobile {
  margin-bottom: 19px;

  @media screen and (min-width: $step3) {
    display: none;
  }

  &__wrap {

    @media screen and (max-width: $step2 - 1px) {
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;

      transform: translateZ(0);
      transition: max-height .5s ease-in-out, opacity .4s;

      &.is-shown {
        max-height: 9999px;
        overflow: visible;
        opacity: 1;
      }
    }

    .filters {
      width: 100%;
    }
  }
}

.filters {
  width: 100%;
  //padding-bottom: 15px;
  margin-bottom: 24px;

  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  box-sizing: border-box;

  @media screen and (min-width: $step2) {
    width: $box-width;
    margin-bottom: 10px;
    border-top: 1px solid $border-color;
  }

  .label_checked {
    color: $color--green;
    // font-weight: 500;
  }

  .btn {
    width: 100%;
  }

  .apply {
    margin-top: 6px;
  }

  .filter-arrow {
    position: absolute;
    top: 3px;
    left: 0;

    display: block;
    width: 12px;
    margin: 0;

    background: none !important;
    line-height: 1;
    cursor: pointer;

    text-indent: 0;

    &:before {
      position: relative;
      display: block;
      font-size: 14px;
      font-style: normal;
      content: 'V';
      line-height: 1;
      text-align: center;
      color: $color--green;

      transform: rotate(180deg);
      transition: transform .2s;
    }

    &:hover:before {
      color: $color--green;
    }
  }

  .filters-reset {
    position: relative;
    top: 2px;
    display: inline-block;
    padding-bottom: 0;
    // font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color--green;
    }
  }

  .slider {
    margin-bottom: -3px;

    a {
      margin-bottom: 0;
    }
  }

  .filter-slider {
    margin-bottom: 11px !important;

    .ui-slider-handle {
      height: 16px !important;
      box-shadow: none !important;
    }

    &.ui-widget.ui-widget-content {
      background: $color--text;
    }

    .ui-widget-header {
      background: $color--green !important;
    }
  }
}

.collapsed {

  .filter-arrow {
    &:before {
      color: inherit;
      transform: rotate(0deg);
    }
  }

  label {
    display: block !important;
  }
}

.filter-param {
  padding: 12px 17px 17px;
  border-bottom: 1px solid $border-color;

  &.collapsed {
    padding-bottom: 12px;
  }

  &__title {
    position: relative;
    padding-bottom: 14px;
    padding-left: 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;

    text-transform: uppercase;

    //background: #fff;
    transition: padding-bottom .3s;
    cursor: pointer;

    .collapsed & {
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  &__block {
    max-height: 9999px;
    overflow: visible;
    opacity: 1;

    transition: max-height .3s ease-in-out, opacity .2s;

    .collapsed & {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
    }

    &.opened {
      .btn {
        border-color: $color--green;
      }
    }
  }
  
  .fiwex-feat {
    cursor: pointer;
  }

  span,
  &__name {
    line-height: 1;
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 20px;
    margin-bottom: 16px;
    cursor: pointer;

    &:hover {
      color: $color--green;
    }

    &:nth-child(5),
    &:last-of-type {
      margin-bottom: 0;
    }

    + .btn {
      margin-top: 18px;
    }

    .opened &,
    .collapsed & {

      &:nth-child(5) {
        margin-bottom: 16px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__name {
    vertical-align: top;
  }

  input[type="checkbox"] {
    display: none;
  }
}

.checkbox_icon {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  border: 1px solid #d8d8d6;
  cursor: pointer;

  .label_checked & {
    @include getSprite($icon-checked, false);
  }
}

#filters-count {
  padding: 15px 26px !important;
  font-size: 15px;
  font-weight: 700;
}
