/* ======================================================================== *\
    Сортировка товаров в категории
\* ======================================================================== */

.sorting {
  margin-bottom: 21px;
  text-align: center;

  &__title {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--mobile {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.sort {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.001px;
  letter-spacing: -4px;

  a {
    @include link-as-text;
    padding: 2px 3px;
    font-size: 14px;

    &:hover {
      @include link-as-text-hover-green;
      text-decoration: underline;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
    font-size: 13px;
    letter-spacing: normal;

    &:last-child {
      padding-right: 0;
    }

    &--active a {
      color: $color--green;
      // font-weight: 500;
    }
  }

  [class^="sort-"] {
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0 2px 0 0;
  }
}

