
.category {
  @include clearfix;

  &__not-found {
    // font-weight: 500;
  }

  &__submenu-wrap {
    margin-top: -2px;
    margin-bottom: 18px;
  }

  &__products {
    @include clearfix;
  }

  &__products--w-filter {
    @include set-width();

    /*@media screen and (min-width: $step2) and (max-width: $step3 - 1px) {
      width: $box-width *2 + $gutter;
    }*/

    @media screen and (min-width: $step3) {
      float: left;
    }
  }

  &__filter {
    display: none;
    width: 240px;
    box-sizing: border-box;

    @media screen and (min-width: $step3) {
      float: right;
      display: block;
    }

    /*
    &--tmp {
        @include border-base;
        height: 1000px;
        padding: 100px 20px;
        text-align: center;
        background: rgba(245, 245, 245, .8);
    }
    */
  }
}

.product-search {
  &__head {
    margin-bottom: 20px;
  }

  &__phrase {
    text-transform: uppercase;
  }
}

.category-submenu {
  display: none;

  @media screen and (min-width: $step2) {
    display: block;
  }

  &--mobile {
    display: block;
    margin-top: 18px;
    margin-bottom: 0;

    @media screen and (min-width: $step2) {
      display: none;
    }
  }
}

/*
.prod.extra {
    width: 100%;
    height: auto;
    float: none;
    clear: left;

    @media screen and (max-width: $step3 - 1px) {
        margin-left: 0;
    }
}
*/

.extra.hidden {
  display: none;
}

.prod.extra {
  @include clearfix;
  width: 100%;
  height: auto;
  float: none;
  clear: left;
  margin-left: 0;
  cursor: inherit;

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .product-list & {
    width: 100%;
    height: auto;
    float: none;
    clear: left;
    margin-left: 18px;
    font-size: 14px;
  }
}
