
.submenu2 {
  @include clearfix;
  @include unstyled-list;
  @include set-left-margin(true);
  font-size: 0;
  letter-spacing: -4px;

  @media screen and (min-width: $step1) {
    column-count: 2;
    column-width: $box-width;
  }

  @media screen and (min-width: $step1w) {
    column-count: 3;
  }

  @media screen and (min-width: $step3) {
    column-count: 4;
  }

  @media screen and (min-width: $step4) {
    column-count: 5;
  }

  @media screen and (min-width: $step5) {
    column-count: 5;
  }

  @media screen and (min-width: $step6) {
    column-count: 6;
  }

  /*
  &__in {
      @include unstyled-list;
      display: block;
      padding-bottom: 4px;
  }
  */

  &__item {
    @include set-left-margin(false);
    display: inline-block;
    width: 240px;
    font-size: $base--font-size;
    //line-height: 30px;
    letter-spacing: normal;
    vertical-align: top;
    //overflow: hidden;

    &--child {
      width: 100%;
      margin-left: 0;
      text-transform: none;
    }

    &--parent ~ &--child {
      @include set-left-margin(false);
    }

    &--parent ~ &--child > &__link {
      padding-left: 20px;

      &:before {
        left: 0;
      }
    }
  }

  &__item--parent > &__link--third {
    padding-left: 15px;

    &:before {
      position: absolute;
      top: 13px;
      left: 0;
      font-size: 10px;
    }
  }

  &__link {
    @include link-as-text;
    position: relative;
    display: block;
    padding-top: 12px;
    padding-left: 20px;
    line-height: 1.3;
    //white-space: nowrap;

    &:before {
      position: absolute;
      top: 10px;
      left: 0;

      font-family: Tahoma, Arial, Helvetica, sans-serif;
      font-size: 15px;
      content: '\003E';
      color: $color--green;
    }

    &:hover {
      color: $color--green;
      //text-decoration: underline;
    }

    &--child {
      padding-left: 44px;
      text-decoration: none;

      /*&:before {
          position: relative;
          top: 0;
          padding-right: 6px;
          font-family: Tahoma, Arial, Helvetica, sans-serif;
          font-size: 15px;
          content: '\003E';
          text-decoration: none;
      }*/

      &:before {
        top: 18px;
        left: 29px;
        display: block;
        width: 4px;
        height: 4px;
        //content: '\0025CF';
        //background: url('../images/circle__default.svg') no-repeat 50% 50%;
        background: url('../images/circle__hover.svg') no-repeat 50% 50%;
        background-size: cover;
        content: '';
      }

      &:hover {
        text-decoration: none;
      }

/*      &:hover:before {
        background-image: url('../images/circle__hover.svg');
      }*/
    }

    &--second {
      // font-weight: 500;
    }

    &--third {

      &:before {
        position: relative;
        top: -2px;
        font-size: 12px;
        content: '\25CF';
      }
    }
  }

  &__link--current {
    font-weight: 500;
    color: $color--green;

    &:hover {
      text-decoration: none;
    }
  }

}

