
.submenu {
    @include clearfix;
    @include unstyled-list;
    @include set-left-margin(true);
    font-size: 0;
    letter-spacing: -4px;

    @media screen and (min-width: $step1) {
        column-count: 2;
        column-width: $box-width;
    }

    @media screen and (min-width: $step2) {
       column-count: 3;
    }

    @media screen and (min-width: $step3) {
        column-count: 4;
    }

    @media screen and (min-width: $step4) {
        column-count: 5;
    }

    @media screen and (min-width: $step5) {
        column-count: 6;
    }

    &__in {
        @include unstyled-list;
        display: block;
        padding-bottom: 4px;
    }

    &__item {
        @include set-left-margin(false);
        display: block;
        width: 240px;
        font-size: $base--font-size;
        line-height: 30px;
        letter-spacing: normal;
        vertical-align: top;
        overflow: hidden;

        &--parent {
/*            float: left;

            @media screen and (min-width: $step1) {
                &:nth-child(2n) {
                    clear: left;
                }
            }

            @media screen and (min-width: $step2) {
                &:nth-child(2n) {
                    clear: none;
                }

                &:nth-child(3n) {
                    clear: left;
                }
            }

            @media screen and (min-width: $step3) {
                &:nth-child(3n) {
                    clear: none;
                }

                &:nth-child(4) {
                    clear: left;
                }
            }

            @media screen and (min-width: $step4) {
                &:nth-child(4n) {
                    clear: none;
                }

                &:nth-child(5n) {
                    clear: left;
                }
            }

            @media screen and (min-width: $step5) {
                &:nth-child(5n) {
                    clear: none;
                }

                &:nth-child(6n) {
                    clear: left;
                }
            }

            @media screen and (min-width: $step6) {
                &:nth-child(6n) {
                    clear: none;
                }

                &:nth-child(7n) {
                    clear: left;
                }
            }*/
        }

        &--child {
            width: 100%;
            margin-left: 0;
            text-transform: none;
        }
    }

    &__link {
        @include link-as-text;
        display: block;
        white-space: nowrap;

        &:before {
            position: relative;
            top: 0;
            padding-right: 8px;

            font-family: Tahoma, Arial, Helvetica, sans-serif;
            font-size: 15px;
            content: '\003E';
        }

        &:hover {
            color: $color--green;
            //text-decoration: underline;
        }

        &--child {
            padding-left: 27px;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }

            /*&:before {
                position: relative;
                top: 0;
                padding-right: 6px;
                font-family: Tahoma, Arial, Helvetica, sans-serif;
                font-size: 15px;
                content: '\003E';
                text-decoration: none;
            }*/

            &:before {
                position: relative;
                top: -2px;
                font-size: 10px;
                content: '\25CF';
            }
        }

        &--second {
            font-weight: 500;
        }

        &--third {

            &:before {
                position: relative;
                top: -2px;
                font-size: 12px;
                content: '\25CF';
            }
        }
    }

    &__link--current {
        font-weight: 500;
        color: $color--green;

        &:hover {
            text-decoration: none;
        }
    }

}

