
-
    var leftmenu = [
    'Раковины для ванной',
    'Напольные раковины',
    'Мойки для кухни',
    'Поддоны для душа',
    'Мебель для ванной',
    'Столешницы из камня',
    'Столешницы из бамбука',
    'Смесители',
    'Аксессуары',
    'Унитазы',
    'Биде',
    'Изделия из бамбука'
    ];

-
    var leftmenuChilds1 = [
    'Раковины для ванной',
    'Напольные раковины',
    'Столешницы из камня',
    'Столешницы из бамбука',
    'Бамбуковые раковины',
    'Деревяные раковины',
    'Медные раковины'
    ];


-
    var leftmenuChilds2 = [
    'Каменные раковины',
    'Бамбуковые раковины',
    'Деревяные раковины',
    'Медные раковины',
    'Бамбуковые раковины',
    'Деревяные раковины',
    'Медные раковины'
    ];

// 'Писуары',
// 'Ванны',
// 'Изделия из камня',
// 'Изделия из мрамора',
// 'Изделия из гранита',
// 'Изделия из оникса',
// 'Изделия из травертина',
// 'Изделия из бронзы',
// 'Изделия из меди',
// 'Изделия из дерева',
// 'Изделия из стали',


// 'Мойки для кухни',
// 'Поддоны для душа',
// 'Мебель для ванной',

ul.leftmenu.menu-v
    each linkName, index in leftmenu
        li(class=(index == 2) ? "parent" : "")
            a(href="catalog.html", class="leftmenu__link")
                = linkName
            if index==2
                ul.menu-v
                    - for (var i = 0; i < leftmenuChilds1.length; i++) {
                        li(class=(i == 2) ? "selected parent" : "")
                            a.leftmenu__link(href="catalog.html")
                                = leftmenuChilds1[i]

                            - if (i == 2) {
                                ul.menu-v
                                    - for (var k = 0; k < leftmenuChilds2.length; k++) {
                                        li(class=(k == 2) ? "selected" : "")
                                            a(href="catalog-nofilter.html" class="leftmenu__link")
                                                = leftmenuChilds2[k]
                                    - }
                            - }
                    - }


