
-
    var leftmenu = [
    'Раковины для ванной',
    'Напольные раковины',
    'Мойки для кухни',
    'Поддоны для душа',
    'Мебель для ванной',
    'Столешницы из камня',
    'Столешницы из бамбука',
    'Смесители',
    'Аксессуары',
    'Унитазы',
    'Биде',
    'Изделия из бамбука'
    ];

-
    var leftmenuChilds1 = [
    'Раковины для ванной',
    'Напольные раковины',
    'Столешницы из камня',
    'Столешницы из бамбука'
    ];


-
    var leftmenuChilds2 = [
    'Каменные раковины',
    'Бамбуковые раковины',
    'Деревяные раковины',
    'Медные раковины'
    ];

// 'Писуары',
// 'Ванны',
// 'Изделия из камня',
// 'Изделия из мрамора',
// 'Изделия из гранита',
// 'Изделия из оникса',
// 'Изделия из травертина',
// 'Изделия из бронзы',
// 'Изделия из меди',
// 'Изделия из дерева',
// 'Изделия из стали',


// 'Мойки для кухни',
// 'Поддоны для душа',
// 'Мебель для ванной',

ul.leftmenu.nostyles
    each linkName, index in leftmenu
        li.leftmenu__item
            a(href="catalog.html", class=(index==2) ? "leftmenu__link current":"leftmenu__link")
                = linkName
            if index==2
                ul.leftmenu__submenu.submenu-list
                    - for (var i = 0; i < leftmenuChilds1.length; i++) {
                        li.submenu-list__item
                            a.submenu-list__link(href="catalog.html")
                                = leftmenuChilds1[i]

                            - if (i == 2) {
                                ul.leftmenu__submenu.submenu-list
                                    - for (var k = 0; k < leftmenuChilds2.length; k++) {
                                        li.submenu-list__item
                                            a(href="catalog-nofilter.html" class=(k == 1) ? "submenu-list__link submenu-list__link--l2 current" : "submenu-list__link submenu-list__link--l2")
                                                = leftmenuChilds2[k]
                                    - }
                            - }
                    - }


