// Подвал
footer.footer
    div.footer__left
        div.footer__logo
            a.footer__logo-link(href="main.html")
        div.footer__info
            | г. Москва, ул. 5-я Кожуховская, дом 12
            br
            | Понедельник - Пятница с 10:00 до 19:00
        div.footer__phone.company-phone
            | +7-495-661-62-71

    div.footer__right
        div.footer__social.social-icons
            include _footer__socicons

        div.footer__right-in
            div.footer__menu
                ul.menu.nostyles
                    li.menu__item
                        a.menu__link(href="login.html") Войти
                    li.menu__item
                        a.menu__link(href="register.html") Зарегистрироваться

            div.footer__copyright
                | &copy; Sheerdecor 2009-2016

