
-
    var socicons = {
        'Facebook': 'fb',
        'Twitter': 'tw',
        'Instagram': 'inst',
        'Вконтакте': 'vk',
        'Одноклассники': 'ok'
    };


ul.socicons.nostyles
    each socIcon, socName in socicons
        li(class="socicons__item")
            a(href="#", class="socicons__link socicon socicon__#{socIcon}", title="#{socName}")
