// Шапка
header(class="header")
    div.wrapper
        div.header__left
            div.header__logo
                a.logo(href="main.html")
            div.header__slogan
                | Профессиональное производство
                | изделий из натурального камня<i>,</i>
                | дерева и бронзы
                //| Профессиональное производство
                //| сантехники и изделий из натурального
                //| камня, дерева и бронзы


        div.header__right
            div.header__right-top
                div.topphone
                    div.topphone__number.company-phone +7-495-661-62-71
                    div.topphone__info Прием заказов круглосуточно

                div.header__right-middle

                div.header__right-in
                    div.header__right-in-left
                        div.header__app-link.app-connect
                            a.app-connect__link(href="https://wa.me/74957951750" target="_blank")
                        // Мини-корзина
                        div.minicart.minicart--active
                            a.minicart__link(href="cart.html")
                                div.minicart__count 5

                    div.header__right-in-right
                         include _header__search

            div.header__right-bottom
                button#mobile-nav-toggle.mobile-nav-toggle
                    span.toggle-wrap
                        i.toggle-row
                        i.toggle-row
                        i.toggle-row

                include _header__topmenu

                div.mobile-nav


