div.search
    form.search__form(action="main.html", name="search", method="get")
        input(class="inputbox search__inputbox", type="search", name="query" placeholder="введите название...")
        input(type="submit", class="search__btn", value="")
