include ../../mixins/_mixins-icons
include ../../mixins/_mixins
include ../../mixins/_mixins__inputs
include ../../mixins/_mixins__faq-item
include ../../mixins/_mixins__product
include ../../mixins/_account-pills

block vars
    - var bodyClassName = '';
    - var appPath = '';

doctype html
//[if IE 8]>
    <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
    head
        +utf-8
        +ie

        block title

        +description
        +viewport
        +touch-icon

        +respond
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,500,600&subset=latin,cyrillic,cyrillic-ext", type="text/css")

        block css
            - var appPath = (!appPath) ? '': appPath;
            link(rel="stylesheet", href="#{appPath}assets/css/styles.css")

        block head

    - var bodyClassName = (!bodyClassName) ? '' : bodyClassName;
    body.bd-bg(class="#{bodyClassName}")
        +browserUpgrade
        div.wrapper.wrapper--main
            div.wrapper-in

                include _header

                div.mainarea

                    main.mainarea__content
                        block content

                    aside.aside
                        include _aside__leftmenu3

                        block aside-content

            include ./_footer.jade


        script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
        block bottom_script
            script(src="#{appPath}assets/js/theme.js")
            //script(src="#{appPath}assets/js/leftmenu2017.js")
            //script(src="#{appPath}assets/js/leftmenu3.js")

