
.clearfix {
    @include clearfix;
}

.nostyles {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.align-right,
.text-right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.show1 {
    @media screen and (max-width: $step1 - 1px) {
        display: none !important;
    }
}

.show2 {
    @media screen and (max-width: $step2 - 1px) {
        display: none !important;
    }
}

.hide1 {
    @media screen and (min-width: $step1) {
        display: none !important;
    }
}

.hide2 {
    @media screen and (min-width: $step2) {
        display: none !important;
    }
}


