/* ======================================================================== *\
    Миксин определения спрайтов
\* ======================================================================== */

@mixin sprite-width($sprite) {
    width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 6);
}

@mixin sprite-size($sprite) {
    width: nth($sprite, 5);
    height: nth($sprite, 6);
}

@mixin sprite-size-position($sprite) {
    width: nth($sprite, 5);
    height: nth($sprite, 6);
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
}

@mixin getSprite($sprite, $include_size: false, $offset-x: 0, $offset-y:0, $repeat: no-repeat) {
    $sprite-image: nth($sprite, 9);
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);

    @if $offset-x != 0 {
        $sprite-offset-x: $sprite-offset-x + $offset-x;
    }

    @if $offset-y != 0 {
        $sprite-offset-y: $sprite-offset-y + $offset-y;
    }

    background: url(#{$sprite-image}) #{$repeat} $sprite-offset-x $sprite-offset-y;

    @if $include_size {
        @include sprite-width($sprite);
        @include sprite-height($sprite);
    }
}

