@mixin step-width {

    @media screen and (min-width: $step1) {
        width: 498px;
    }

    @media screen and (min-width: $step1w) {
        width: 738px;
    }

    @media screen and (min-width: $step2) {
        width: 756px;
    }

    @media screen and (min-width: $step3) {
        width: 987px;
    }

    @media screen and (min-width: $step3w) {
        width: 1014px;
    }

    @media screen and (min-width: $step4) {
        width: 1236px;
    }

    @media screen and (min-width: $step4w) {
        width: 1272px;
    }

    @media screen and (min-width: $step5) {
        width: 1530px;
    }

    @media screen and (min-width: $step6) {
        width: 1788px;
    }
}

@mixin step-width-content {

    @media screen and (min-width: $step3) {
        float: right;
        width: 987px - (240px + 9px);
    }

    @media screen and (min-width: $step3w) {
        width: 1014px - (240px + 18px);
    }

    @media screen and (min-width: $step4) {
        width: 1236px - (240px + 9px);
    }

    @media screen and (min-width: $step4w) {
        width: 1272px - (240px + 18px);
    }

    @media screen and (min-width: $step5) {
        width: 1530px - (240px + 18px);
    }

    @media screen and (min-width: $step6) {
        width: 1788px - (240px + 18px);
    }
}

@mixin clearfix {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

@mixin input-placeholder {
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
    &::-webkit-input-placeholder {
        @content
    }
}

@mixin unstyled-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin link-as-text {
    color: $color--text;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

@mixin link-as-text-hover-green {
    color: $color--green;
}

@mixin border-base {
    border: 1px solid $border-color;
}

%border {
    @include border-base;
}

%border-bottom {
    border-bottom: 1px solid $border-color;
}

/**
*   @negative: bool делать ли отрицательный отступ
*/
@mixin set-left-margin($negative: false) {
    $character: '';
    @if $negative == true {
        $character: '-';
    }

    margin-left: #{$character}$gutter;

    @media screen and (min-width: $step1w) and (max-width: $step2 - 1px) {
        margin-left: #{$character}$gutter--middle;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
        margin-left: #{$character}$gutter--middle;
    }

    @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
        margin-left: #{$character}$gutter--middle;
    }
}

@mixin set-left-padding($negative: false) {
    $character: '';
    @if $negative == true {
        $character: '-';
    }

    padding-left: #{$character}$gutter;

    @media screen and (min-width: $step1w) and (max-width: $step2 - 1px) {
        padding-left: #{$character}$gutter--middle;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
        padding-left: #{$character}$gutter--middle;
    }

    @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
        padding-left: #{$character}$gutter--middle;
    }
}

@mixin set-width() {

    @media screen and (min-width: $step3) {
        width: 987px - (240px + 9px)*2;
    }

    @media screen and (min-width: $step3w) {
        width: 1014px - (240px + 18px)*2;
    }

    @media screen and (min-width: $step4) {
        width: 1236px - (240px + 9px)*2;
    }

    @media screen and (min-width: $step4w) {
        width: 1272px - (240px + 18px)*2;
    }

    @media screen and (min-width: $step5) {
        width: 1530px - (240px + 18px)*2;
    }

    @media screen and (min-width: $step6) {
        width: 1788px - (240px + 18px)*2;
    }
}

@mixin calc-width($cols) {

}
