
-
    var accountPages = {
        1: {
        name: 'Мои заказы',
        link: '../account/orders.html'
        },
        2: {
        name: 'Мой профиль',
        link: '../account/profile.html'
        },
        3: {
        name: 'Избранное',
        link: '../account/wishlist.html'
        },
        4: {
        name: 'Мои отзывы',
        link: '../account/reviews.html'
        }
    };

- var count = 4;

mixin account-pills(activeIndex)
    div.box
        ul.pages //-pills
            - for (var i = 1; i <= count; i++)
                li(class=(i == activeIndex) ? "selected":"") //-.pills__item
                    a(href="#{accountPages[i].link}")
                        = accountPages[i].name