mixin ie
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")


mixin utf-8
    meta(charset="utf-8")

mixin description
    meta(name="description" content="")

mixin viewport
    meta(name="viewport" content="width=device-width, initial-scale=1")

mixin touch-icon(touch_icon_link)
    link(rel="apple-touch-icon" href="#{touch_icon_link}")

mixin setTitle(title)
    title= title

mixin browserUpgrade
    //[if lt IE 8]
        <p class="browserupgrade">
            Вы используете <strong>устаревший</strong> браузер.
            Пожалуйста, <a href="http://browsehappy.com/">обновите свой браузер</a> для использования всех возможностей сайта.</p><![endif]

mixin respond
    //[if lt IE 9]>
         script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
         script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")<![endif]

mixin blockTitle(tag, title)
    #{tag}(class="block-title")
        span.block-title__text #{title}

mixin blockTitleLink(tag, title)
    #{tag}(href="catalog.html" class="category-title")
        h2.category-title__text #{title}
        span.category-title__more  Посмотреть все > > >

//mixin pageTitle(title, uppercase)
    h1(class=(uppercase == 'true')? "block-title block-title--upper":"block-title")
        span.block-title__text #{title}

mixin pageTitle(title, uppercase)
    h1
        span.page-title #{title}

mixin title(tag, title)
    #{tag}(class="title")
        span.title__text #{title}

mixin product_thumb

    li.prod
        //-a(href="product.html", class="prod__link")
        div.prod__img-wrap
            img(class="prod__img", src="#{appPath}images/thumb_240x135.jpg", alt="Bull 3938111 Wooden Yellow Глянцевая")
        div.prod__info
            a.prod__link(href="product.html" title="Distrito Australian Sandstone")
                div.prod__price-wrap 127 000 ₽
                div.prod__name Distrito Australian Sandstone
                div.prod__bottom
                    div.prod__instock.instock Есть в наличии
            +prod-actions


mixin product_thumb_sale(activeProd)
    div(class=(activeProd=='true') ? "prod active prod--offer":"prod prod--offer")
        //-a(href="product.html", class="prod__link")
        div.prod__img-wrap
            img(class="prod__img" src="images/thumb_240x135.jpg" alt="Bull 3938111 Wooden Yellow Глянцевая")

        div.prod__price-wrap
            a.prod__link(href="product.html" title="Distrito Australian Sandstone")
                span.prod__discount 35 000 ₽
                span.prod__price 25 000 ₽
                span.prod__discount-percent -20%

        div.prod__info
            a.prod__link(href="product.html" title="Distrito Australian Sandstone")
                div.prod__name Distrito Australian Sandstone
                div.prod__bottom
                    div.prod__instock.instock.instock--none Под заказ
            +prod-actions


mixin product_img
    img(class="thumb" src="images/thumb_240x135.jpg" alt="Distrito Australian Sandstone")


mixin products(count)
    - for (var i = 0; i < +count; i++)
        +product_thumb()



mixin categoryMain(tag, title)
    section.category-block
        +blockTitleLink(tag, title)
        ul.thumbs
            +product_thumb_sale('true')
            +product_thumb_sale
            +products(4)


mixin breadcrumbs(count)
    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")

        li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            a.breadcrumb__link(itemprop="item" href="faq.html")
                span.breadcrumb__text(itemprop="name") Вопросы и ответы
                meta(property="position" content="2")
        li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            span.breadcrumb__link.breadcrumb__link--current(itemprop="item")
                span.breadcrumb__text(itemprop="name") Возможно ли изготовление изделий под заказ?
                meta(property="position" content="3")



mixin breadcrumb-simple(lastItem)
    ul.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")

        li.breadcrumb__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            span.breadcrumb__link.breadcrumb__link--current(itemprop="item")
                span.breadcrumb__text(itemprop="name")= lastItem
                meta(property="position" content="2")



mixin icon(type)
    i(class="icon icon--" + type)

