
- var icons = ['compare', 'wishlist', 'work', 'payment', 'warranty', 'install', 'dealers', 'return'];

mixin action-btn(action)
    a(href="#", class="icon icon--" + action)

mixin icon(action)
    a(href="#", class="icon icon--" + action)

mixin action-btn-compare
    +action-btn('compare')


mixin prod-actions
    div.prod__actions
        +icon('wishlist')
        +icon('compare')
