
mixin faq-item(count)
    - for (var i = 0; i < +count; i++)
        article.answers__item
            div.answers__img-wrap
                img.thumb.answer__img(src="images/thumb_240x135.jpg" alt="Фото товара")

            h2.answers__question
                | Как узнать о наличии сантехнических изделий из натурального камня Sheerdecor на складе в Москве?

            div.answers__answer
                | Информация о наличии понравившегося Вам изделия на складе в Москве указана статусом
                | "ЕСТЬ В НАЛИЧИИ" в правом верхнем углу над фотографией каждого изделия.

            a.answers__readon.readon(href="faq-item.html") Подробнее

mixin faq-item-large
    article.answers__item
        div.answers__img-wrap
            img.thumb.answer__img(src="images/thumb_240x135.jpg" alt="Фото товара")

        h2.answers__question
            | Как узнать о наличии сантехнических изделий из натурального камня Sheerdecor на складе в Москве?
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque debitis distinctio eaque eos facilis id impedit iste laudantium, maiores neque nihil odit optio perspiciatis quaerat, quasi quis quo reprehenderit.


        div.answers__answer
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque debitis distinctio eaque eos facilis id impedit iste laudantium, maiores neque nihil odit optio perspiciatis quaerat, quasi quis quo reprehenderit.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque debitis distinctio eaque eos facilis id impedit iste laudantium, maiores neque nihil odit optio perspiciatis quaerat, quasi quis quo reprehenderit.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque debitis distinctio eaque eos facilis id impedit iste laudantium, maiores neque nihil odit optio perspiciatis quaerat, quasi quis quo reprehenderit.
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, atque debitis distinctio eaque eos facilis id impedit iste laudantium, maiores neque nihil odit optio perspiciatis quaerat, quasi quis quo reprehenderit.

        a.answers__readon.readon(href="faq-item.html") Подробнее


