


mixin inputbox(name, placeholder)
    input(class="inputbox" type="text" name="comment_#{name}" id="comment_#{name}" placeholder="#{placeholder}")


mixin textarea(name, placeholder)
    textarea.inputbox.inputbox--textarea(cols="60" rows="3" name="comment_#{name}" id="comment_#{name}" placeholder="#{placeholder}")

mixin submit-btn(placeholder)
    input(class="btn" type="submit" value="#{placeholder}")