
mixin review-item(count)
    - for (var i = 0; i < +count; i++)
        article.review
            div.review__avatar-wrap
                div.review__avatar.review__avatar-none

            div.review__wrap
                span.review__name Александр
                span.review__date 12 дней назад 23:48
                div.review__text
                    | Отличная раковина, будем брать! Очень понравилась, прослужит долго, качество видно сразу!


mixin account-review-item(count)
    - for (var i = 0; i < +count; i++)
        article.review
            div.review__avatar-wrap
                div.review__avatar.review__avatar-none

            div.review__wrap
                span.review__name Александр
                span.review__date 12 дней назад 23:48
                span.review__product
                    | на товар

                    a.review__product-link(href="#")  Раковина для ванной овальная Distrito 142538561
                div.review__text
                    | Отличная раковина, будем брать! Очень понравилась, прослужит долго, качество видно сразу!

