
form.onestep-cart-form(method="get")

    div.cart.table
        div.cart__row
            div.cart-cell.cart__img
                +product_img

            div.cart-cell.cart__product
                div.cart__prod-name Distrito Australian Sandstone
                div.cart__prod-note
                    | Товара нет в наличии. Указанная цена является ориентировочной, а не окончательной.
                    | Дождитесь пожалуйста подтверждения от нашего менеджера.

            div.cart-cell.cart__price
                div.cart__price-wrap 32 567 Р.
                div.cart__price-note Последняя цена

                div.cart__count-wrap
                    | Кол-во:
                    input.cart__count-input.inputbox(type="text" name="prod_count")
                    | шт.

        div.cart__row
            div.cart-cell.cart__img
                +product_img

            div.cart-cell.cart__product
                div.cart__prod-name Distrito Australian Sandstone

            div.cart-cell.cart__price
                div.cart__price-wrap
                    span.cart__price-old 35 000 Р.
                    span.cart__discount 20%
                    span.cart__price 32 567 Р.

                div.cart__count-wrap
                    | Кол-во:
                    input.cart__count-input.inputbox(type="text" name="prod_count")
                    | шт.


        div.cart__row.cart__row--footer
            div.cart__footer-label.cart__discount-label Скидка:
            div.cart__value -1567 Р.

        div.cart__row.cart__row--footer.cart__total
            div.cart__footer-label.cart__total-label Итого:
            div.cart__value 30 450 Р.

        div.cart__button-wrap
            +submit-btn('Пересчитать')