
section.checkout-step.step-contactinfo

    +blockTitle('h2', 'Контактная информация')

    div.form-field.form-field--large
        ul.menu-v
            li
                label.label
                    input.radio(type="radio" name="client_type" value="client_new" checked)

                    | Я новый покупатель

            li
                label.label
                    input.radio(type="radio" name="client_type" value="client_old")
                    | Я уже заказывал ранее и у меня есть аккаунт

    div.form-field
        select.select.checkout__client-type(name="client_type")
            option(value="0") Выберите тип плательщика
            option(value="1") Физическое лицо
            option(value="2") Юридическое лицо

    div.form-field
        +inputbox('first_name', 'Имя:')

    div.form-field
        +inputbox('last_name', 'Фамилия:')

    div.form-field
        +inputbox('phone', 'Телефон:')

    div.form-field
        +inputbox('email', 'E-mail:')