
section.checkout-step.step-payment

    +blockTitle('h2', 'Оплата')

    div.form-field.form-field--large

        h3.subtitle Выберите способ оплаты:

        ul.menu-v
            li
                label.label
                    input.radio(type="radio" name="payment_type" value="client_new")
                    div.checkout__label-in Наличными при получении (только для Москвы и МО)

            li
                label.label
                    input.radio(type="radio" name="payment_type" value="client_old" checked)
                    div.checkout__label-in Наличными через Сбербанк (или любой другой банк)


            li
                label.label
                    input.radio(type="radio" name="payment_type" value="client_old" checked)
                    div.checkout__label-in Оплата пластиковой картой

            li
                label.label
                    input.radio(type="radio" name="payment_type" value="client_old" checked)
                    div.checkout__label-in Безналичная оплата