
section.checkout-step.step-delivery

    +blockTitle('h2', 'Доставка')

    div.form-field.form-field--full
        ul.menu-v
            li
                label.label
                    input.radio(type="radio" name="delivery_type" value="delivery_1" checked)
                    div.checkout__label-in
                        div.delivery-descr
                            div.radio-title
                                | Самовывоз из магазина в Москве
                            | Самовывоз из ближайшей точки выдачи

                        div.delivery-price бесплатно

            li
                label.label
                    input.radio(type="radio" name="delivery_type" value="delivery_2")
                    div.checkout__label-in
                        div.delivery-descr
                            div.radio-title
                                | Курьерская доставка по Москве и МО
                            | Доставка ограничивается только определенной страной и регионом

                        div.delivery-price 1400 ₽

            li
                label.label
                    input.radio(type="radio" name="delivery_type" value="delivery_3")
                    div.checkout__label-in
                        div.delivery-descr
                            div.radio-title
                                | Доставка по РФ транспортной компанией
                            | Доставка ограничивается только определенной страной и регионом

                        div.delivery-price по тарифу ТК