
section.checkout-step.step-confirmation

    +blockTitle('h2', 'Подтверждение заказа')

    div.box
        h3.subtitle Получатель

        div.receiver
            | Иван Иванов<br>
            | Бананаса, дом 5, кв.9, Москва, Российская Федерация

    div.ct

        div.ct-row
            div.ct-cell.ct-cell--first.ct__product Distrito 123456789
            div.ct-cell.ct-cell--center.ct__count 1 шт.
            div.ct-cell.ct-cell--last.ct__price 40 000 ₽

        div.ct-row
            div.ct-cell.ct-cell--first.ct__product Ronda 123456789
            div.ct-cell.ct-cell--center.ct__count 1 шт.
            div.ct-cell.ct-cell--last.ct__price 45 567 ₽

        div.ct-row
            div.ct-cell.ct-cell--first.ct__hidden &nbsp;
            div.ct-cell.ct-cell--center.ct__label Доставка - Курьер
            div.ct-cell.ct-cell--last.ct__value 40 000 ₽

        div.ct-row
            div.ct-cell.ct-cell--first.ct__hidden &nbsp;
            div.ct-cell.ct-cell--center.ct__label.ct__label--discount Скидка
            div.ct-cell.ct-cell--last.ct__value - 1 567 ₽

        div.ct-row.ct-row--total
            div.ct-cell.ct-cell--first.ct__hidden &nbsp;
            div.ct-cell.ct-cell--center.ct__label.ct__label--total ИТОГО
            div.ct-cell.ct-cell--last.ct__value.ct__value--total-price 67 450 ₽

    +textarea('comment', 'Комментарий к заказу:')

    div.align-right
        input.btn.btn--primary.btn--large(type="submit" value="Оформить заказ")