.slideshow,
.slideshow-navigator,
.photostream,
.clear-both {
  @include clearfix;
}

ul.albums li .cover {
  z-index: 1;
}

.view-thumbs {
  @include clearfix;

  &__item {
    position: relative;
    width: 33.333%;
    max-width: 100%;
    float: left;
    margin-bottom: 18px;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__img {
    display: block;
  }
}
