/* ======================================================================== *\
    "Грязные хаки" спешл фо Жопскрипт
\* ======================================================================== */

// TODO: хлам, из-за невозможности стилизации форм Жопоскрипта
input[type="text"],
input[type="email"],
input[type="password"] {
  @extend .inputbox;
}

// Скрываем названия полей
.wa-form .wa-name {
  display: none;
}

.wa-submit input[type="submit"] {
  @extend .btn;

  .wa-signup-form & {
    @media screen and (max-width: $step1 - 1px) {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

.wa-submit {
  text-align: center;

  .wa-signup-form & {
    @media screen and (max-width: $step1 - 1px) {
      text-align: left;
    }
  }

  input[type="submit"] {
    margin-bottom: 20px;
  }

  a {
    @include link-as-text;

    &:hover {
      @include link-as-text-hover-green;

      &:before {
        color: $color--text;
      }
    }
  }

  /*.page-login & {
      position: relative;
      padding-top: 0;
      padding-bottom: 56px;

      text-align: center;

      input[type="submit"] {
          position: absolute;
          bottom: 0;
          left: 0;
          margin-bottom: 0;
      }

      a {
          /!*
          &:first-of-type {
              padding-right: 7px;
          }

          &:last-of-type {
              position: relative;
              padding-left: 6px;

              &:before {
                  position: absolute;
                  top: 0;
                  left: -3px;
                  display: block;
                  content: '| ';
                  font-size: 105%;
              }
          }
          *!/

      }
  }
  */

  .wa-signup-form & {

    @media screen and (max-width: $step1 - 1px) {
      width: 100%;
    }

    a {
      @include link-as-text;
      display: inline-block;
      margin-left: 5px;
      text-transform: uppercase;

      &:hover {
        @include link-as-text-hover-green;
        text-decoration: underline;
      }
    }
  }
}

.auth-message {
  @media screen and (max-width: $step1 - 1px) {
    padding: 7px 0;
    text-align: left;
  }
}

.productsperpage-form {
  font-size: 15px;

  @media screen and (max-width: $step2 - 1px) {
    text-align: center;
  }

  select {
    width: 53px;
    padding-right: 0;
    padding-left: 3px;
    margin: 0 1px;
    font-size: inherit;
    text-align: center;
    text-align-last: center;
    vertical-align: middle;
  }

  // Нет товаров
  .product-list-empty & {
    display: none;
  }
}

.wa-value {

  p {
    margin-bottom: 0;
  }
}

.errormsg {
  display: block;
  padding-top: 3px;
  font-size: 13px;
  color: red;
}

input.error,
textarea.error {
  border-color: #dc0000;
  outline: 0;
  box-shadow: 0 0 5px #fb7e7e;
  color: #dc0000;
}
