
.wa-auth-adapters {
    @extend .form-field;
    @extend .form-field--large;
    @include clearfix;

    @media screen and (max-width: $step1 - 1px) {
        width: 100%;
        margin-bottom: 9px;
    }

    ul {
        @include unstyled-list;
        @include set-left-margin(false);
        width: $box-width;
        float: right;
        font-size: 0;
        letter-spacing: -4px;

        @media screen and (max-width: $step1 - 1px) {
            width: 100%;
            margin-bottom: 9px;
            margin-left: 0;
        }
    }

    &__message {
        position: relative;
        display: block;
        width: $box-width;
        margin: 0;
        float: left;
        text-align: left;

        @media screen and (max-width: $step1 - 1px) {
            margin-bottom: 11px;
        }

        .page-login &,
        .wa-signup-form & {
            max-height: 32px;
            overflow: hidden;
            color: #fff;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            display: inline;

            color: $color--text;

            .page-login & {
                content: "Войдите с помощью социальной сети или формы ниже";
            }

            .wa-signup-form & {
                content: 'Зарегистрируйтесь с помощью социальной сети или формы ниже:';
            }
        }
    }

    &__list {

    }
}

[class^="wa-auth-adapter-"] {
    @extend .socicons__item;

    > a {
        @extend .socicon;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    img {
        display: none;
    }
}

.wa-auth-adapter-google,
.wa-auth-adapter-yandex {
    display: none;
}

a {

    .wa-auth-adapter-vkontakte & {
        @extend .socicon__vk;
    }

    .wa-auth-adapter-google & {
        @extend .socicon__vk;
    }

    .wa-auth-adapter-facebook & {
        @extend .socicon__fb;
    }

    .wa-auth-adapter-twitter & {
        @extend .socicon__tw;
    }
}


