-
    var orders = {
        1: {
        number: 100952,
        status: 'Новый',
        product: 'Sfera Honey Onix',
        delivery: 'Курьер',
        payment: 'Яндекс.Деньги',
        date: '23 июня 2016'
        },

        2: {
        number: 100953,
        status: 'Новый',
        product: 'Sfera Honey Onix',
        delivery: 'Транспортная компания',
        payment: 'Qiwi',
        date: '23 июня 2016'
        },

        3: {
        number: 100954,
        status: 'Новый',
        product: 'Sfera Honey Onix Sfera Honey Onix',
        delivery: 'Курьер',
        payment: 'Яндекс.Деньги',
        date: '23 июня 2016'
        },

        4: {
        number: 100955,
        status: 'Подтвержден',
        product: 'Sfera Honey Onix',
        delivery: 'Курьер',
        payment: 'Яндекс.Деньги',
        date: '23 июня 2016'
        },

        5: {
        number: 100956,
        status: 'Новый',
        product: 'Sfera Honey Onix',
        delivery: 'Курьер',
        payment: 'Яндекс.Деньги',
        date: '23 сентября 2016'
        }
    };


div.table.order-table
    - for (var i = 1; i <= 5; i++)
        div.order-table__row
            div.order-table__cell.order-table__number
                span.order-num №
                = orders[i].number

            span.separator  /

            div.order-table__cell.order-table__status
                = orders[i].status

            span.separator  /

            div.order-table__cell.order-table__product
                = orders[i].product

            span.separator  /

            div.order-table__cell.order-table__delivery
                = orders[i].delivery

            span.separator  /

            div.order-table__cell.order-table__payment
                = orders[i].payment

            span.separator  /

            div.order-table__cell.order-table__date
                = orders[i].date

