
- var pageCount = 2;

div.pagination-wrap
    
    ul.pagination

        li.pagination__item: a.page-link.page-link--active(href="#") 1

        while pageCount < 5
            li.pagination__item
                a.page-link(href="#")= pageCount++

        li.pagination__item
            a.page-link.page-link--next(href="#") &rarr;