
div.user-row.user-row--open
    div.wrapper
        div.user-row__account.row-account
            i.row-link__icon.icon.icon--user
            ul.menu.user-row-menu
                li.menu__item
                    a.menu__link.menu__link--border(href="login.html") Войти
                li.menu__item
                    a.menu__link.menu__link--border(href="register.html") Зарегистрироваться

        div.user-row__wishlist
            a.row-link.row-wishlist.row-link--active(href="wishlist.html")
                i.row-link__icon.icon.icon--wishlist
                span.row-link__text Отложенные
                span.row-link__count.wishlist-count 0

            a.row-link.row-compare(href="compare.html")
                i.row-link__icon.icon.icon--compare
                span.row-link__text В сравнении
                span.row-link__count.compare-count 0

        div.user-row__cart
            a.row-link.row-cart.row-link--active(href="cart.html")
                i.row-link__icon.icon.icon--cart
                span.row-link__text В КОРЗИНЕ:
                span.row-link__count.row-link__count--cart 3
                span.row-cart__total 250 000 руб.
