extends includes/common/_main

block title
    +setTitle('Ошибка 404: Страница не найдена')

block content

    //+breadcrumb-simple('Корзина')

    div.errors
        div.errors__logo.logo-small.errors__box
        h1.errors__title.errors__box Ошибка 404

        p.errors__text.errors__box.
            К сожалению, мы не можем найти запрашиваемую вами страницу.
            Возможно она была удалена, переименована или же была допущена ошибка
            при вводе адреса страницы в адресной строке браузера.
            Вы можете попробовать найти интересующий вас товар,
            используя <a class="errors__link" href="sitemap.html">Карту сайта</a> или перейти на

        div.errors__box
            a.errors__link(href="main.html") Главную страницу

