extends includes/common/_main

block title
    +setTitle('Все страницы сайта')

block content
    +breadcrumb-simple('Все страницы сайта')

    +pageTitle('Все страницы сайта', 'true')

    div.form
        div.form-field
            a.btn(href="catalog-nofilter.html") Каталог без фильтра

        div.form-field
            a.btn(href="faq.html") Вопросы и ответы

        div.form-field
            a.btn(href="404.html") Ошибка 404

        div.form-field
            a.btn(href="cart.html") Корзина

        div.form-field
            a.btn(href="order.html") Ваш заказ

        div.form-field
            a.btn(href="order-status.html") Проверить статус заказа


        div.form-field
            a.btn(href="forgotpassword.html") Восстановление пароля


        div.form-field
            a.btn(href="account/orders.html") Мои заказы

        div.form-field
            a.btn(href="account/profile.html") Мой профиль

        div.form-field
            a.btn(href="account/wishlist.html") Избранное

        div.form-field
            a.btn(href="account/reviews.html") Мои отзывы

        div.form-field
            a.btn(href="arrived-popup.html") Уведомить о поступлении