extends includes/common/_main

block vars
    - var bodyClassName = 'page-cart';

block title
    +setTitle('Корзина')

block content

    +breadcrumb-simple('Корзина')

    div.onestep-cart
        +pageTitle('Корзина', 'true')

        include cart/_cart__product-table

        div.checkout

            include cart/_cart__contact-info

            include cart/_cart__delivery

            include cart/_cart__payments

            include cart/_cart__confirm




