extends includes/common/_main

block title
    +setTitle('Каталог товаров')

    div.category

        +breadcrumb-simple('Раковины для ванной')

        +pageTitle('Раковины для ванной', 'true')

        div.category__submenu-wrap
            include category/_category__submenu

        div.category__products

            include category/_category__products

            include includes/catalog/_block__text

            include category/_category__products

            include includes/catalog/_block__text

            include category/_category__products

            include includes/components/_button__load-more

            include includes/components/_pagination

        //div.category__filter.category__filter--tmp.filter Фильтр
block content



block aside-content
    div.offers.offers--aside
        +title('h3', 'Скидки')

        section.thumbs.thumbs--aside
            - for (var i = 0; i < 7; i++)
                +product_thumb_sale


