extends includes/common/_main

block title
    +setTitle('Каталог товаров')

block content

    div.category

        +breadcrumb-simple('Раковины для ванной')

        +pageTitle('Раковины для ванной', 'true')

        div.category__submenu-wrap
            //include category/_category__submenu
            include category/_category__submenu2



        div.category__products.category__products-w-filter

            include category/_category__products

            include includes/catalog/_block__text

            include category/_category__products

            include includes/catalog/_block__text

            include category/_category__products

            include includes/components/_button__load-more

            include includes/components/_pagination

        div.category__filter.filter
            include category/_category__filter


block aside-content
    div.offers.offers--aside
        h3.title.title--aside
            span.title__text Скидки

        section.thumbs.thumbs--aside
            - for (var i = 0; i < 7; i++)
                +product_thumb_sale


