extends includes/common/_main

block title
    +setTitle('Возможно ли изготовление изделий под заказ?')

block content
    +breadcrumbs

    include articles/_article__faq-item

    include productpage/_product__faq

    include productpage/_product__comments