extends includes/common/_main

block title
    +setTitle('Вопросы и ответы')

block content

    +breadcrumb-simple('Вопросы и ответы')

    +pageTitle('Вопросы и ответы', 'true')

    section.answers
        +faq-item(3)

        +faq-item-large


    include includes/components/_button__load-more

    include includes/components/_pagination