extends includes/common/_main

block title
    +setTitle('Вход')

div.page-login(role="main")

    block content

        +breadcrumb-simple('Восстановление пароля')

        +pageTitle('Восстановление пароля', 'true')

        form.wa-form.form(name="login" action="login.html" method="get")

            div.wa-field.form-field
                div.va-value
                    +inputbox('name', 'Введите ваш e-mail:')

            div.wa-field.form-field
                div.va-value.wa-submit
                    input(type="submit" value="Сбросить пароль")

                    a(href="login.html") Я вспомнил пароль!