extends ./includes/common/_main.jade

block title
    +setTitle('Значки')



block content
    style.
        .icons-wrap > * {
            margin: 0 18px 18px 0
        }

    - var icons = ['compare', 'wishlist', 'delivery', 'warranty', 'dealers', 'return', 'work'];
    div.icons-wrap
        each icon in icons
            +icon(icon)

        br
        br

        a.btn(href="#") Задать вопрос по товару

        br

        input(class="btn" type="submit" value="Отправить")

        br

        a.btn.btn--primary(href="#") Заказать производство

        br

        //input(class="inputbox" type="text" placeholder="Телефон(необязательно)")
        form.form(name="comment" action="product.html" method="get")
            div.form-field
                +inputbox('phone', 'Телефон(необязательно)')

            div.form-field.form-field--large
                +textarea('message', 'Сообщение:')

