extends includes/common/_main

block title
    +setTitle('Вход')

block content

    div.page-login(role="main")

        +breadcrumb-simple('Вход')

        +pageTitle('Вход', 'true')


        form.wa-form.form(name="login" action="account/orders.html" method="get")

            div.wa-auth-adapters.form-field--large
                p.wa-auth-adapters__message.
                    Зарегистрируйтесь с помощью
                    социальной сети или формы ниже:

                ul
                    li.wa-auth-adapter-facebook
                        a(href="/oauth.php?app=shop&amp;provider=facebook")
                    li.wa-auth-adapter-google
                        a(href="/oauth.php?app=shop&amp;provider=google")
                    li.wa-auth-adapter-vkontakte
                        a(href="/oauth.php?app=shop&amp;provider=google")
                    li.wa-auth-adapter-twitter
                        a(href="/oauth.php?app=shop&amp;provider=google")


            div.wa-field.form-field
                div.va-value
                    +inputbox('name', 'E-mail:')

            div.wa-field.form-field
                div.va-value
                    +inputbox('name', 'Пароль:')

            div.wa-field.form-field
                div.wa-value.wa-submit.auth-message <a href="forgotpassword.html">Забыли пароль?</a>&nbsp; | &nbsp;<a href="register.html">Регистрация</a>

                div.wa-value.wa-submit
                    input(type="submit" value="Войти")



