extends ./includes/common/_main.jade

block vars
    - var bodyClassName = 'page-main';

block title
    +setTitle('Главная страница')

block content
    +categoryMain('a', 'Раковины для ванной')

    +categoryMain('a', 'Напольные раковины')

    +categoryMain('a', 'Поддоны для душа')

    include includes/catalog/_block__text

    +categoryMain('a', 'Раковины для ванной')

    +categoryMain('a', 'Напольные раковины')

    +categoryMain('a', 'Поддоны для душа')

    include includes/catalog/_block__text

    +categoryMain('a', 'Раковины для ванной')

    +categoryMain('a', 'Напольные раковины')

    +categoryMain('a', 'Поддоны для душа')

    include includes/catalog/_block__text

    include includes/components/_button__load-more

    include includes/components/_pagination

    include includes/components/_user-fixed-row
