extends includes/common/_main

block title
    +setTitle('Ваш заказ')

div.page-login(role="main")

    block content

        +breadcrumb-simple('Ваш заказ')

        +pageTitle('Ваш заказ', 'true')

        div.order
            div.box
                | Ваш заказ № 05624 оформлен, менеджер
                | свяжется с вами для обсуждения деталей
                | оплаты и доставки с 10:00 до 19:00.

            div.box
                a.btn.btn--primary(href="#") Распечатать счет