extends ./includes/common/_main

block title
    +setTitle('Статус заказа')


block content
    +breadcrumb-simple('Проверить статус заказа')

    +pageTitle('Проверить статус заказа', 'true')

    form.form
        div.form-field
            +inputbox('check_order_status', 'Введите номер вашего заказа')

        div.form-field
            +submit-btn('Проверить')

