extends ./includes/common/_main.jade




block title
    +setTitle('Раковина для ванной овальная накладная из песчаника Distrito 142538561')

block content


    div.product
        +breadcrumbs

        +pageTitle('Раковина для ванной овальная накладная из песчаника Distrito 142538561')


        div.product__top
            div.product__top-slider
                div.product__production Начало производства: &nbsp;
                    span.nowrap сентябрь 2011 года.

                include productpage/_product__carousel

            include productpage/_product__aside

            include productpage/_product__features



        include productpage/_product__tabs

        include productpage/_product__description

        include category/_category__products

        include productpage/_product__faq

        include productpage/_product__address

        include productpage/_product__comments

        include productpage/_product__added-to-cart

block prepend bottom_script
    script(src="http://sheerdesign.ru/wa-data/public/shop/themes/sheerdecor/jquery.bxslider.min.js")