{if $question_show_name_field > 0}
<div class="question-field">
    <div class="question-caption">Ваше имя:</div>
    <input class="question-txt question-name" maxlength="150" type="text">
</div>
{/if}
<div class="question-field">
    <div class="question-caption">Ваш e-mail:</div>
    <input class="question-email question-txt" type="text" size="28"
           maxlength="150"/>
</div>
{if $question_show_phone_field > 0}
<div class="question-field">
    <div class="question-caption">[`Phone`]:</div>
    <input class="question-phone question-txt" type="text"
           size="28" maxlength="50"/>
</div>
{/if}
<div class="question-field">
    <div class="question-caption">Ваш вопрос::</div>
    <textarea class="question-txt question-text" rows="3"></textarea>
</div>
<div class="question-field">
    <div class="question-submit">
        <input class="btn" type="button" value="Отправить"
               id="question-send"/>
    </div>
</div>
    <div class="question-result ">
        <span class="question-loading"></span>
        <span class="question-success question-result-field">{$question_success_msg}</span>
        <span class="question-warning question-result-field">[`Please, fill all fields.`]</span>
        <span class="question-email-warning question-result-field">[`E-Mail is not correct.`]</span>
        <span class="question-error question-result-field">{$question_error_msg}</span>
</div>