extends includes/common/_main

block title
    +setTitle('Регистрация')

block content
    div#page.wa-signup-form(role="main")

        +breadcrumb-simple('Регистрация')

        +pageTitle('Регистрация', 'true')

        form.wa-form.form(name="register" action="register.html" method="get")

            div.wa-auth-adapters.form-field--large
                p.wa-auth-adapters__message.
                    Зарегистрируйтесь с помощью
                    социальной сети или формы ниже:

                ul
                    li.wa-auth-adapter-facebook
                        a(href="/oauth.php?app=shop&amp;provider=facebook")
                    li.wa-auth-adapter-google
                        a(href="/oauth.php?app=shop&amp;provider=google")
                    li.wa-auth-adapter-vkontakte
                        a(href="/oauth.php?app=shop&amp;provider=google")
                    li.wa-auth-adapter-twitter
                        a(href="/oauth.php?app=shop&amp;provider=google")


            div.wa-field.form-field
                div.va-value
                    +inputbox('name', 'Имя:')

            div.wa-field.form-field
                div.va-value
                    +inputbox('email', 'E-mail:')

            div.wa-field.form-field
                div.va-value
                    +inputbox('phone', 'Телефон (необязательно):')

            div.wa-field.form-field
                div.va-value
                    +inputbox('name', 'Пароль:')

            div.wa-field.form-field
                div.va-value
                    +inputbox('password_confirm', 'Подтвердите пароль:')

            div.wa-field.form-field
                div.va-value.wa-submit
                    input(type="submit" value="Войти")

                    | или
                    a(href="login.html") войдите
                    |, если у вас уже есть аккаунт


        div.signup-note
            h2.signup-note__title Что вам будет доступно после авторизации:

            ul.signup-note-list
                li.signup-note-list__item Индивидуальная программа скидок
                li.signup-note-list__item Сохранение всех отложенных товаров в Личном кабинете
                li.signup-note-list__item Получение рассылок о снижении цен
                li.signup-note-list__item Управление списками сравнения товаров
                li.signup-note-list__item Добавление комментариев и обсуждение товаров.
