extends includes/common/_main

block title
    +setTitle('Услуги')
    
block content

    +breadcrumb-simple('Услуги')

    +pageTitle('Наши услуги', 'true')

    div.page-text
        include servicepage/_service__text_1

        include servicepage/_service__table

        include servicepage/_service__text_2

        include productpage/_product__faq

        include servicepage/_service__comments
