<div class="category__submenu2-wrap">
<ul class="submenu2">
<li class="submenu2__item submenu2__item--parent">
<a href="/wooden-sinks/" class="submenu2__link submenu2__link--second">Деревяные раковины</a>
<ul class="submenu2__in">
<li class="submenu2__item submenu2__item--child">
<a href="/bamboo-sinks/" class="submenu2__link submenu2__link--child">Бамбуковые раковины</a>
</li>
</ul>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="/artificial-stone-sinks/" class="submenu2__link submenu2__link--second">Раковины для ванной из искусственного камня</a>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="/stone-sinks/" class="submenu2__link submenu2__link--second">Каменные раковины</a>
<ul class="submenu2__in">
<li class="submenu2__item submenu2__item--child">
<a href="/basalt-sinks/" class="submenu2__link submenu2__link--child">Базальтовые раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/granite-sinks/" class="submenu2__link submenu2__link--child">Гранитные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/marble-sinks/" class="submenu2__link submenu2__link--child">Мраморные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/andesite-sinks/" class="submenu2__link submenu2__link--child">Раковины из андезита</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/quartzite-sinks/" class="submenu2__link submenu2__link--child">Раковины из кварцита</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/onyx-sinks/" class="submenu2__link submenu2__link--child">Раковины из оникса</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/sandstone-sinks/" class="submenu2__link submenu2__link--child">Раковины из песчаника</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/travertine-sinks/" class="submenu2__link submenu2__link--child">Раковины из травертина</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/fluorite-sinks/" class="submenu2__link submenu2__link--child">Раковины из флюорита</a>
</li>
</ul>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="/metal-sinks/" class="submenu2__link submenu2__link--second">Металлические раковины</a>
<ul class="submenu2__in">
<li class="submenu2__item submenu2__item--child">
<a href="/bronze-sinks/" class="submenu2__link submenu2__link--child">Бронзовые раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/copper-sinks/" class="submenu2__link submenu2__link--child">Медные раковины</a>
</li>
</ul>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="/installation/" class="submenu2__link submenu2__link--second">по способу установки</a>
<ul class="submenu2__in">
<li class="submenu2__item submenu2__item--child">
<a href="/recessed-sinks/" class="submenu2__link submenu2__link--child">Встраиваемые раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/overhead-sinks/" class="submenu2__link submenu2__link--child">Накладные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/floor-sinks/" class="submenu2__link submenu2__link--child">Напольные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/corner-sinks/" class="submenu2__link submenu2__link--child">Угловые раковины</a>
</li>
</ul>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="/shape/" class="submenu2__link submenu2__link--second">по форме раковин</a>
<ul class="submenu2__in">
<li class="submenu2__item submenu2__item--child">
<a href="/square-sinks/" class="submenu2__link submenu2__link--child">Квадратные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/custom-sinks/" class="submenu2__link submenu2__link--child">Нестандартные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/oval-sinks/" class="submenu2__link submenu2__link--child">Овальные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/rectangular-sinks/" class="submenu2__link submenu2__link--child">Прямоугольные раковины</a>
</li>
<li class="submenu2__item submenu2__item--child">
<a href="/bowl-sinks/" class="submenu2__link submenu2__link--child">Раковины чаши</a>
</li>
</ul>
</li>
<li class="submenu2__item submenu2__item--parent">
<a href="//" class="submenu2__link submenu2__link--second">Стекляные раковины</a>
</li>
</ul>
</div>