

-
    var submenu = [
    'Каменные раковины',
    'Бамбуковые раковины',
    'Деревяные раковины',
    'Медные раковины',
    'Нестандартные раковины',
    'Бронзовые раковины',
    'Курны для хамама',
    'Встраиваемые раковины',
    'Накладные раковины',
    'Цветные раковины',
    'Раковины чаши',
    'Прямоугольные раковины',
    'Квадратные раковины',
    'Овальные раковины'
    ];

ul.submenu
    each linkName in submenu
        li(class="submenu__item")
            a(href="catalog.html", class="submenu__link")
                = linkName