/* ======================================================================== *\
    Блок адреса
\* ======================================================================== */
.address {

  &__map-wrap {

  }

  &__map {
    width: 100%;
    max-width: 100%;
    height: 290px;

    @media screen and (min-width: $step1) {
      height: 401px;
    }

    > ymaps,
    > ymaps > ymaps {
      width: 100% !important;
    }

    [class*="ymaps-"] {
      &[class*="-map"] {
        width: 100% !important;
      }
    }
  }

  &__note {
    display: none;

    @media screen and (min-width: $step2) {
      display: block;
      margin-top: 16px;
    }
  }
}

