/* ======================================================================== *\
    Ссылка на whatsapp
\* ======================================================================== */

.app-connect {
  position: relative;
  float: left;
  display: table-cell;
  vertical-align: middle;

  @media screen and (max-width: $step1w - 1px) {
    position: absolute;
    top: 13px;
    right: 0;
  }

  &__link {
    display: block;
    height: $icon-icon-cart-height;
    width: $icon-icon-cart-height;
    text-decoration: none;
    background: url("../images/whatsapp.png") no-repeat 50% 50%;
    background-size: contain;
  }
}

