
.plugin_arrived {

  &-overlay {
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 8010;
    background: rgba(#000, .5);
  }

  &-popup {
    select,
    input[type="text"] {
      padding: 4px 14px;
      width: 100%;

      font-size: 14px;
      box-sizing: border-box;
      border: 1px solid #d9d8d6;
    }
  }

  &-box {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 8011;
    width: 395px;
    max-width: 96%;
    min-height: 226px;
    padding: 23px 24px 24px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 3px 16px 4px rgba(21, 17, 3, 0.5);

    @media screen and (max-width: 419px) {
      left: 2%;
      right: 2%;
      margin-left: 0 !important;
    }

    .plugin_arrived-popup & {
      display: block;
    }

    .msg_errors {
      display: none;
      color: #f00;
      padding-bottom: 18px;
    }
  }

  &-header {
    margin-bottom: 22px;
    color: $color--green;
    font-size: $block--font-size;
    font-weight: 500;
    line-height: 1;

    span {
      padding: 0;
    }
  }

  &-close {
    position: relative;
    float: right;
    color: $color--text;

    cursor: pointer;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
      content: '✖';
    }

    &:hover {
      color: $color--green;
    }
  }

  &-body {
    overflow: auto;

    .errormsg {
      display: block;
      color: #ff0000;
      font-size: 12px;
    }
  }

  &-success {
    display: none;
    line-height: 18px;
  }

  &-field {
    @include clearfix;

    & ~ & {
      margin-top: 24px;
    }
  }

  &-name {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    text-align: left;

    @media screen and (min-width: 420px) {
      float: left;
      margin-top: 8px;
    }

    &.not_bold {
      font-weight: normal;
      padding-bottom: 10px;
    }

    /*
    &.required:before {
        content: '*';
        color: #ff0000;
        margin-right: 2px;
    }
    */
  }

  &-value {
    width: 100%;

    @media screen and (min-width: 420px) {
      width: $box-width;
      float: right;
    }

    &.submit {
      margin-bottom: 0;
      text-align: center;
    }

    input[type="submit"] {
      @extend .btn;
    }
  }

  &-loading {
    background: url("../wa-content/img/loading16.gif") no-repeat 0 0;
    display: inline-block;
    min-width: 16px;
    height: 16px;
    vertical-align: middle;
    padding-left: 20px;
    font: normal normal 12px/16px Tahoma;
    color: #333;
    display: none;
  }
}

