
/* ======================================================================== *\
    Отдельная статья
\* ======================================================================== */

.article {
    @include clearfix;

    &__title {
        text-transform: uppercase;

        &:after {
            display: none;
        }
    }

    h2 {
        @extend .subtitle;
        margin-top: 1.25em;
        margin-bottom: 1em;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.6;
    }

    &__content {

    }

    &__images {
        text-align: center;

        @media screen and (min-width: $step2) {
            @include set-left-margin(false);
            float: right;
        }

        .thumb {
            display: block;
            margin: 0 auto $margin-vertical;
        }
    }

    &__images--mobile {
        @media screen and (min-width: $step2) {

        }
    }
}
