/* ======================================================================== *\
    Заголовки блоков
\* ======================================================================== */

.title {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: -2px;
  margin-bottom: 0;
  font-size: $block--font-size;
  font-weight: $block--font-weight;
  line-height: 1.2;

  &__text {
    display: inline-block;
    padding-right: 16px;

    color: $color--black;
    background: #fff;
    text-decoration: none;

    .bd-bg--desktop & {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $color--green;
      }
    }
  }

  //@media screen and (min-width: $step1) {
  /*
      &:after {
          position: absolute;
          top: 50%;
          right: 0;
          left: 50px;
          z-index: -1;
          height: 1px;
          background: $border-color;
          content: '';
          transition: background .2s;
      }
      */
  //}

  &--aside &__text {
    padding-right: 4px;
    //text-transform: uppercase;
  }

  h2#{&},
  h3#{&},
  h4#{&} {
    font-size: 14px;
  }
}

.block-title {
  @extend .title;
  margin-bottom: 18px;
  line-height: 1;
  text-transform: uppercase;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 50px;
    z-index: -1;
    height: 1px;
    background: $border-color;
    content: '';
    transition: background .2s;
  }

  &__text {
    @extend .title__text;
    font-size: 14px;
  }

  .product & {
    font-weight: 700;
  }
}

h1 {
  @extend .title;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 700;

  .page-title {
    @extend .title__text;
    //text-transform: uppercase;
  }

  .product & {
    text-transform: none;
  }

  .category & {
    text-transform: uppercase;
  }

  .category &,
  .product & {
    //padding-top: 4px;
    // font-weight: 500;

    &:after {
      display: none;
    }
  }

  .category & {

    margin-bottom: 11px;

    @media screen and (max-width: $step2 - 1px) {
      margin-bottom: 18px;
    }

    @media screen and (min-width: $step3) {
      margin-top: -4px;
    }
  }

  .page-login & {
    @media screen and (max-width: $step1 - 1px) {
      margin-bottom: 15px;
    }
  }
}

.category-title {
  @extend .title;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -4px;
  margin-bottom: -4px;

  text-transform: uppercase;
  box-sizing: border-box;
  transition: all .2s;

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    left: 50px;
    z-index: -1;
    height: 1px;
    background: $border-color;
    content: '';
    transition: background .2s;
  }

  @media screen and (max-width: $step1 - 1px) {
    text-align: center;

    &:after {
      display: none;
    }
  }

  &:hover {
    padding: 4px;
    color: #fff;
    background: $button--bg--active;

    &:after {
      background: #fff;
    }
  }

  &__text {
    display: inline-block;
    padding-right: 16px;
    margin: 0;

    font-size: 16px;
    font-weight: 300;
    color: $color--black;
    text-decoration: none;
    background: #fff;
    transition: all .2s;

    .category-title:hover & {
      margin-left: 6px;
      color: #fff;
      background: $button--bg--active;

      @media screen and (max-width: $step1 - 1px) {
        margin-left: 0;
      }
    }
  }

  &__more {
    display: none;

    @media screen and (min-width: $step1) {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      height: 100%;
      padding-right: 8px;
      padding-left: 16px;

      font-size: 14px;
      font-weight: 300;
      line-height: 27px;
      color: #fff;
      text-transform: uppercase;
      opacity: 0;

      transition: all .15s;

      .category-title:hover & {
        background: $button--bg--active;
        opacity: 1;
      }
    }
  }
}




