/* ======================================================================== *\
    Хлебные крошки
\* ======================================================================== */

.breadcrumb {
    @include unstyled-list;
    margin-top: -2px;
    margin-bottom: 16px;

    &__item {
        display: inline-block;
        white-space: nowrap;

        &:not(:last-child) {
            &:after {
                display: inline;
                padding: 0 4px;
                content: '>';
            }
        }

        .category & {
            &:last-child {
                &:after {
                    display: inline;
                    padding: 0 4px;
                    content: '>';
                }
            }
        }
    }

    &__link {
        font-size: $base--font-size;
        color: $color--text;
        text-decoration: none;

        &:hover:not(span) {
            color: $color--green;
            text-decoration: underline;
        }

        &--current {
            font-weight: 500;
            color: $color--green;
        }
    }

    &__text {
    }

    .category & {
        //margin-top: 14px;
        //margin-bottom: 12px;
    }

    .page-cart & {
        margin-bottom: 11px;

        @media screen and (min-width: $step1) {
            margin-bottom: 16px;
        }
    }
}

