/* ======================================================================== *\
    Базовые кнопки
\* ======================================================================== */

.btn {
    display: inline-block;
    width: 100%;
    height: $button--height;
    min-height: $button--height;
    box-sizing: border-box;

    font-size: $base--font-size;
    font-weight: $base--font-weigth;
    color: $color--text;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: $button--height;

    background: $button--bg--default;
    border: 1px solid $border-color;
    cursor: pointer;

    transition: all .3s;

    @media screen and (min-width: $step1) {
        width: $box-width;
    }

    &:hover {
        color: #fff;
        background: $button--bg--active;
        border-color: $button--bg--active;
        text-decoration: none;
    }

    &--primary {
        font-weight: 500;
        color: #fff;
        background: $button--bg--active;
        border-color: $button--bg--active;
    }

    &--large {
        height: 38px;
        line-height: 38px;
    }

    &--edit-profile {

        @media screen and (min-width: $step2) {
            float: right;
        }
    }

    &--filter-toggle {
        width: 100%;
        border-color: $color--green;
    }

    &--buy {
        border-color: $color--green;
    }
}


.readon {
    @include link-as-text;
    text-transform: uppercase;

    &:hover {
        @include link-as-text-hover-green;
        text-decoration: underline;
    }
}

