/* ======================================================================== *\
    Кнопки действий
\* ======================================================================== */

.icon {
    display: inline-block;
    vertical-align: middle;
    @include sprite-image($icon-icon-work);

    .product-aside__action & {
        margin-right: 5px;
    }

    &--user {
        @include sprite-size-position($icon-icon-user);

        a:hover & {
            @include sprite-position($icon-icon-user-active);
        }
    }

    &--cart {
        @include sprite-size-position($icon-icon-cart);

        .row-link--active &,
        a:hover &,
        &:hover {
            @include sprite-position($icon-icon-cart-active);
        }
    }

    &--compare {
        @include sprite-size-position($icon-icon-compare);

        .row-link--active &,
        a:hover &,
        a.selected &,
        &:hover,
        &.active,
        &.selected {
            @include sprite-position($icon-icon-compare-active);
        }

        .prod & {
            @media screen and (max-width: $step3 - 1px) {
                display: none;
            }
        }
    }

    &--wishlist {
        @include sprite-size-position($icon-icon-wishlist);

        .row-link--active &,
        a:hover &,
        a.selected &,
        &:hover,
        &.active,
        &.selected {
            @include sprite-position($icon-icon-wishlist-active);
        }
    }

    &--payment {
        @include sprite-size-position($icon-icon-payment);

        &:hover {
            @include sprite-position($icon-icon-payment-active);
        }
    }

    &--warranty {
        @include sprite-size-position($icon-icon-warranty);

        &:hover {
            @include sprite-position($icon-icon-warranty-active);
        }
    }

    &--dealers {
        @include sprite-size-position($icon-icon-dealers);

        &:hover {
            @include sprite-position($icon-icon-dealers-active);
        }
    }

    &--return {
        @include sprite-size-position($icon-icon-return);

        &:hover {
            @include sprite-position($icon-icon-return-active);
        }
    }

    &--work {
        @include sprite-size-position($icon-icon-work);

        &:hover {
            @include sprite-position($icon-icon-work-active);
        }
    }


    .icons-wrap & {
        margin: 5px;
    }
}
