/* ======================================================================== *\
    Кнопка AJAX "Показать еще"
\* ======================================================================== */
.load-more-wrap {
  margin-top: 27px - 18px;
  margin-bottom: 18px;
}

.load-more {
  @include link-as-text;
  display: block;
  width: 100%;
  height: $button--height;

  text-align: center;
  text-transform: uppercase;
  line-height: $button--height;

  box-sizing: border-box;
  background: $button--bg--default;
  border: 1px solid $border-color;

  transition: all .3s;
  cursor: pointer;

  @media screen and (min-width: $step3) {
    margin-bottom: 25px;
  }

  &:hover,
  &:active {
    color: #fff;
    background: $color--green;
    border-color: $color--green;
  }
}
