/* ======================================================================== *\
    Блоки категорий
\* ======================================================================== */

.category-block {

  &:first-child {
    padding-top: 4px;
  }

  & + & {
    //margin-top: 20px;

    @media screen and (min-width: $step1) {
      margin-top: 2px;
    }

    @media screen and (min-width: $step3) {
      margin-top: 6px;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
      margin-top: 15px;
    }

    @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
      margin-top: 15px;
    }
  }

  .category-text + & {
    /*margin-top: 20px;*/

    @media screen and (min-width: $step3) {
        margin-top: 20px;
    }
  }
}

.category-text {
  display: none;
  margin-top: 16px;
  line-height: 1.21;

  @media screen and (min-width: $step3) {
    display: block;
    margin-top: 2px;
  }
}

