/* ======================================================================== *\
    Оформление заказа - Подтверждение заказа
\* ======================================================================== */

.ct-row {
    @include clearfix;

    padding-top: 23px;
    padding-bottom: 20px;
    border-top: 1px solid $border-color;

    @media screen and (min-width: $step2) {
        @include set-left-margin(true);
    }

    &:last-child {
        border-bottom: 0;
    }

    &--total {
        font-size: 16px;
        font-weight: 500;
    }
}

.ct {
    width: 100%;
    overflow: hidden;

    &__product {
        float: left;
        text-align: left;
    }

    &__count {
        float: right;

        @media screen and (min-width: $step2) {
            text-align: center;
        }
    }

    &__price {
        clear: both;
        width: 100%;
        text-align: right;

        @media screen and (min-width: $step2) {
            clear: none;
            text-align: center;
        }
    }

    &__hidden {
        display: none;

        @media screen and (min-width: $step2) {
            display: block;
        }
    }

    &__label {
        float: left;

        @media screen and (min-width: $step2) {
            text-align: center;
        }
    }

    &__label--total {
        text-transform: uppercase;
    }

    &__value {
        float: right;

        @media screen and (min-width: $step2) {
            text-align: center;
        }

        &--total-price {
            color: $color--green;
        }
    }
}

.ct-cell {

    @media screen and (min-width: $step2) {
        @include set-left-margin(false);
        float: left;
        clear: none;
        width: $box-width;
    }

    &--first {

        @media screen and (min-width: $step4) {
            width: $box-width * 2 + $gutter--middle;
        }

        @media screen and (min-width: $step4w) {
            width: $box-width * 2 + $gutter;
        }

        @media screen and (min-width: $step5) {
            width: $box-width * 3 + $gutter * 2;
        }

        @media screen and (min-width: $step6) {
            width: $box-width * 4 + $gutter * 3;
        }
    }
}
