/* ======================================================================== *\
    Корзина при оформлении заказа
\* ======================================================================== */

.onestep-cart {
    h1 {
        margin-bottom: 14px;
        color: $color--green;

        @media screen and (min-width: $step3) {
            margin-bottom: 22px;
        }
    }
}

.cart {
    @include clearfix;
    width: 100%;
    margin-top: 0;
    text-align: center;

    @media screen and (min-width: $step1) {

    }

    .row {
        margin-left: 0;
    }

    &__row {
        padding-top: $margin-vertical;
        padding-bottom: $margin-vertical;
        border-bottom: 1px solid $border-color;

        &:first-child {
            padding-top: 0;

            .cart-cell {
                padding-top: 0;
            }
        }

        @media screen and (min-width: $step1) {
            @include clearfix;
        }

        @media screen and (min-width: $step3) {
            padding-top: $gutter--vertical;
            padding-bottom: $gutter--vertical;
        }

        &--footer {
            @include clearfix;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &-cell {
        display: inline-block;
        //margin-bottom: $gutter--vertical;

        & + & {
            margin-top: $margin-vertical--small;

            @media screen and (min-width: $step1) {
                margin-top: 14px;
            }
        }

        @media screen and (min-width: $step1) {
            display: block;
            float: left;
            width: $box-width;
        }
    }

    &__img {
        width: $box-width;

        .thumb {
            display: block;
        }
    }

    &__product {
        display: inline-block;
        width: $box-width;

        @media screen and (min-width: $step1) {
            @include set-left-padding(false);
            display: block;

            text-align: left;
        }

        @media screen and (min-width: $step4) {
            width: $box-width * 2 + $gutter--middle;
        }

        @media screen and (min-width: $step4w) {
            width: $box-width * 2 + $gutter;
        }

        @media screen and (min-width: $step5) {
            width: $box-width * 3 + $gutter * 2;
        }

        @media screen and (min-width: $step6) {
            width: $box-width * 4 + $gutter * 3;
        }
    }

    &__prod-name {
        //margin-bottom: 11px;
        font-size: 16px;
        font-weight: 500;
    }

    &__prod-link {
        color: $color--text;
        text-decoration: none;

        &:hover {
            color: $color--green;
            text-decoration: underline;
        }
    }

    &-cell + &__price {
        margin-top: 13px;

        @media screen and (min-width: $step1) {
            margin-top: 16px;
        }
    }

    &__price {

        /*
        @media screen and (min-width: $step1) {
            @include set-left-margin(false);
        }

        @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {

        }
        */
    }

    &__prod-note {
        margin-top: 11px;
        line-height: 1.26;
    }

    &__price-wrap {
        //@include set-left-padding(false);
        font-weight: 500;
    }

    &__price-old {
        text-decoration: line-through;
    }

    &__discount {
        padding: 0 13px;
    }

    &__price-note {
        margin-bottom: 15px;
    }

    &__count-wrap {
        margin-top: 15px;

        .remove {
            margin: 0 0 2px 3px;
            vertical-align: middle;
        }
    }

    & &__count-input {
        width: 56px;
        margin-right: 9px;
        margin-left: 5px;
        text-align: center;
        vertical-align: middle;
    }

    &__footer-label {
        float: left;

        @media screen and (min-width: $step1) {
            width: $box-width;
            text-align: center;
        }

        @media screen and (min-width: $step1) {
            margin-left: $box-width + $gutter;
        }

        @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
            margin-left: $box-width + $gutter--middle;
        }

        @media screen and (min-width: $step3w) {
            margin-left: $box-width + $gutter;
        }

        @media screen and (min-width: $step4) and (max-width: $step4w) {
            margin-left: $box-width * 2 + $gutter--middle * 2;
        }

        @media screen and (min-width: $step4w) {
            margin-left: $box-width * 2 + $gutter * 2;
        }

        @media screen and (min-width: $step5) {
            margin-left: $box-width * 3 + $gutter * 3;
        }

        @media screen and (min-width: $step6) {
            margin-left: $box-width * 4 + $gutter * 4;
        }
    }

    &__value {
        float: right;
        text-align: right;

        @media screen and (min-width: $step1) {
            @include set-left-margin(false);
            width: $box-width;
            text-align: center;
        }
    }

    &__total {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 0;
    }

    &__total-label {

    }

    &__button-wrap {
        margin-bottom: 18px;
        text-align: center;

        @media screen and (min-width: $step1) {
            margin-bottom: 24px;
            text-align: right;
        }
    }
}

