
.checkout {
    //padding-left: 5px;

    ul {
        @include unstyled-list;
    }

    .menu-v {
        @include unstyled-list;

        li {
            @include clearfix;
            display: block;
            padding-bottom: 7px;

            @media screen and (min-width: $step3) {
                padding-bottom: 12px;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .label {
        cursor: pointer;
    }

    .radio {
        float: left;
        margin-right: 9px;
    }

    &__client-type {
        width: 100%;
        height: 29px;

        background: none;
    }

    &__label-in {
        margin-left: 22px;
    }

    &__delivery {

    }

    .btn {
        @media screen and (max-width: $step1 - 1px) {
            width: 100%;
        }
    }

    .block-title__text {
        position: relative;
    }

    .loading:not(.icon16) {
        position: absolute;
        top: -1px;
        left: auto;
        padding-left: 13px;
        padding-right: 16px;
        background: #fff;

        .loading {
            margin: 0;
        }
    }
}

.radio {

    .checkout-step & {
        margin-top: 1px;
    }

    .step-delivery & {
        margin-top: 2px;
    }
}

.checkbox {

    .step-contactinfo & {
        float: left;
        margin-top: 1px;
        margin-right: 9px;
    }
}

.step-delivery {

    .menu-v li {
        padding-bottom: 16px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.step-confirmation {

    .large td {
        font-size: 16px;
        font-weight: 500;
        
        &:last-child {
            color: $color--green;
        }
    }

    .inputbox--textarea {
        width: 100%;
        max-width: 100%;
        min-height: 141px;
        margin-bottom: 24px;
    }
}

.radio-title {
    padding-bottom: 9px;
    font-size: 16px;
    font-weight: 500;
}

.delivery-descr {

    @media screen and (min-width: $step3) {
        float: left;
    }
}

.delivery-price {
    height: auto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;

    @media screen and (min-width: $step3) {
        width: $box-width;
        float: right;
        text-align: center;
    }
}


.checkout-step {
    margin-bottom: 24px;

    @media screen and (min-width: $step1) {
        margin-bottom: 0;
    }
}
