
.answers {

    margin-top: 20px;

    &__title {
        display: inline-block;
        text-transform: uppercase;
    }

    &__item {
        @include clearfix;
        @extend %border-bottom;
        padding-bottom: 23px;
        margin-top: -4px;
        margin-bottom: 24px;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }

        p {
            line-height: 1.6;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__question {
        margin-top: 0;
        margin-bottom: 18px;
        font-size: $block--font-size;
        font-weight: 700;
        line-height: 1;
    }

    &__answer {
        //margin-bottom: 18px;
        line-height: 1;
    }

    &__img-wrap {
        display: none;

        @media screen and (min-width: $step2) {
            display: block;
            float: right;
            margin: 4px 0 0 18px;
            font-size: 0;
        }
    }

    &__img {

    }
    
    &__readon {
        //@include link-as-text;
        display: inline-block;
        margin-top: 18px;

        &:hover {
            @include link-as-text-hover-green;
            text-decoration: underline;
        }
    }
}

.answer {

    &__title {

    }
}

