.featurestips_wrapper {
    margin: 2px 0 0 6px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-weight: normal;
    line-height: 1.3;
}

.featurestips_wrapper .featurestips_icon {
    cursor: pointer;
    display: block;
}

.featurestips_wrapper .featurestips_icon IMG {
    width: 14px;
    height: 14px;
    opacity: 0.5;
}

.featurestips_wrapper .featurestips_view {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    margin-left: -38px;
}

.featurestips_wrapper .tip_view_arrow {
    content: "";
    background: url('../img/arrow.png') 0 0 no-repeat;
    width: 25px;
    height: 15px;
    margin: 0 0 0 -168px;
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    z-index: 9996;
}
.featurestips_wrapper .tip_view_in {
    width: 360px;
    min-height: 40px;
    max-height: 320px;
    padding: 20px;
    margin: 10px 0 0;
    display: inline-block;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.5);
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9995;
}
