/* ======================================================================== *\
    Характеристики товара
\* ======================================================================== */

.features {
  display: block;
  clear: left;

  &:before {
    display: table;
    content: '';
  }

  @media screen and (min-width: $step1w) {
    float: left;
    clear: none;
  }

  @media screen and (min-width: $step4) {
    margin-top: -9px;
  }
}

.feature {
  @include clearfix;
  @extend %border-bottom;
  display: table;
  margin: 0;
  line-height: 1.6;

  background: #fff;
  transition: background .3s;

  @media screen and (max-width: $step1 - 1px) {
    width: 100%;
  }

  @media screen and (min-width: $step1) {
    padding: 6px 0 5px;
  }

  &:hover {
    background: $color--light-gray;
  }

  &__col {
    display: table-cell;
    //float: left;
    width: 50%;
    vertical-align: middle;

    @media screen and (min-width: $step1) {
      width: $box-width;
    }

    @media screen and (min-width: $step6) {
      width: $box-width*2 + $gutter;
    }
  }

  &__name {

    //font-weight: 500;
    color: $color--text;
    box-sizing: border-box;

    transition: color .3s;

    @media screen and (max-width: $step1 - 1px) {
      padding: 8px 5px 8px 0;
      line-height: 18px;
    }

    @media screen and (min-width: $step2) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media screen and (min-width: $step5) and (max-width: $step6) {
      width: $box-width*2 + $gutter;
    }
  }

  &:hover &__name {
    color: $color--green;
  }

  &__value {

    @media screen and (max-width: $step1 - 1px) {
      padding: 8px 0;
      line-height: 18px;
    }

    @media screen and (min-width: $step1) {
      @include set-left-margin();
    }
  }

  .featurestips_wrapper {
    margin-top: 0;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;

    .featurestips_icon img {
      width: 13px !important;
      height: 13px !important;
      padding-bottom: 1px;
      opacity: 1 !important;
    }

    .featurestips_view .tip_view_in {
      color: $color--black !important;
    }
  }

  .featurestips_view {
    font-size: $base--font-size;
    font-weight: 300;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

