.filter {
  .slider {
    margin-bottom: -3px;

    a {
      margin-bottom: 0;
    }
  }

  .filter-slider {
    margin-bottom: 11px !important;

    .ui-slider-handle {
      height: 16px;
      box-shadow: none;
    }
  }
}

