
.icon16 {
    display: inline-block;
    width: 16px;
    height: 16px;
    @include sprite-image($icon-delete);
    background-repeat: no-repeat;

    &.remove {
        @include sprite-position($icon-delete);
        @include sprite-size($icon-delete);
    }
}

