/* ======================================================================== *\
    Формы и поля ввода
\* ======================================================================== */

.wa-form,
.form {

  .wa-field {
    display: block;
    padding-top: 0;
  }

  .field,
  .wa-value,
  &-field {
    display: block;
    width: 100%;
    margin-bottom: 9px;

    @media screen and (min-width: $step1) {
      width: $box-width;
      margin-bottom: 24px;
    }
  }

  &-field--large {
    @media screen and (min-width: $step1) {
      width: $box-width*2 + $gutter;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w) {
      width: $box-width*2 + $gutter--middle;
    }

    @media screen and (min-width: $step4) and (max-width: $step4w) {
      width: $box-width*2 + $gutter--middle;
    }
  }

  &-field--full {
    width: 100%;
  }
}

.inputbox {
  @include border-base;
  display: inline-block;
  width: 100%;
  height: 29px;
  max-width: 100%;
  padding: 4px 9px;

  font-size: $base--font-size;
  color: $color--text;
  vertical-align: top;

  box-sizing: border-box;

  @include input-placeholder {
    color: $color--text;
  }

  @media screen and (min-width: $step1) {
    width: $box-width;
  }

  &--textarea {
    width: 100%;
    height: 73px;
    max-width: $box-width*2 + $gutter;
    padding: 6px 9px;
  }

  @media screen and (max-width: $step1 - 1px) {
    .wa-signup-form & {
      max-width: none;
    }
  }
}

textarea {
  @extend .inputbox;
  @extend .inputbox--textarea;
}

select {
  @include border-base;
  display: inline-block;
  width: 100%;
  height: 29px;
  padding: 4px 9px;

  font-size: $base--font-size;
  color: $color--text;
  vertical-align: top;

  box-sizing: border-box;

  @media screen and (min-width: $step1) {
    width: $box-width;
  }

  &:focus {
    outline: none;
  }
}

.signup-note {
  margin-top: 13px;

  @media screen and (min-width: $step1) {
    margin-top: -5px;
  }

  &__title {
    margin: 0;

    font-size: $block--font-size;
  }
}

.signup-note-list {
  @include unstyled-list;
  padding-top: 7px;

  @media screen and (min-width: $step1) {
    padding-top: 20px;
  }

  &__item {
    padding-bottom: 8px;

    @media screen and (min-width: $step1) {
      padding-bottom: 20px;
    }
  }
}

.comment-form {
  margin-top: 23px;

  @media screen and (max-width: $step1 - 1px) {
    margin-bottom: 9px;
  }
}
