
/* ======================================================================== *\
    Каптча Shopscript
\* ======================================================================== */

.wa-captcha {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;

    .col & {
        @media screen and (max-width: $step1 - 1px) {
            float: left;
            width: 120px;
        }
    }

    &-img {
        display: block;
        width: 120px;
        height: 40px;
        margin: auto;

        &--tmp {
            background: url('../images/tmp-captcha.png') no-repeat 0 0;
        }
    }

    &-refresh {
        display: block;
        padding-top: 7px;
        color: $color--text;
        text-decoration: none;
    }
}