
.company-phone {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 1;
  color: $color--black !important;
  text-decoration: none !important;
  opacity: 1;
  transition: opacity .2s;

  /*&--hidden {
    opacity: 0;
    transition: opacity .2s;
  }*/
}

.logo-small {
  @include getSprite($icon-logo-footer, true);
}