/* ======================================================================== *\
    Горизонтальное меню:
    - вверху справа
    - в подвале справа
\* ======================================================================== */

.menu {
  @extend .nostyles;
  display: inline-block;
  font-size: 0;
  letter-spacing: -4px;
  line-height: 1;

  @media screen and (min-width: $step1) {
    white-space: nowrap;
  }

  &.topmenu {
    display: block;
    padding-right: 0;
    text-align: right;

    @media screen and (min-width: $step3) {
      display: table-cell;
    }
  }

  &__item {
    display: inline-block;
    padding: 0 8px;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    //border-left: 1px solid lighten($color--text, 30%);
    border-left: 1px solid #00ad6a;

    &:first-child {
      padding-left: 0;
      border-left: 0;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
    }

    .topmenu & {
      text-transform: uppercase;

      @media screen and (max-width: $step3 - 1px) {
        margin-bottom: 8px;
      }

      @media screen and (max-width: $step1w - 1px) {
        &:nth-child(4):not(:last-child) {
          display: none;
          padding-left: 0;
          border-left: 0;
        }

        &:nth-child(5):not(:last-child) {
          display: none;
          padding-left: 0;
          border-left: 0;
        }
      }

      @media screen and (max-width: $step1 - 1px) {
        padding: 0 6px;

        &:first-child {
          display: none;
          padding-left: 0;
        }

        &:nth-child(2) {
          padding-left: 0;
          border-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &:nth-child(4):not(:last-child) {
          display: none;
          padding-left: 0;
          border-left: 0;
        }
      }
    }
  }

  &__link {
    color: $color--text;
    text-decoration: none;
    letter-spacing: normal;

    &:hover,
    &:active {
      color: $color--green;
      text-decoration: underline;
    }

    &--active {
      color: $color--green;
      font-weight: 500;
    }

    &--border {
      border-bottom: 1px solid lighten($color--text, 30%);

      &:hover {
        text-decoration: none;
        border-bottom-color: transparent;
      }
    }
  }
}
