
.leftmenu {
    @include unstyled-list;
    width: 100%;
    
    &__item {
        display: block;
        border-bottom: 1px solid $border-color;
        //background: url('../images/ico-bull.png') no-repeat 6px 14px;

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }
    
    &__link {
        display: block;
        //min-height: 36px;
        //padding: 1px 0 0 19px;
        padding: 1px 0 0 5px;

        color: $color--text;
        line-height: 34px;
        text-decoration: none;
        text-transform: uppercase;

        box-sizing: border-box;

        &:before {
            position: relative;
            top: -1px;
            display: inline;
            padding-right: 6px;
            font-size: 14px;
            color: $color--green;
            content: '\25CF';
        }
        
        &:hover {
            color: $color--green;
            text-decoration: none;
        }

        &.active {
            font-weight: 600;
        }

        &.current {
            font-weight: 500;
            color: #fff;
            background: $button--bg--active;
            cursor: default;

            &:before {
                color: #fff;
            }
        }
    }
}

.submenu-list {
    @include unstyled-list;
    width: 100%;

    &__item {
        display: block;
        border-top: 1px solid $border-color;
    }

    &__link {
        display: block;
        padding: 1px 0 0 14px;

        font-size: 13px;
        line-height: 34px;
        color: $color--text;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: $color--green;
        }

        &:before {
            display: inline;
            padding-right: 6px;
            content: '>';
            color: $color--green;
        }

        &.current {
            font-weight: 500;
            color: #fff;
            background: $button--bg--active;
            cursor: default;
            
            &:before {
                color: #fff;
            }
        }
    }

    &__link--l2 {
        padding-left: 28px;

        &:before {
            padding-right: 2px;
            content: '\25FE';
        }
    }
}

