/* ======================================================================== *\
    Мини-корзина в шапке
\* ======================================================================== */

.minicart {
  display: none !important;

  @media screen and (max-width: $step1w - 1px) {
    position: absolute;
    top: 13px;
    right: 0;
  }

  //@media screen and (min-width: $step3) {
  position: relative;
  float: left;
  display: table-cell;
  vertical-align: middle;

  @include getSprite($icon-icon-cart-active, true);

  &.empty:not(:hover) {
    @include getSprite($icon-icon-cart, true);
  }
  //}

  &--active.empty:not(:hover) {
    @include getSprite($icon-icon-cart-active, true);
  }

  &__link {
    display: block;
    height: $icon-icon-cart-height;
    color: $color--text;
    text-decoration: none;
  }

  &__count {
    position: absolute;
    bottom: -4px;
    right: 4px;
    display: block;
    height: 17px;
    min-width: 17px;
    padding: 1px 3px;
    box-sizing: border-box;

    // font-weight: 700;
    line-height: 1;
    text-align: center;

    background: #fff;
    border: 1px solid #bfc1bf;
    border-radius: 17px;

    .empty & {
      display: none;
    }
  }

  .cart {
    display: none !important;
  }
}

