
.pagination {
    @include unstyled-list;
    display: block;
    text-align: center;

    &-wrap {
        font-size: 0;
        letter-spacing: -4px;
    }

    li,
    &__item {
        display: inline-block;
        letter-spacing: normal;
        text-align: center;

        &:first-child {
            margin-left: -1px;
        }
    }
}

.pagination a,
.page-link {
    @include link-as-text;
    display: block;
    width: 34px;
    height: 37px;
    margin-right: -1px;
    
    box-sizing: border-box;

    font-size: $base--font-size;
    line-height: 37px;

    border: 1px solid $color--dark-gray;

    &:hover {
        background: $color--green;
        color: #fff;
    }

    &--active,
    .pagination &--active {
        background: $color--green;
        color: #fff;
        cursor: default;
    }
}

.pagination .selected a {
    background: $color--green;
    color: #fff;
    cursor: default;
}
