/* ======================================================================== *\
    Кнопки переключения в ЛК
\* ======================================================================== */

.pages,
.pills {
    @include unstyled-list;
    padding-bottom: 6px;
    margin-bottom: 0;
    font-size: 0;
    letter-spacing: -4px;

    .mailer {
        display: none;
    }

    li,
    &__item {
        display: inline-block;
        width: 50%;
        text-align: center;

        &:nth-child(odd) {
            margin-right: -1px;
        }

        @media screen and (min-width: $step2) {
            width: auto;
            margin-right: -1px;
        }
    }

    a,
    &__link {
        @include border-base;
        @include link-as-text;

        display: block;
        height: $button--height;
        //padding: 0 42px;

        margin-bottom: -1px;

        font-size: $base--font-size;
        line-height: $button--height;
        letter-spacing: normal;
        color: $color--text;


        box-sizing: border-box;

        &:hover {
            @include link-as-text-hover-green;
        }

        @media screen and (min-width: $step2) {
            padding: 0 41px;
        }
    }

    .selected a,
    &__link--active {
        color: #fff;
        cursor: default;
        background: $button--bg--active;

        &:hover {
            color: #fff;
        }
    }
}
