
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;

  &:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
  }
}

.popup-overlay {
  display: block;
  height: 100%;
  width: 100%;
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 8010;
  background: rgba(#000, .5);
}

.popup {
  position: relative;
  z-index: 8011;
  display: inline-block;
  width: 396px;
  max-width: 96%;
  padding: 23px 24px 24px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0 3px 16px 4px rgba(21, 17, 3, 0.5);

  &__close {
    position: relative;
    float: right;
    color: $color--text;

    cursor: pointer;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
      content: '✖';
    }

    &:hover {
      color: $color--green;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 22px;
    color: $color--green;
    font-size: $block--font-size;
    font-weight: 500;
    line-height: 1.1;
  }

  &__controls {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    margin: 10px 8px;
    color: $color--text;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color--green;
      text-decoration: none;
    }

  }
}
