/* ======================================================================== *\
    Правая колонка на странице товара
\* ======================================================================== */

.product-aside {
  font-weight: 500;

  &__size {
    @include clearfix;
    //margin-bottom: 16px;
  }

  /*
  &__size-label {
      display: block;
      //float: left;
  }
  */

  &__size-value {
    float: right;
    display: block;
    padding-top: 5px;
  }

  select,
  option {
    font-weight: 300;
  }

  &__price-wrap {
    margin-bottom: 4px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }

  &__stock {
    margin-bottom: 6px;
  }

  &__actions {
    text-align: center;

    @media screen and (min-width: $step2) {
      text-align: left;
    }
  }

  &__action {
    display: inline-block;
    font-weight: 300;
    color: $color--text;
    text-decoration: none;

    & + & {
      margin-left: 18px;
    }

    &:hover {
      color: $color--green;
    }

    &.compare-add {
      display: none;

      @media screen and (min-width: $step2) {
        display: inline-block;
      }
    }

    &.compare {
      @media screen and (max-width: $step3) {
        display: none;
      }
    }
  }
}

.stock {
  @include clearfix;
  @extend %border-bottom;
  margin: 0;
  line-height: 35px;

  &:last-child {
    border-bottom: 0;
  }

  &__name {
    float: left;
    // font-weight: 700;
  }

  &__value {
    margin: 0;
    float: right;
    font-weight: 700;
  }
}

.purchase_block {
  display: none;

  &.visible,
  &.single {
    display: block;
  }
}

.product-sku {

}
