
.tabs {
    margin-left: -#{$gutter};

    @media screen and (max-width: $step1 - 1px) {
        width: $box-width;
        margin: 0 auto 9px;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w) {
        margin-left: -#{$gutter--middle};
    }

    @media screen and (min-width: $step4) and (max-width: $step4w) {
        margin-left: -#{$gutter--middle};
    }
}

.tab {
    @include unstyled-list;
    font-size: 0;
    letter-spacing: -4px;

    &__item {
        position: relative;
        display: inline-block;
        width: 240px;
        height: 36px;

        margin-bottom: $margin-vertical--small;

        letter-spacing: normal;
        box-sizing: border-box;

        @media screen and (min-width: $step1) {
            margin-bottom: $gutter--vertical;
            margin-left: $gutter;
        }

        @media screen and (min-width: $step1w) and (max-width: $step2 - 1px) {
            margin-left: $gutter--middle;
        }

        @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
            //margin-bottom: $gutter--middle;
            margin-left: $gutter--middle;
        }

        @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
            //margin-bottom: $gutter--middle;
            margin-left: $gutter--middle;
        }
    }

    &__content-wrap {
        position: absolute;
        top: 100%;
        left: 0;

        z-index: 3;

        width: $box-width;
        max-height: 0;

        margin-top: -1px;

        background: $button--bg--default;
        border: 1px solid $border-color;
        border-top-width: 0;
        border-bottom-width: 0;

        opacity: 0;
        box-sizing: border-box;
        overflow: hidden;
        transition: max-height .5s, opacity .1s;

        .active + & {
            max-height: 999px;
            border-bottom-width: 1px;
            opacity: 1;
            overflow: visible;
        }
    }

    &__content {
        padding: 12px 14px 8px;
        font-size: $base--font-size;
        line-height: 1.26;
    }

    &__readon {
        display: block;
        text-align: right;
    }

    &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 36px;
        padding-left: 7px;
        box-sizing: border-box;

        font-size: 14px;
        font-weight: 300;
        color: $color--text;
        line-height: 36px;
        text-decoration: none;

        border: 1px solid $border-color;
        background: $button--bg--default;

        &:before {
            position: relative;
            top: -1px;
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 6px;
            vertical-align: middle;
            content: '';
            @include sprite-image($icon-icon-work);
        }

        &:after {
            position: absolute;
            top: 14px;
            right: 13px;
            display: inline-block;
            @include getSprite($icon-arrow-down, true);
            content: '';
        }

        &.active {
            &:after {
                @include getSprite($icon-arrow-up, false);
            }

            &:hover {
                &:after {
                    @include getSprite($icon-arrow-up-active, false);
                }
            }
        }

        &:hover {
            color: $color--green;
            text-decoration: none;

            &:after {
                @include sprite-position($icon-arrow-down-active);
            }
        }

        &--work {
            &:before {
                @include sprite-position($icon-icon-work);
            }

            &:hover:before {
                @include sprite-position($icon-icon-work-active);
            }
        }

        &--payment {
            &:before {
                top: -2px;
                @include sprite-position($icon-icon-payment);
            }

            &:hover:before {
                @include sprite-position($icon-icon-payment-active);
            }
        }

        &--warranty {
            &:before {
                @include sprite-position($icon-icon-warranty);
            }

            &:hover:before {
                @include sprite-position($icon-icon-warranty-active);
            }
        }

        &--install {
            &:before {
                @include sprite-position($icon-icon-install);
            }

            &:hover:before {
                @include sprite-position($icon-icon-install-active);
            }
        }

        &--dealers {
            &:before {
                @include sprite-position($icon-icon-dealers);
            }

            &:hover:before {
                @include sprite-position($icon-icon-dealers-active);
            }
        }

        &--return {
            &:before {
                @include sprite-position($icon-icon-return);
            }

            &:hover:before {
                @include sprite-position($icon-icon-return-active);
            }
        }

    }

}

