/* ============================================================== *\
    Выбор размера на странице товара
\* ============================================================== */
.select-size {

  &__label {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-align: left;

    &--in-stock {
      padding-bottom: 8px;
      margin-bottom: 9px;
      border-bottom: 1px solid $border-color;
    }
  }
}

