
/* ======================================================================== *\
    Рейтинг товара (звезды)
\* ======================================================================== */


.rating {

    &__label {
        display: inline-block;
        padding-right: 15px;
        vertical-align: middle;
    }

    &__stars {
        display: inline-block;
        height: 15px;
        vertical-align: top;
    }
}

.rate {
    display: inline-block;
    height: 15px;
    padding: 0;

    font-size: 0;
    letter-spacing: -4px;
    text-decoration: none;
    vertical-align: top;
}

.star,
.star-empty,
.star-hover {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 3px;
    vertical-align: top;
    background-image: url('../images/stars.png');
    background-repeat: no-repeat;
    background-size: 16px 45px;
}

.star {
    background-position: 0 -15px;
}

.star-empty {
    background-position: 0 0;
}

.star-hover {
    background-position: 0 -30px;
}