
.skus {
  padding: 0;
  margin-top: 18px;
  margin-bottom: 15px;
  list-style: none;

  &.mCustomScrollbar {
    max-height: 255px;
  }
}

.product-sku {
  padding-bottom: 11px;
  padding-left: 2px;
  text-align: left;

  &:last-child {
    padding-bottom: 0;
  }

  &__label {
    position: relative;
    display: block;
    padding-left: 21px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;

    + .purchase_block {
      &.visible {
        margin-top: 17px;
      }
    }
  }

  &__radio {
    position: absolute;
    top: 4px;
    left: 0;
  }

  &__value {

    .product-sku__radio:checked + & {
      font-weight: 500;
      //color: $color--green;
      color: #fff;

      &:after {
        position: absolute;
        top: -2px;
        right: 0;
        bottom: -4px;
        left: -5px;
        z-index: -1;
        display: block;
        content: '';
        background: $color--green;
      }
    }
  }
}
