/* ======================================================================== *\
    Карусель фото товара
\* ======================================================================== */
.bx-wrapper {
    margin-left: 0 !important;
}

.carousel-wrap {
    position: relative;
    width: 100%;
    max-height: $box-height*3 + $margin-vertical*2;

    margin: 0 auto $gutter--vertical;

    font-size: 0;
    letter-spacing: -4px;

    overflow: hidden;


    @media screen and (min-width: $step1) {
        float: left;
    }

    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
        height: $box-height;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
        height: $box-height;
    }

}

.carousel {
    @include unstyled-list;
    overflow: hidden;

    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
        white-space: nowrap;
    }

    &-wrap--full {
        height: $box-height*3 + $margin-vertical*2;
    }

    &__item {
        display: inline-block;
        width: $box-width;
        margin-bottom: 18px;

        @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
            margin-right: $gutter;
            margin-bottom: 0;
        }

        @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
            margin-right: $gutter--middle;
        }

    }
}

.pager-arrow {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 26px;

    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
        bottom: 0;
        width: 26px;
        height: auto;
    }

    .bx-prev,
    .bx-next {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;

        white-space: nowrap;
        overflow: hidden;
        text-indent: 100%;
        background: rgba(191, 193, 191, 0.8);

        &:before {
            @include getSprite($icon-arrow-mobile-prev, true);

            position: absolute;
            left: 50%;
            display: block;
            margin-left: -#{$icon-arrow-mobile-prev-width/2};

            content: '';
            transition: all 0.25s;
            transform: translate3d(0, 0, 0);
            opacity: 0.5;

            @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                @include getSprite($icon-arrow-large-prev, true);
                top: 50%;
                margin-top: -#{$icon-arrow-large-prev-height/2};
                margin-left: 0;
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }

        &.disabled {
            display: none;
        }
    }

    &--prev {
        top: 0;
        border: 5px solid #d9d8d6;
        border-bottom-width: 0;

        @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
            border-right-width: 0;
            border-bottom-width: 5px;
        }

        .bx-prev:not(.disabled) {

            &:before {
                top: 0;

                @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                    top: 50%;
                    right: auto;
                    left: 0;
                }
            }

            &:hover {
                &:before {
                    top: -3px;

                    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                        top: 50%;
                        left: -3px;
                    }
                }
            }
        }
    }

    &--next {
        bottom: 0;
        border: 5px solid #d9d8d6;
        border-top-width: 0;

        @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
            top: 0;
            right: 0;
            left: auto;
            border-top-width: 5px;
            border-left-width: 0;
        }

        .bx-next:not(.disabled) {

            @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                right: 0;
            }

            &:before {
                @include sprite-position($icon-arrow-mobile-next);
                bottom: 0;

                @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                    @include sprite-position($icon-arrow-large-next);
                    right: 0;
                    left: auto;
                }
            }

            &:hover {
                &:before {
                    bottom: -3px;

                    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
                        top: 50%;
                        right: -3px;
                    }
                }
            }
        }
    }
}

.bx-wrapper {
    position: relative;
}
