/* ======================================================================== *\
    Страница товара
\* ======================================================================== */

.product {

  &__top {
    @include clearfix;
    //@include set-left-margin(true);
    margin-bottom: 9px;

    @media screen and (min-width: $step1) {
      margin-bottom: $gutter--vertical;
    }
  }

  &__top-slider {
    width: $box-width;
    margin: auto;

    @media screen and (min-width: $step1) {
      float: left;
    }

    @media screen and (min-width: $step1w) and (max-width: $step2 - 1px) {
      width: $box-width*3 + $gutter--middle*2;
      float: none;
    }

    @media screen and (min-width: $step2) and (max-width: $step4 - 1px) {
      width: $box-width*3 + $gutter*2;
      loat: none;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
      width: $box-width*3 + $gutter--middle*2;
      loat: none;
    }
  }

  &__production {
    margin-bottom: 19px;
  }

  &__features {
    @include clearfix;

    @media screen and (min-width: $step4) {
      @include set-left-margin();
    }
  }

  &__aside {
    display: block;
    margin: 22px auto 0;
    width: $box-width;

    @media screen and (min-width: $step1w) {
      //@include set-left-margin();
      margin-top: 0;
      margin-bottom: $gutter--vertical;
      float: right;
    }
  }

  &__description {
    line-height: 1.6;

    /*
    @media screen and (min-width: $step1w) {
      float: left;
      width: $box-width * 2 + $gutter--middle;
    }
    */

    /*
    @media screen and (min-width: $step2) {
      float: left;
      width: $box-width * 2 + $gutter;
    }

    @media screen and (min-width: $step3) {
      float: left;
    }

    @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
      width: $box-width * 2 + $gutter--middle;
    }

    @media screen and (min-width: $step4) {
      width: $box-width * 3 + $gutter--middle * 2;
    }

    @media screen and (min-width: $step4w) {
      width: $box-width * 3 + $gutter * 2;
    }

    @media screen and (min-width: $step5) {
      width: $box-width * 4 + $gutter * 3;
    }

    @media screen and (min-width: $step6) {
      width: $box-width * 5 + $gutter * 4;
    }

    &--full {
      width: 100%;
      float: none;
    }
    */

    > .title {
      margin-bottom: 17px;
    }
  }

  &__price {
    display: inline-block;

    &--new {
      color: $color--green;
    }
  }

  &__old-price {
    display: block;
    margin-bottom: 8px;
    line-height: 1;
    text-transform: uppercase;

    .add2cart &.compare-at-price {
      display: none !important;
    }
  }

  &__oldprice-value {
    text-decoration: line-through;
  }

  &__mainimage-wrap {
    display: none;

    @media screen and (min-width: $step3) {
      display: block;
      padding-bottom: 22px;

      &--descr {
        padding-bottom: 8px;
        margin-top: 20px;
      }
    }
  }

  &__mainimage {
    display: block;
  }
}

.related-products {

  .product__description + & {
    margin-top: 13px;
  }

  @media screen and (max-width: $step2 - 1px) and (min-width: $step1w) {
    padding-bottom: 9px;
  }

  @media screen and (max-width: $step3w - 1px) and (min-width: $step3) {
    padding-bottom: 9px;
  }

/*  @media screen and (max-width: $step2 - 1px) {
    margin-top: 24px;
  }*/

  .thumbs {
    @media screen and (max-width: $step1 - 1px) {
      text-align: center;
    }
  }

  .thumbs {
    padding-top: 0;

    @media screen and (max-width: $step1 - 1px) {
      display: inline-block;
    }
  }

  .block-title {
    text-align: center;

    &__text {
      padding-left: 16px;
    }

    &:after {
      left: 0;
    }
  }

  /*
  &--wdescr {

    @media screen and (max-width: $step2 - 1px) {
      margin-top: 13px;
    }

    .block-title {
      @media screen and (min-width: $step2) {
        margin-bottom: 22px;

        &:after {
          display: none;
        }
      }

      &__text {
        @media screen and (min-width: $step2) {
          @include set-left-padding();
        }
      }
    }
  }
  */
}
