
#question-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    content: '';
  }
}

/*#question-window {
  position: absolute;
  //top: 50% !important;
  left: 50%;
  z-index: 8011;
  width: 396px;
  min-height: 350px;
  padding: 23px 24px 24px;
  //margin-top: -175px;
  margin-left: -198px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 16px 4px rgba(21, 17, 3, 0.5);
}*/

#question-window {
  position: relative;
  top: 0 !important;
  z-index: 8011;
  display: inline-block;
  width: 396px;
  max-width: 96%;
  min-height: 350px;
  padding: 23px 24px 24px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0 3px 16px 4px rgba(21, 17, 3, 0.5);
}

.question {
  &-bckgr {
    display: none;
    height: 100%;
    width: 100%;
    bottom: 0;
    position: fixed;
    right: 0;
    //z-index: 8010;
    background: rgba(#000, .5);
  }

  &-close {
    position: relative;
    float: right;
    color: $color--text;

    cursor: pointer;

    &:after {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
      content: '✖';
    }

    &:hover {
      color: $color--green;
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 22px;
    color: $color--green;
    font-size: $block--font-size;
    font-weight: 500;
    line-height: 1.1;
    text-align: left;
  }

  &-product {
    display: block;
  }

  &-field {
    @include clearfix;

    & ~ & {
      margin-top: 24px;
    }
  }

  &-caption {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 14px;
    text-align: left;

    @media screen and (min-width: 420px) {
      float: left;
      margin-top: 8px;
    }
  }

  &-submit,
  :root &-txt {
    width: 100%;

    @media screen and (min-width: 420px) {
      width: $box-width;
      float: right;
    }
  }

  &-text {
    min-height: 82px;
  }

  &-result {
    clear: both;
  }

  &-result-field {
    display: block;
    margin-top: 24px;
  }
  
  &-warning,
  &-email-warning {
    color: red;
  }
  
  &-success {
    color: $color--green;
  }
}
