
/* ======================================================================== *\
    Отзывы (комментарии)
\* ======================================================================== */

.reviews {
    @include unstyled-list;
}

.review {
    @include clearfix;

    & + & {
        margin-top: 18px;

        @media screen and (min-width: $step3) {
            margin-top: 24px;
        }
    }

    &__avatar-wrap {
        float: left;
        display: block;
        width: 48px;
        height: 48px;
        padding-right: 16px;
    }

    &__avatar {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 2px;
    }

    &__avatar-none {
        @include getSprite($icon-user-noavatar, false);
    }

    &__wrap {
        padding-top: 2px;
        margin-left: 48px + 16px;
    }

    &__name {
        display: inline-block;
        min-width: 90px;
        padding-right: 15px;
        font-weight: 500;
        box-sizing: border-box;
    }

    &__date {
        display: inline-block;

        @media screen and (min-width: $step1) {
            padding-right: 24px;
        }
    }

    &__product {
        display: none;

        @media screen and (min-width: $step1) {
            display: inline-block;
        }
    }

    &__product-link {
        @include link-as-text;

        &:hover {
            @include link-as-text-hover-green;
        }
    }

    &__text {
        margin-top: 10px;
    }
}

.reviews {
    
    &__more {
        margin-top: $gutter--vertical;
        text-align: right;
    }
    
    &__more-link {
        @include link-as-text;
        text-transform: uppercase;

        &:hover {
            @include link-as-text-hover-green;
        }
    }
}

/*
.account-reviews {
    padding-top: 9px;
}
*/
