/* ======================================================================== *\
    Форма поиска в шапке
\* ======================================================================== */

.search {
    margin-top: 7px;

    @media screen and (min-width: $step3) {
        /*float: right;
        margin-top: 3px;
        margin-left: 25px;*/
        margin-top: 0;
    }

    &__form {

    }

    &__inputbox {
        width: 160px;
        height: 23px;
        padding: 2px 10px;

        text-align: left;
        box-sizing: border-box;
        line-height: 23px;
        background-color: whitesmoke;
        border: 1px solid #d8d8d6;
        border-radius: 14px;

        @media screen and (min-width: $step3) {
            height: 28px;
            padding-right: 14px;
            padding-left: 14px;
            //padding: 4px 14px;
        }

        @include input-placeholder {
            color: $color--text;
        }
    }

    &__btn {
        display: inline-block;
        padding: 0;
        margin: 5px 4px;
        background-color: transparent;
        @include getSprite($icon-icon-search, true);
        border: 0;
        vertical-align: top;

        @media screen and (min-width: $step3) {
            vertical-align: middle;
        }
    }
}


