
.select {
    display: inline-block;
    padding: 2px 4px;
    font-weight: $base--font-weigth;

    @extend %border;
    text-align: left;
    background: $color--light-gray;

    &:active,
    &:focus {
        outline: none;
    }

    option {
        padding: 2px 4px;
        font-weight: $base--font-weigth;
    }
}