/* ======================================================================== *\
    Таблица
    УСЛУГИ
\* ======================================================================== */

.table {
  display: table;
  margin-top: 18px;
  margin-bottom: 18px;

  border-collapse: collapse;
  line-height: 1.2;

  th {
    padding: 10px;
    font-weight: 300;
    @extend %border;
    color: inherit;
    border-bottom: 0;
    background: $color--light-gray;
  }

  td {
    padding: 10px;
    @extend %border;
  }

  &-row {
    display: table-row;
  }

  &-cell {
    display: table-cell;
  }
}

.table--services {

  @media screen and (min-width: $step3) and (max-width: $step4 - 1px) {
    width: 100%;
  }

  th, td {

    @media screen and (min-width: $step3) and (max-width: $step4 - 1px) {
      box-sizing: border-box;

      &:nth-child(2),
      &:nth-child(5) {
        width: 94px;
        white-space: nowrap;
      }

      &:nth-child(3),
      &:nth-child(6) {
        width: 92px;
        white-space: nowrap;
      }
    }
  }
}