
.thumb {
  border: $thumb--border-width solid $thumb--border-color;
  width: $box-width;
  box-sizing: border-box;
}

.thumbs {
  display: block;

  padding-top: 20px;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.001px;
  letter-spacing: -4px;
  //text-align: center;

  @media screen and (max-width: $step1 - 1px) {
    text-align: center;
  }

  .wishlist & {
    padding-top: 0;
    padding-bottom: 6px;
  }

  .article__images & {
    padding-top: 0;
    margin: 0 auto;
    float: none;
  }

  @media screen and (min-width: $step1) {
    margin-left: -#{$gutter};
    //text-align: left;
  }

  @media screen and (min-width: $step1w) and (max-width: $step2) {
    margin-left: -#{$gutter--middle};
  }

  @media screen and (min-width: $step3) and (max-width: $step3w) {
    margin-left: -#{$gutter--middle};
  }

  @media screen and (min-width: $step4) and (max-width: $step4w) {
    margin-left: -#{$gutter--middle};
  }

  .page-main & {
    @media screen and (max-width: $step1 - 1px) {
      padding-top: 14px;
    }

    @media screen and (min-width: $step3) {
      display: block;
    }
  }

  .category & {

    &:first-of-type {
      padding-top: 0;
    }
  }
}

.prod {
  position: relative;
  display: inline-block;
  width: $box-width;
  height: 135px;
  margin-bottom: $gutter;

  box-sizing: border-box;
  letter-spacing: normal;

  vertical-align: top;
  cursor: pointer;

  .page-main & {
    @media screen and (max-width: $step1 - 1px) {
      margin-bottom: 14px;

      &:nth-child(n + 2) {
        display: none;
      }
    }

    @media screen and (min-width: $step1) and (max-width: $step1w - 1px) {
      margin-bottom: 16px;

      &:nth-child(n + 3) {
        display: none;
      }
    }
  }

  @media screen and (min-width: $step1) {
    margin-left: $gutter;

    .article.post &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $step1w) and (max-width: $step2 - 1px) {
    margin-bottom: $gutter--middle;
    margin-left: $gutter--middle;

    .page-main & {
      margin-bottom: $gutter;
    }
  }

  @media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
    margin-bottom: $gutter--middle;
    margin-left: $gutter--middle;
  }

  @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
    margin-bottom: $gutter--middle;
    margin-left: $gutter--middle;
  }

  .category-block & {

    @media screen and (min-width: $step1w) and (max-width: $step3 - 1px) {
      &:nth-child(n+4) {
        display: none;
      }
    }

    @media screen and (min-width: $step3) and (max-width: $step4 - 1px) {
      &:nth-child(n+4) {
        display: none;
      }
    }

    @media screen and (min-width: $step4) and (max-width: $step5 - 1px) {
      &:nth-child(n+5) {
        display: none;
      }
    }

    @media screen and (min-width: $step5) and (max-width: $step6 - 1px) {
      &:nth-child(n+6) {
        display: none;
      }
    }

    @media screen and (min-width: $step6) {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }

  .wishlist & {
    margin-bottom: $margin-vertical--small;

    @media screen and (min-width: $step3) {
      margin-bottom: $margin-vertical;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    color: $color--text;
    text-decoration: none;
    border: 0;
  }

  /*&__name-link {
      text-decoration: none;
  }*/

  &__img-wrap {
    @extend .thumb;
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    font-size: 0.001px;
    text-align: center;

    overflow: hidden;

    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: '';
    }
  }

  &--instock &__img-wrap {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      @include getSprite($icon-in-stock, true);

      .page-main & {
        // display: none;
        opacity: 0;
        transition: opacity .2s linear;
        transition-delay: 0s;
      }
    }
  }

  .page-main &--instock:hover &__img-wrap:after {
    opacity: 1;
    transition-delay: 7s;
  }

  &--instock &__img-wrap--remote {
    &:after {
      @include getSprite($icon-in-stock-remote, true);
    }
  }

  &__img {
    //@extend .thumb;
    //display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translateY(-50%) translateX(-50%);
    max-width: 240px;
    height: auto;
    margin-left: -115px;
    margin-top: -65px;
    //vertical-align: middle;
    border: 0;
    transition: opacity .2s;

    /* Prevents img without src to appear */
    &:not([src]) {
      visibility: hidden;
      opacity: 0;
    }

    &.loading {
      visibility: visible;
      opacity: 1;
    }

    &.loaded {
      visibility: visible;
      opacity: 1;
    }
  }

  img:not(.prod__img) {
    //@extend .thumb;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  &__price-wrap {
    @include clearfix;
    position: absolute;

    top: 0;
    right: 0;
    left: 0;

    display: block;
    height: 27px;
    //height: 15px;
    padding: 0 5px;

    font-size: $base--font-size;
    line-height: 27px;
    //line-height: 15px;
    font-weight: 500;

    box-sizing: border-box;

    &:not(.prod--offer) {
      //color: $color--green;
      text-align: center;
    }

    .category-page &:not(.prod--offer) {
      display: none;
    }

    .prod--offer & {
      top: 5px;
      right: 5px;
      left: 5px;
      color: $color--text;
      background: rgba(245, 245, 245, .8);

      .category-page & {
        display: block;
      }
    }

    .category-page & {
      height: 15px;
      line-height: 15px;
    }
  }

  &__price-wrap-out {
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 80px;
    height: 15px;
    font-size: $base--font-size;
    font-weight: 500;
    text-align: right;
    line-height: 15px;
    background-color: rgba(245, 245, 245, .75);
    transition: background-color .2s .1s;
    will-change: background-color;

    .page-main & {
      transition-delay: 0s;
    }
  }

  &:hover &__price-wrap-out {
    background-color: transparent;

    .page-main & {
      transition-delay: 7s;
    }
  }

  .page-main &:hover &__price-wrap-out {
      transition-delay: 7s;
  }

  &__discount {
    float: left;
    padding-left: 5px;
    text-decoration: line-through;
  }

  &__discount-percent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__price {
    float: right;
    padding-right: 5px;
    color: $color--green;
  }

  &__info {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    display: block;

    @media screen and (min-width: $step3) {
      top: 100%;
      max-height: 0;

      font-size: $base--font-size;
      color: $color--text;
      box-sizing: border-box;
      background: rgba(245, 245, 245, .8);
      overflow: hidden;

      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      transition: top .3s ease-in-out, max-height .3s ease-in-out;

      .prod:hover &,
      .prod.hover &,
      .prod:active &,
      .prod.active & {
        top: 5px;
        max-height: 227px;

        .page-main & {
          transition-delay: 7s;
        }
      }

      .prod--offer:hover &,
      .prod--offer.hover &,
      .prod--offer:active &,
      .prod--offer.active & {
        top: 32px;
        max-height: 200px;

        .page-main & {
          transition-delay: 7s;
        }

        .category-page & {
          top: 20px;
        }
      }
    }

    @media screen and (max-width: $step3 - 1px) {
      .prod__price-wrap,
      .prod__name,
      .prod__bottom,
      .prod__actions {
        display: none;
      }
    }
  }

  &__name {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    //margin-top: 25px;
    font-size: $block--font-size;
    //font-weight: $block--font-weight;
    color: $color--text;
    text-align: center;
    transform: translateY(-50%);

    .prod--offer & {
      margin-top: -13px;
    }

    .prod__link:hover & {
      color: $color--green;
    }
  }

  &__bottom {
    position: absolute;
    right: 5px;
    bottom: 5px;
    left: 5px;
    height: 26px;
  }

  &__instock {
    position: absolute;
    bottom: -5px;
    line-height: 1;
  }

  /*  &__instock-in {
      display: none;

      .page-main & {
        display: block;
      }
    }

    &__instock-out {
      position: absolute;
      bottom: 7px;
      left: 10px;
      font-size: 14px;
      line-height: 1;

      .page-main & {
        display: none;
      }
    }*/

  &__actions {
    position: absolute;
    right: 5px;
    bottom: 5px;

    .icon {
      margin-left: 5px;
    }
  }

  .stock-remote {
    color: #000;
    text-transform: initial;
  }
}

.instock {
  font-weight: 500;
  color: $color--green;
  text-transform: uppercase;

  &--none {
    color: #000;
    text-transform: inherit;
  }
}

