/* ======================================================================== *\
    Впомогательная полоса
\* ======================================================================== */

.user-row {
    @include clearfix;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    // display: none;
    width: 100%;
    height: 48px;
    max-height: 0;
    overflow: hidden;

    line-height: 47px;
    background: $button--bg--default;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;

    transition: max-height .25s;

    &--open {
        max-height: 50px;
        overflow: visible;

        @media screen and (max-width: $step3 - 1px) {
            text-align: center;
        }

        &:before {
            position: absolute;
            top: -25px;
            left: 0;
            display: block;
            width: 100%;
            height: $gutter--vertical;
            content: '';

            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
        }
    }

    &__account {
        float: left;
        width: $box-width;

        @media screen and (max-width: $step3 - 1px) {
            display: none;
        }
    }

    &__wishlist {
        float: left;
        width: $box-width*2 + $gutter;

        @include set-left-margin(false);

        @media screen and (max-width: $step3 - 1px) {
            display: none;
        }
    }

    &__cart {
        float: right;
        width: $box-width;

        @media screen and (max-width: $step3 - 1px) {
            display: inline-block;
            float: none;
        }
    }
}

.row-link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &__icon {
        position: relative;
        top: -1px;
        margin-right: 9px;

        &.icon--cart {
            position: relative;
            top: -3px;
            margin-right: 7px;
        }
    }

    &__text {
        color: $color--text;
        //text-decoration: underline;

        .row-cart & {
            text-decoration: none;
        }

        .row-link:hover & {
            color: $color--green;
            text-decoration: none;
        }

        .row-link--active:not(.row-cart) & {
            font-weight: 500;
            color: $color--green;
        }
    }

    &__count {
        position: relative;
        top: -1px;
        display: inline;
        //height: 22px;
        padding: 3px 8px;
        margin-left: 9px;

        color: $color--text;
        // font-weight: 600;
        line-height: 1;
        text-align: center;

        vertical-align: middle;
        background: #d8d8d6;
        border-radius: 50%;
        box-sizing: border-box;

        &--cart {
            margin-right: 10px;
        }

        .row-link--active & {
            color: #fff;
            background: $color--green;
        }
    }
}

.row-compare {
    margin-left: 22px;
}

.row-cart {
    white-space: nowrap;

    &__total {
        color: $color--text;
    }
}

.user-menu {

    &__link {
        color: $color--text;
        letter-spacing: normal;
        text-decoration: underline;

        &:hover {
            color: $color--green;
            text-decoration: none;
        }
    }
}

@keyframes counter-added {
    0% {
        background: #d8d8d6;
    }

    100% {
        background: $color--green;
    }
}

.compare-count {

    &--added {
        animation-name: counter-added;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }
}
