/* ======================================================================== *\
    Базовые стили
\* ======================================================================== */

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;

  color: $color--text;
  font-family: 'Avenir Next W10 Light', Arial, sans-serif;
  font-size: $base--font-size;
  font-weight: $base--font-weigth;
  line-height: $base--line-height;
  background: $color--bg;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;

/*  @media screen and (max-width: $step1 - 1px) {
    -webkit-text-size-adjust: none;
  }*/
}

input,
textarea,
button {

  @include input-placeholder {
    opacity: 1;
    transition: opacity .25s;
  }

  &:focus {
    outline: none;

    @include input-placeholder {
      opacity: 0;
    }
  }
}

a,
button,
input {
  transition: all .3s;

  /*
  &:hover,
  &:active,
  &:focus {

  }
  */
}

a {
  color: $color--green;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

.icon,
.socicon {
  transition: background 0s;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.subtitle {
  font-size: 16px;
  // font-weight: 500;
}

.content img {
  height: auto;
  max-width: 100%;
}

span.loading {
  position: relative;
  top: 4px;
  left: 10px;
}

a[href^=tel] {
  color: $color--black;
  text-decoration: none;
}
