/* ======================================================================== *\
    Страница ошибки
\* ======================================================================== */

.errors {
    max-width: 530px;
    margin: auto;
    text-align: center;

    @media screen and (min-width: $step3) {
        padding-top: 73px;
    }

    &__box {
        margin-bottom: $margin-vertical;
    }

    &__logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @media screen and (min-width: $step3) {
            margin-bottom: 22px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: $block--font-size;
        font-weight: $block--font-weight;
        text-transform: uppercase;

        @media screen and (min-width: $step3) {
            margin-bottom: 18px;
        }

        &:after {
            display: none;
        }
    }

    &__text {
        padding: 0 9px;
        margin-top: 0;
    }
    
    &__link {
        // font-weight: 500;
        line-height: 1;
        color: $color--green;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

