/* ======================================================================== *\
    Значки соцсетей
\* ======================================================================== */

.socicons {
    @include clearfix;
    width: 100%;
    font-size: 0;
    letter-spacing: -4px;
    text-align: center;
    white-space: nowrap;

    &__item {
        display: inline-block;
        margin-left: 8px;
        letter-spacing: normal;

        &:first-child {
            margin-left: 0;
        }
    }
}

.socicon {
    display: block;
    width: 29px;
    height: 28px;
    @include sprite-image($icon-social-facebook);

    &__fb,
    &__facebook {
        @include sprite-position($icon-social-facebook);

        &:hover {
            @include sprite-position($icon-social-facebook-active);
        }
    }

    &__tw,
    &__twitter {
        @include sprite-position($icon-social-twitter);

        &:hover {
            @include sprite-position($icon-social-twitter-active);
        }
    }

    &__inst {
        @include sprite-position($icon-social-instagram);

        &:hover {
            @include sprite-position($icon-social-instagram-active);
        }
    }

    &__vk,
    &__vkontakte {
        @include sprite-position($icon-social-vk);

        &:hover {
            @include sprite-position($icon-social-vk-active);
        }
    }

    &__ok {
        @include sprite-position($icon-social-ok);

        &:hover {
            @include sprite-position($icon-social-ok-active);
        }
    }
}

