/* ======================================================================== *\
    Основные стили подвала
\* ======================================================================== */

.footer {
  height: 95px;
  padding: 2px 0 15px;
  margin-top: 24px;
  line-height: 1;

  border-top: 1px solid $border-color;
  box-sizing: border-box;

  @media screen and (min-width: $step3) {
    @include clearfix;
    height: 80px;
    padding: 0;
    box-sizing: content-box;

    .user-row-opened & {
      padding-bottom: 48px;
    }

  }

  &__left {
    display: none;

    @media screen and (min-width: $step3) {
      @include clearfix;
      display: table;
      height: 80px;
      float: left;
      vertical-align: middle;
    }
  }

  &__right {
    text-align: center;

    @media screen and (min-width: $step3) {
      @include clearfix;
      display: table;
      height: 100%;
      float: right;
      text-align: right;
      vertical-align: middle;
    }
  }

  &__right-in {

    @media screen and (min-width: $step3) {
      @include set-left-padding();
      display: table-cell;
      width: $box-width;
      text-align: right;
      vertical-align: middle;
    }

    @media screen and (min-width: $content_step_large) {
      padding-left: 100px;
    }
  }

  &__logo {
    display: table-cell;
    padding-right: 16px;
    vertical-align: middle;
  }

  &__logo-link {
    display: block;
    width: 45px;
    height: 45px;
    background: url('../images/logo_mini.png') no-repeat 50% 50%;
    background-size: contain;
    //@include getSprite($icon-logo-footer, true);
  }

  &__info {
    display: table-cell;
    padding-right: 33px;
    line-height: 24px;
    vertical-align: middle;

    @media screen and (min-width: $step3) {
      margin-top: -2px;
    }
  }

  &__phone {
    display: table-cell;
    line-height: 1;
    font-size: 19px;
    // font-weight: 700;
    vertical-align: middle;
  }

  &__menu {
    padding-top: 9px;
    padding-bottom: 6px;
    text-align: center;

    @media screen and (min-width: $step3) {
      padding-top: 1px;
      padding-bottom: 11px;

      text-align: right;
    }
  }

  &__copyright {
    text-align: center;

    @media screen and (min-width: $step3) {
      text-align: right;
    }
  }

  &__social {
    padding-top: 7px;
    text-align: center;

    @media screen and (min-width: $step3) {
      display: table-cell;
      padding-top: 0;
      text-align: left;
      vertical-align: middle;
    }

    @media screen and (min-width: $step4) {
      width: $box-width;
      text-align: center;
    }
  }
}

