
.header {
  @include clearfix;
  //padding-top: 9px;
  //border-bottom: 1px solid $border-color;

  //@media screen and (min-width: $step3) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 125px;
  padding-top: 0;
  background: #fff;

  @media screen and (max-width: $step1w - 1px) {
    position: relative;
  }

  @media screen and (min-width: $step3) {
    height: 100px;
    border-bottom: 0;
  }

  @media screen and (min-width: $step4) {
    height: 90px;
  }

  //box-shadow: 0 0 20px #fff;

  .wrapper {
    @include clearfix;
    height: 100%;

    //@media screen and (min-width: $step3) {
      display: table;
    //}
  }

  /*&--fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;

      //background: #fff;
      //border-bottom: 1px solid $border-color;

      //box-shadow: 0 0 25px $border-color;
  }*/

  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 20px;

    content: '';
    background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
  }
  //}

  &__left {
    float: left;
    display: table;
    height: 94px;

    @media screen and (min-width: $step3) {
      height: 90px;
      vertical-align: middle;
    }
  }

  &__right {
    position: relative;

    @media screen and (min-width: $step3) {
      //position: relative;
      display: table;
      height: 100%;
      float: right;
      text-align: right;
    }

  }

  &__right-top {
    float: right;
    padding-top: 10px;
    margin-right: -4px;
    text-align: center;
    line-height: 36px;

    @media screen and (max-width: $step1w - 1px) {
      text-align: right;
    }

    @media screen and (min-width: $step3) {
      @include clearfix;
      float: none;
      display: table;

      height: 90px;
      padding-top: 0;
      margin: 0;
      line-height: 1;
      vertical-align: middle;
    }

    /*@media screen and (min-width: $step4) {
        width: $box-width*2 + $gutter;
    }*/

    /*@media screen and (min-width: $step3) and (max-width: $step3w - 1px) {
        width: $box-width*2 + $gutter--middle;
    }*/

    @media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
      //width: $box-width*3 + $gutter--middle*2;
    }

    @media screen and (min-width: $step4w) {
      width: $box-width*2 + $gutter;
    }

    @media screen and (min-width: $step5) {
      width: $box-width*3 + $gutter*2;
    }
  }

  &__right-middle {
    display: none;

    @media screen and (min-width: $step5) {
      display: table-cell;
      width: $box-width;
    }
  }

  &__right-bottom {
    position: relative;
    //padding-top: 6px;
    clear: both;

    @media screen and (min-width: $step3) {
      position: absolute;
      right: 0;
      bottom: -10px;
      display: table;
      height: 34px;
      padding-top: 0;
      text-align: right;
    }
  }

  &--fixed &__right-bottom {
    @media screen and (max-width: $step1w - 1px) {
      position: fixed;
      width: 498px;
      z-index: 10;
      background: #fff;

      &:after {
        position: fixed;
        display: block;
        top: 31px;
        left: 0;
        right: 0;
        z-index: 11;
        content: '';
        border-bottom: 1px solid $border-color;
      }

      &:before {
        position: fixed;
        top: 31px;
        left: 0;
        display: block;
        width: 100%;
        height: 20px;

        content: '';
        background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0));
      }
    }

    @media screen and (max-width: $step1 - 1px) {
      width: 302px;
    }
  }

  &__right-in {
    @media screen and (min-width: $step1w) {
      float: right;
      display: table;
      width: $box-width;
      height: 100%;
    }

    @media screen and (min-width: $step3) {
      float: right;
      display: table;
      width: $box-width;
      height: 100%;
    }
  }

  &__right-in-left {
    @media screen and (min-width: $step3) {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
    }
  }

  &__right-in-right {
    @media screen and (min-width: $step3) {
      display: table-cell;
      text-align: right;
      vertical-align: middle;
    }
  }

  &__logo {
    display: table-cell;
    vertical-align: middle;
    //margin-left: 16px;

    @media screen and (min-width: $step1) {
      //margin: 11px 23px 0 0;
      margin: 11px 23px 0 0;
    }

    @media screen and (min-width: $step3) {
      float: none;
      display: block;
      width: $box-width;
      padding-top: 28px;
      margin: 0;
      text-align: center;
    }
  }

  &__slogan {
    display: none;

    @media screen and (min-width: $step1) {
      display: table-cell;
      width: 230px;
      padding-left: 12px;
      margin: 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.45;
      vertical-align: middle;
    }

    @media screen and (min-width: $step3) {
      @include set-left-padding();
      width: 252px;
    }

    /*@media screen and (min-width: $step4) and (max-width: $step4w - 1px) {
        width: $box-width*2 + $gutter--middle;
    }*/

    @media screen and (min-width: $step4) {
      width: 290px;
    }

    i {
      display: none;
      font-style: normal;

      @media screen and (min-width: $step4) {
        display: inline;
      }
    }
  }

}

.logo {
  position: relative;
  z-index: 1;
  display: block;
  width: 45px;
  height: 45px;
  transition-duration: 0s;

  //@include getSprite($icon-logo-footer, true);
  background: url('../images/logo_mini.png') no-repeat 50% 50%;
  background-size: contain;

  @media screen and (max-width: $step1 - 1px) {
    margin-left: 6px;
  }

  @media screen and (min-width: $step1w) {
    width: 216px;
    height: 31px;
    background-image: url('../images/logo.png');
    //@include getSprite($icon-logo-main, true);
  }

  @media screen and (min-width: $step3) {
    margin: auto;
  }
}

.topphone {

  @media screen and (max-width: $step1 - 1px) {
    padding-right: 40px;
    padding-top: 4px;
    margin-bottom: -4px;
  }

  @media screen and (max-width: $step1w - 1px) {
    padding-right: 42px;
    padding-top: 2px;
    margin-bottom: -2px;
  }

  @media screen and (min-width: $step3) {
    display: table-cell;
    width: $box-width;
    text-align: center;
    vertical-align: middle;
    //float: left;
    //margin-right: 26px;
  }

  &__number {
    margin-top: -3px;

    @media screen and (min-width: $step3) {
      padding-top: 1px;
      margin-top: 0;
    }
  }

  &__info {
    display: none;

    @media screen and (min-width: $step3) {
      display: block;
      margin-top: 6px;
      text-align: center;
    }
  }
}

.topmenu-wrap {
  position: relative;
  z-index: 1;

  @media screen and (min-width: $step3) {
    display: table;
    height: 100%;
  }
}

.topmenu {
  padding: 8px 10px 0;
  //margin-top: 12px;
  text-align: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  line-height: 22px;

  @media screen and (max-width: $step1w - 1px) {
    .header--fixed & {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  @media screen and (min-width: $step1) {
    padding: 8px 0 0;
  }

  @media screen and (min-width: $step3) {
    display: table-cell;
    padding-top: 0;
    //padding-top: 19px;
    border-top: 0;
    border-bottom: 0;
    vertical-align: middle;
  }
}

.mobile-nav-toggle {
  //position: absolute;
  //top: 66px;
  //left: 0;
  position: relative;
  z-index: 2;
  float: left;
  display: block;
  //height: 53px;
  height: 31px;
  padding: 0;
  //font-weight: 500;
  //line-height: 20px;
  //text-transform: uppercase;

  border: 0;
  outline: none;
  background: none;

  @include link-as-text;

  &:hover {
    color: $color--green;
  }
  /*
      @media screen and (min-width: $step1) {
          top: 67px;
      }
  */
  /*@media screen and (min-width: $step1) {
      height: 31px;
  }*/

  @media screen and (min-width: $step3) {
    display: none;
  }
}

.toggle-wrap {
  display: block;
  width: 34px;
  margin: 0 1px;

  @media screen and (min-width: $step2) {
    float: left;
    margin-top: (31px - 10px)/2;
    margin-right: 5px;
  }
}

.toggle-row {
  display: block;
  width: 100%;
  height: 2px;
  font-size: 0;
  line-height: 1;
  background: $color--black;

  .mobile-nav-toggle--active & {
    background: $color--green;
  }

  & + & {
    margin-top: 2px;
  }
}

.toggle-text {
  display: none;

  @media screen and (min-width: $step2) and (max-width: $step3 - 1px) {
    display: inline;
    // font-weight: 500;

    line-height: 33px;
    text-transform: uppercase;
  }
}