
.wrapper {
  width: 302px;
  margin-right: auto;
  margin-left: auto;
  //outline: 1px solid;

  @include step-width();

  &--main {
    display: table;
    height: 100%;
  }
}

.wrapper-in {
  display: table-row;
  height: 100%;
}

.mainarea {
  //padding-top: 16px;
  padding-top: 145px;

  @media screen and (max-width: $step1w - 1px) {
    padding-top: 20px;

    .header--fixed + & {
      //padding-top: 50px;
    }
  }

  @media screen and (min-width: $step3) {
    @include clearfix;
    padding-top: 116px;
  }

  @media screen and (min-width: $step4) {
    padding-top: 106px;
  }

  &__content {
    @include step-width-content;
  }
}

.offers {

  &--aside {
    margin-top: 21px;

    .block-title,
    .category-title,
    .title,
    h1 {
      font-size: $base--font-size;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    /*.title {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }*/
  }
}

.block-section {
  @include clearfix;

  & + & {
    margin-top: 18px;
  }

  + .block-title {
    margin-top: 18px;
  }
}

.row {
  @include clearfix;

  @media screen and (min-width: $step1) {
    @include set-left-margin(true);
  }
}

.col {
  display: block;

  @media screen and (min-width: $step1) {
    @include set-left-margin(false);
    float: left;
    width: $box-width;
  }
}

.box {
  margin-bottom: $margin-vertical--small;

  @media screen and (min-width: $step1) {
    margin-bottom: $margin-vertical;
  }
}

