
article.article

    div.article__images.show2

        - for (var i = 0; i < 7; i++) {
            +product_img
        - }

    h1.article__title Возможно ли изготовление изделий под заказ?

    div.article__content

        p.
            Кроме постоянного наличия широкого ассортимента элитной сантехники из натурального камня,
            бронзы и меди на складе в Москве, компания Sheerdecor предлагает такую услугу,
            как возможность заказать производство сантехники по индивидуальным размерам и дизайну под заказ.

        p.
            Эта услуга особенно актуальна для тех из наших клиентов, интерьеры которых были разработаны
            дизайнерами по индивидуальным проектам под требования размеров помещения, вкуса хозяев этого помещения,
            и позволяет реализовать самые оригинальные и смелые решения в оформлении интерьера,
            подстраиваясь под особенности каждого конкретного дизайн-проекта.

        p.
            При заказе изготовления сантехники на заказ необязательно обладать подробными чертежами или
            3D моделями тех элементов интерьера, производство которых вы хотите заказать: достаточно предоставить
            нам фотографию и внешние размеры раковины, унитаза или душевого поддона.
            Этой информации будет достаточно для нашего производства и для того,
            чтобы наши мастера по камню вырезали из цельного блока природного камня именно
            тот элемент интерьера ванной комнаты или кухни, который вы заказали.

        p.
            нашего производства и для того, чтобы наши мастера по камню вырезали из цельного блока природного
            камня именно тот элемент интерьера ванной комнаты или кухни, который вы заказали.


        h2  Варианты изготовления под заказ

        p.
            На сегодняшний день в компании Sheerdecor можно заказать изготовление изделий из натурального
            камня любых форм и размеров, из  любой горной породы и сорта камня, представленных
            в разделе "Раковины для ванной" нашего сайта. При этом возможно изготовление не только сантехники,
            но и любых других изделий из цельных блоков натурального камня: гранитных столешниц,
            мраморных подоконников, лестниц, каменной плитки, ступеней, фонтанов и любых других элементов интерьера
            и экстерьера из мрамора, оникса, травертина, гранита, базальта, андезита.

        h2  Способы производства сантехники

        p.
            За исключением изделий простых форм, как например мраморная раковина Sfera, большая часть
            сантехники из натурального камня Sheerdecor частично или полностью изготавливается
            с использованием ручного труда. Это связано как с трудоемкостью процесса изготовления изделий
            из натурального камня сложных форм, так и с отсутствием оборудования, способного без участия
            человека вырезать из цельного блока натурального мрамора или оникса и обработать большинство
            из тех элементов интерьера, которые вы можете найти в нашем каталоге.
            В применении ручного труда при изготовлении сантехники есть как свои плюсы, так и минусы.
            К плюсам можно отнести такой, на первый взгляд неочевидный, как получение действительно
            эксклюзивного дизайна готового изделия, которое по своим эстетическим свойствам иногда
            даже превосходит оригинал в том случае, если заказ производства был сделан по фотографии,
            а не по чертежу или 3D макету. Также применение ручного труда на производстве дает
            возможность индивидуального подхода к выполнению каждого заказа с учетом особенностей
            каждого конкретного блока натурального камня, из которого выполняется изделие,
            ведь каменные блоки оникса, травертина или песчаника имеют не только неоднородные фактуру и текстуру,
            а также химический состав и расположение тектонических трещин.  Еще к преимуществам такого подхода
            можно отнести ничем не ограниченные рамки размеров изделия средств
            с крупными кристаллами в течении продолжительного времени возможно исчезновение
            глянцевого блеска на тех моделях сантехнических изделий, которые этим блеском обладают,
            например с вариантом обработки поверхности «Полированная».
            В таком случае достаточно вызвать нашего мастера, который за небольшую сумму денег и пару
            часов работы возвратит поверхности изделия из камня первоначальный глянец и повторно
            покроет специальными защитными средствами, препятствующими изменению цвета
            натурального камня и проникновению воды. Использовании абразивных чистящих
            средств с крупными кристаллами в течении продолжительного времени возможно исчезновение
            глянцевого блеска на тех моделях сантехнических изделий, которые этим блеском обладают,
            например с вариантом обработки поверхности «Полированная». В таком случае достаточно вызвать
            нашего мастера, который за небольшую сумму денег и пару часов работы возвратит поверхности
            изделия из камня первоначальный глянец и повторно покроет специальными защитными средствами,
            препятствующими изменению цвета натурального камня и проникновению воды.


        h2  Порядок заказа и сроки изготовления

        p.
            Стандартные сроки производства и поставки изделий из натурального камня на склад в Москве
            составляют 60-75 календарных дней, а при изготовлении крупногабаритных изделий, моделей сложных
            форм или конструкций, например каменных унитазов или ванн, сроки производства
            могут увеличится до 90 дней. Сроки производства/поставки можно уменьшить до 20-25 дней
            при заказе срочного производства изделия из камня, в таких случаях взымается дополнительная
            плата +14 USD за каждый килограмм от веса изделия. Срок расчета стоимости производства
            составляет 1-2 рабочих дня. Начало производства возможно только после заключения договора
            с подробной спецификацией и внесения 100% предоплаты по договорам на сумму до 100 000 руб.
            Если сумма договора больше 100000 руб. по вашему желанию оплата может быть разбита на несколько частей.
            Для того, чтобы сообщить вам цену изготовления под заказ того или иного изделия из натурального камня,
            нам необходимо получить от вас следующую информацию:<br>
             - сорт натурального камня, из которого вы хотели бы заказать производство.
             Для выбора сорта камня удобно использовать фильтр по сорту камня, расположенный
             в разделе "Раковины для ванной". Если вы затрудняетесь с выбором, вы можете позвонить/написать
             нам или приехать в наш магазин захватив плитку, которой будут облицованы стены и пол в вашей
             ванной комнате. Вариант вашего визита к нам предпочтительнее еще и тем,
             что натуральный камень лучше выбирать "вживую", а не при помощи компьютерного монитора
             и фотографий – какими бы качественными они ни были;<br>
             - внешние габаритные размеры изделия из камня: длину, глубину, высоту.
             В том случае, если вы затрудняетесь с указанием размеров изделия под заказ,
             мы предоставляем услугу снятия замеров нашим мастером, который приедет к вам
             в удобное для вас время и произведет замеры сам.

    div.article__images.hide2

        - for (var i = 0; i < 7; i++) {
            +product_img
        - }