
.lmenu {
  @include unstyled-list;
  position: relative;
  width: 100%;

  &--discounts {
    @media screen and (min-width: $step3) {
      display: none;
    }
  }

  li {
    display: block;

    @media screen and (min-width: $step3) {
      width: $box-width;
      background: #fff;
    }
  }

  > li {
    border-bottom: 1px solid $color--green;

    &:first-child {

      @media screen and (min-width: $step3) {
        border-top: 1px solid $color--green;
      }
    }

    > .lmenu__link {
      text-transform: uppercase;

      @media screen and (max-width: $step3 - 1px) {
        padding: 10px 3px 8px 7px;

        .menu-v {
          display: none;
        }
      }
    }

    @media screen and (max-width: $step3 - 1px) {
      .menu-v {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    //padding: 1px 0 0 7px;
    padding: 9px 3px 9px 7px;

    font-size: 15px;
    //line-height: 34px;
    line-height: 1.2;
    color: $color--text;
    text-decoration: none;
    //text-transform: uppercase;

    box-sizing: border-box;

    &:hover {
      color: $color--green;
      text-decoration: none;
    }

    /*.lmenu > li > & {

        &:hover,
        &--active {
            color: #fff;
            background: $color--green;

            !*+ .menu-v {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                z-index: 2;
                display: block;
                background: #fff;
            }*!
        }
    }*/

    &--parent {
      // font-weight: 500;
      color: $color--green;
    }

    &--active {
      // font-weight: 500;
      color: #fff;
      background: $button--bg--active;
      cursor: default;

      &:hover {
        color: #fff;
      }
    }

    @at-root .selected > & {
      // font-weight: 500;
      color: #fff;
      background: $button--bg--active;
      cursor: default;

      &:before {
        // font-weight: 300;
        //color: #fff !important;
      }

      &:hover {
        color: #fff;
      }
    }

  }

  // 2 уровень
  .menu-v {
    @include unstyled-list;
    @media screen and (min-width: $step3) {
      display: none;
    }

    li {

      @media screen and (max-width: $step3 - 1px) {
        padding-top: 1px;
        border-top: 1px solid $border-color;
        border-bottom: 0;
      }
    }

    .lmenu__link {
      //padding-top: 0;
      padding-left: 28px;

      /*white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;*/

      @media screen and (max-width: $step3 - 1px) {
        //padding-top: 1px;
      }

      &:before {
        position: absolute;
        top: 6px;
        left: 9px;

        font-family: Tahoma, Arial, Helvetica, sans-serif;
        font-size: 15px;
        content: '\003E';
        color: $color--green;
      }
    }

    .menu-v {

      @media screen and (max-width: $step3 - 1px) {
        li {
          display: none;
        }
      }

      .lmenu__link {
        //padding-left: 35px;
        padding-left: 50px;

        &:before {
          //position: relative;
          top: 8px;
          left: 26px + 9px;

          font-size: 10px;
          content: '\0025CF';
          color: $color--green;
        }
      }
    }
  }

  &--addon {
    li:first-child {
      border-top: 0;

      @media screen and (min-width: $step1) {
        display: none;
      }
    }

    @media screen and (min-width: $step1) and (max-width: $step1w - 1px) {
      li:last-child {
        display: none;
      }
    }

    @media screen and (min-width: $step1w) {
      display: none;
    }
  }
}

@media screen and (min-width: $step3) {

  .subcategory-wrap {
    position: fixed;

    //display: none;
    left: 100%;
    z-index: 20;

    max-width: 0;
    height: 100%;
    max-height: 100%;
    padding: 12px 0;
    background: #fff;
    box-sizing: border-box;

    border: 1px solid $border-color;
    //box-shadow: 5px 0 15px rgba(0, 0, 0, .25);
    box-shadow: 9px 0 13px -5px rgba(0, 0, 0, .25);

    overflow: hidden;
    opacity: 0;
    transition: max-width .2s, opacity .3s;

    &.open {
      left: 300px;
      max-width: 9999px;
      min-width: $box-width;
      opacity: 1;
      overflow: visible;
    }

    .lmenu & .menu-v {
      display: block;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
      column-gap: 0;

      .menu-v {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
      }
    }
  }

  .subcategory {
    position: relative;
    //max-height: 100%;

    > li > a {
      // font-weight: 500;
    }

    &--2col {
      width: $box-width * 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
    }

    &--3col {
      width: $box-width * 3;
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }

    &--4col {
      width: $box-width * 4;
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
    }

    &--5col {
      width: $box-width * 5;
      -moz-column-count: 5;
      -webkit-column-count: 5;
      column-count: 5;
    }
  }
}

.menu-gutter {
  position: absolute;
  top: 0;
  display: block;
  width: 1px;
  height: 100%;
  background: $border-color;

  &--2 {
    left: $box-width - 1px;
  }

  &--3 {
    left: $box-width * 2 - 1px;
  }

  &--4 {
    left: $box-width * 3 - 1px;
  }

  &--5 {
    left: $box-width * 4 - 1px;
  }
}

/* ======================================================================== *\
    Мобильное меню
\* ======================================================================== */
.mobile-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 8;
  width: 100%;
  max-height: 0;
  margin-bottom: 24px;
  opacity: 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 16px 16px -10px #ccc;
  transform: translateZ(0);
  transition: max-height .5s ease-in-out, opacity .4s;

  @media screen and (min-width: $step2) {
    width: $box-width;
    border-right: 1px solid $border-color;
    box-shadow: 7px 7px 15px #ccc;
  }

  @media screen and (min-width: $step3) {
    display: none;
  }

  &--open {
    max-height: 9999px;
    opacity: 1;
    overflow-y: auto;
  }
}

.mobile-nav-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  display: none;
  width: 100%;
  background: #fff;
}

.link-position {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
}

/*.subcategory {
    outline: 1px solid #123498;
}*/
