
.leftmenu {
    @include unstyled-list;
    width: 100%;

    li {
        display: block;
        border-bottom: 1px solid $border-color;

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }

    &__link {
        display: block;
        padding: 1px 0 0;

        font-size: 14px;
        line-height: 34px;
        color: $color--text;
        text-decoration: none;
        text-transform: uppercase;

        box-sizing: border-box;

        &:hover {
            color: $color--green;
            text-decoration: none;
        }

        &--parent {
            font-weight: 500;
            color: $color--green;
        }

        @at-root .selected > & {
            font-weight: 500;
            color: #fff !important;
            background: $button--bg--active;

            &:before {
                font-weight: 300;
                color: #fff !important;
            }

            &:hover {
                color: #fff;
            }
        }

        /*
        .selected.parent > & {
            cursor: default;
        }
        */

/*        @at-root .selected.parent .parent & {
            font-weight: 300;
            color: $color--text;

            &:before {
                font-weight: 300;
                color: $color--text;
            }
        }*/
    }

    > .selected > .leftmenu__link {
        padding-left: 7px;
    }

    // 2 уровень
    .menu-v {
        @include unstyled-list;
        width: 100%;

        li {
            border-top: 1px solid $border-color;
            border-bottom: 0;
        }

        .leftmenu__link {
            padding-left: 15px;

            &:before {
                position: relative;
                top: 0;
                padding-right: 6px;

                font-family: Tahoma, Arial, Helvetica, sans-serif;
                font-size: 15px;
                content: '\003E';
            }
        }

        .menu-v {

            .leftmenu__link {
                padding-left: 30px;

                &:before {
                    position: relative;
                    top: -2px;
                    font-size: 12px;
                    content: '\25CF';
                }
            }
        }
    }
}



.menu-v {

    .selected.parent > & {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height .7s ease-in-out, opacity 1s;
        transition-delay: .3s;

        &.active {
            max-height: 999px;
            opacity: 1;
            overflow: visible;
        }
    }
}


/* ======================================================================== *\
    Мобильное меню
\* ======================================================================== */
.mobile-nav {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 7;
    width: 100%;
    max-height: 0;
    margin-bottom: 24px;
    opacity: 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 16px 16px -10px #ccc;
    transform: translateZ(0);
    transition: max-height .5s ease-in-out, opacity .4s;

    @media screen and (min-width: $step2) {
        width: $box-width;
        border-right: 1px solid $border-color;
        box-shadow: 7px 7px 15px #ccc;
    }

    @media screen and (min-width: $step3) {
        display: none;
    }

    &--open {
        max-height: 9999px;
        opacity: 1;
    }
}
