
form.comment-form.form(name="comment" action="product.html" method="get")

    div.form-field
        +inputbox('name', 'Имя:')

    div.form-field
        +inputbox('email', 'E-mail:')

    div.form-field
        +inputbox('phone', 'Телефон (необязательно):')

    div.form-field.form-field--large
        +textarea('message', 'Сообщение:')

    div.row
        div.col
            div.wa-captcha.comment-form__captcha
                div.wa-captcha__img-wrap
                    img.wa-captcha-img(src="assets/images/tmp-captcha.png" title="Обновить код")
                    a.wa-captcha-refresh(href="#") Обновить код

        div.col
            div.form-field
                +inputbox('captcha', 'Введите код с картинки:')

            div.form-field
                input(class="btn" type="submit" value="Отправить")
