
-
    features = {
    'Артикул товара': '123456789',
    'Элемент интерьера': 'раковина или курна для хамама',
    'Модель': 'Distrito',
    'Материал производства': 'натуральный камень',
    'Горная порода': 'песчаник',
    'Сорт горной породы': 'Australian sandstone',
    'Страна добычи материала': 'Австралия / Australia',
    'Внешняя поверхность': 'Глянцевая',
    'Внутренняя поверхность': 'Глянцевая',
    'Основной цвет': 'бежевый',
    'Дополнительные цвета': 'коричневый желтый',
    'Форма изделия': 'овальная',
    'Способы установки': 'накладная или врезная',
    'Вырез под слив': '1*45 мм, не имеется',
    'Вырез под кран': '1*35 мм, не имеется',
    'Производитель': 'Sheerdecor',
    'Приблизительный вес': '32,0 кг',
    'Индивидуальные размеры': 'возможны под заказ'
    };

section.product__features.features
    each value, name in features
        dl.feature
            dt.feature__name.feature__col #{name}:

            dt.feature__value.feature__col #{value}

