
section.block-section
    +blockTitle('h2', 'Где купить?')

    div.address
        div.address__map-wrap
            div.address__map
            div.address__note
                | По указанному адресу вы можете посмотреть,
                | и при желании приобрести этот товар, при условии что в поле «В наличие на складе»
                | (правый верхний угол страницы) указанно значение больше нуля.
