
//- Карусель фото
- var photoCount = 10;

div.carousel-wrap.swiper-container
    ul.carousel.swiper-wrapper
        - for (var i = 0; i < +photoCount; i++)
            li.carousel__item.swiper-slide
                +product_img

    div#slider-prev.pager-arrow.pager-arrow--prev
    div#slider-next.pager-arrow.pager-arrow--next


