-
    var stock = {
    'В наличии на складе': '2 шт.',
    'Из них в резерве': '1 шт.',
    'На удаленном складе': '0 шт.',
    'Поступит 15.04.2016': '10 шт.'
    };

section.product__aside.product-aside
    div.product-aside__size.select-size
        div.product-aside__size-label.select-size__label
           | ВЫБЕРИТЕ размер (Г х Ш х В):

        ul.skus
            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="1" checked)
                    span.product-sku__value 40 x 40 x 12 см

            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="2")
                    span.product-sku__value 50 x 50 x 21 см + БС + СВЕТ

            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="3")
                    span.product-sku__value 38 x 456 x 17

            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="4")
                    span.product-sku__value 38 x 56 x 317

            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="5")
                    span.product-sku__value 138 x 256 x 17

            li.skus__item.product-sku
                label.product-sku__label
                    input.product-sku__radio(name="sku_id" type="radio" value="6")
                    span.product-sku__value 138 x 56 x 117


    div.product-aside__price-wrap
        | Последняя цена:
        div.product__price 2 360 000 ₽


    div.product-aside__stock.stock-list
        each value, name in stock
            dl.stock
                dt.stock__name #{name}:

                dd.stock__value #{value}


    form.form.product__form(action="product.html" method="get")
        div.form-field
            a.btn.btn--buy(href="#") Купить

        div.form-field
            a.btn.btn--primary(href="#") Заказать производство

        div.form-field
            a.btn(href="#") Задать вопрос по товару

        div.form-field
            a.btn(href="#") Сообщить о поступлении

    div.product-aside__actions
        a.product-aside__action.to-wishlist(href="#")
            i.icon.icon--wishlist
            | Отложить

        a.product-aside__action.compare-add(href="#")
            i.icon.icon--compare
            | Сравнить

