
div#popup-cart-wrap.popup-container
    div#popup-cart-overlay.popup-overlay
    div#popup-cart.popup
        div.popup__close
        div.popup__content
            div.popup__title
                | Товар добавлен в корзину
            div.popup__controls
                a.popup__link.popup__link--continue(href="#")
                    | Продолжить покупки
                a.popup__link.popup__link--cart(href="#")
                    | Перейти в корзину