
section.block-section
    +blockTitle('h2', 'Комментарии')

    include ../includes/forms/_comment-form

    include _product__reviews

    div.reviews__more
        a.reviews__more-link(href="faq.html") Посмотреть все
