
+title('h2', 'Раковина из мрамора для ванной')

div.product__description
    p.
        Стремление обладать оригинальной, эксклюзивной вещью заложено в человеческом подсознании.
        Но есть места, где подделки и штампы попросту недопустимы. Например, турецкий хаммам.
        Здесь выбор к многовековому минералу обусловлен высоким уровнем постоянной влажности,
        которая без труда разрушит текстуру дерева или снимет эмаль с любого искусственного санфаянса.
        Пол, стены, курны для хамама должны быть надежными и стойкими к воде, влажности и температуре,
        а также сохранять точный дизайнерский образ древней восточной купальни.
        Мрамор – один из немногих, кто создаст идеальный микроклимат и гармонию в художественном характере
        данной экзотической процедуры-ритуала. И для этой идиллии вся отделка,
        мебель и аксессуары выполняются только из натурального благородного я.

    p.
        Мраморная курна – это мойка с трепетным сохранением загадочного этнического стиля,
        способная выдержать колоссальную нагрузку влажности. Она должна обладать повышенной прочностью – никаких смесей,
        каменной крошки, пресса – только цельный блок мрамора и только ручная работа.
        <br>
        Курна для турецкой бани является, по сути, интерьерным завершением.
        Поэтому она выполняется в виде кубка, каменной вазы, глубокой чаши с подставкой или без нее.
        Курна должна гармонировать с концепцией и линиями национальной архитектуры.

    p.
        Представляемая модель курны для турецкой бани совместила в себе начало Востока,
        все традиции работы с камнем, которые позволили добиться от поверхности исключительного глянца,
        но сохранили многовековую текстуру и яркие, почти осязаемые  жилки формирования полудрагоценного минерала.
        Обладать такой курной из мраморного оникса равнозначно владение реликвией – никому и в голову не придет усомниться,
        что эта эксклюзивная раковина принадлежит к благороднейшим элитным сортам камня.
        Тональность оникса курны для хамама словно дополняет точный перевод турецкой бани – «дающая тепло».
        Солнечно-медовый цвет текстуры при всем глянце,
        рифлености и аристократичной сдержанности камня распространяет комфорт и располагает к полному расслаблению,
        в том числе и созерцательному. Тон умиротворяющий и практически универсален для большинства бань,
        за исключением ярко выраженного оформления отделки холодными текстурами:
        темно-серые вкрапления мрамора или гранита, темный изумруд или густая синева поверхностей камня.