<div class="plugin_arrived-popup"><div class="plugin_arrived-custom">
<form action="/arrivedAdd/" class="plugin_arrived-form" onsubmit="return plugin_arrived_send();"><div class="plugin_arrived-box" data-action="/arrivedAdd/" style="margin-left: -191px; margin-top: -135px;">
<div class="plugin_arrived-header">
<div class="plugin_arrived-close" onclick="plugin_arrived_close();"></div>
<span>Сообщить о поступлении товара</span>
</div>
<div class="plugin_arrived-body">
<div class="plugin_arrived-success">
<strong>Ваша просьба принята!</strong>
<br><br>Вы получите уведомление о поступлении товара в продажу на указанные Вами контакты
</div>
<div class="plugin_arrived-request">
<div class="plugin_arrived-field">
<div class="plugin_arrived-name required">Ваш E-Mail</div>
<div class="plugin_arrived-value"><input type="text" name="email" value="refffers@yandex.ru"></div>
</div>												<div class="plugin_arrived-field">
<div class="plugin_arrived-name">Актуальность</div>
<div class="plugin_arrived-value">
<select name="expiration">
<option value="7">7 дней</option><option value="30">30 дней</option><option value="60">60 дней</option><option value="90">90 дней</option><option value="360">360 дней</option>						</select>
</div>
</div>
<div class="plugin_arrived-field">
<div class="plugin_arrived-name required not_bold"> - обязательно к заполнению</div>
</div>
<input type="hidden" name="plugin_arrived_pid" value="1829">
<input type="hidden" name="plugin_arrived_skuid" value="75627">
<div class="msg_errors"></div>
<div class="plugin_arrived-field">
<div class="plugin_arrived-value submit"><input type="submit" value="Уведомить меня"><div class="plugin_arrived-loading">Проверка...</div></div>
</div>
</div>
</div>
</div></form>
</div></div>
<div class="plugin_arrived-overlay" onclick="plugin_arrived_close();"></div>