//- Кнопки вкладок
//- var icons = ['compare', 'wishlist', 'work', 'delivery', 'warranty', 'install', 'dealers', 'return', 'setting'];
.tabs
    ul.tab
        li.tab__item.tab__item--active
            a.tab__link.tab__link--work(href="#work") Производство под заказ
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее


        li.tab__item
            a.tab__link.tab__link--payment(href="#payment") Оплата и доставка
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее

        li.tab__item
            a.tab__link.tab__link--warranty(href="#warranty") Гарантия
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее

        li.tab__item
            a.tab__link.tab__link--install(href="#install") Установка
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее

        li.tab__item
            a.tab__link.tab__link--dealers(href="#dealers") Дилерам
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее

        li.tab__item
            a.tab__link.tab__link--return(href="#return") Возврат и обмен
            div.tab__content-wrap
                div.tab__content
                    | Возможно изготовление под заказ любых изделий, любых размеров и из любого сорта натурального камня.
                    | С покупателем подписывается Договор Поставки.
                    | Стандартные сроки изготовления и поставки изделий на склад в Москве:
                    | 60 календарных дней, стоимость изготовления может отличаться от указанной на сайте.
                    a.readon.tab__readon(href="#") Подробнее

