// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-down-active-name: 'icon__arrow-down-active';
$icon-arrow-down-active-x: 186px;
$icon-arrow-down-active-y: 125px;
$icon-arrow-down-active-offset-x: -186px;
$icon-arrow-down-active-offset-y: -125px;
$icon-arrow-down-active-width: 15px;
$icon-arrow-down-active-height: 9px;
$icon-arrow-down-active-total-width: 250px;
$icon-arrow-down-active-total-height: 237px;
$icon-arrow-down-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-down-active: (186px, 125px, -186px, -125px, 15px, 9px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-down-active', );
$icon-arrow-down-name: 'icon__arrow-down';
$icon-arrow-down-x: 135px;
$icon-arrow-down-y: 125px;
$icon-arrow-down-offset-x: -135px;
$icon-arrow-down-offset-y: -125px;
$icon-arrow-down-width: 15px;
$icon-arrow-down-height: 9px;
$icon-arrow-down-total-width: 250px;
$icon-arrow-down-total-height: 237px;
$icon-arrow-down-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-down: (135px, 125px, -135px, -125px, 15px, 9px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-down', );
$icon-arrow-large-next-name: 'icon__arrow-large-next';
$icon-arrow-large-next-x: 228px;
$icon-arrow-large-next-y: 0px;
$icon-arrow-large-next-offset-x: -228px;
$icon-arrow-large-next-offset-y: 0px;
$icon-arrow-large-next-width: 22px;
$icon-arrow-large-next-height: 110px;
$icon-arrow-large-next-total-width: 250px;
$icon-arrow-large-next-total-height: 237px;
$icon-arrow-large-next-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-large-next: (228px, 0px, -228px, 0px, 22px, 110px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-large-next', );
$icon-arrow-large-prev-name: 'icon__arrow-large-prev';
$icon-arrow-large-prev-x: 0px;
$icon-arrow-large-prev-y: 69px;
$icon-arrow-large-prev-offset-x: 0px;
$icon-arrow-large-prev-offset-y: -69px;
$icon-arrow-large-prev-width: 22px;
$icon-arrow-large-prev-height: 110px;
$icon-arrow-large-prev-total-width: 250px;
$icon-arrow-large-prev-total-height: 237px;
$icon-arrow-large-prev-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-large-prev: (0px, 69px, 0px, -69px, 22px, 110px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-large-prev', );
$icon-arrow-mobile-next-name: 'icon__arrow-mobile-next';
$icon-arrow-mobile-next-x: 112px;
$icon-arrow-mobile-next-y: 43px;
$icon-arrow-mobile-next-offset-x: -112px;
$icon-arrow-mobile-next-offset-y: -43px;
$icon-arrow-mobile-next-width: 110px;
$icon-arrow-mobile-next-height: 22px;
$icon-arrow-mobile-next-total-width: 250px;
$icon-arrow-mobile-next-total-height: 237px;
$icon-arrow-mobile-next-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-mobile-next: (112px, 43px, -112px, -43px, 110px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-mobile-next', );
$icon-arrow-mobile-prev-name: 'icon__arrow-mobile-prev';
$icon-arrow-mobile-prev-x: 24px;
$icon-arrow-mobile-prev-y: 69px;
$icon-arrow-mobile-prev-offset-x: -24px;
$icon-arrow-mobile-prev-offset-y: -69px;
$icon-arrow-mobile-prev-width: 110px;
$icon-arrow-mobile-prev-height: 22px;
$icon-arrow-mobile-prev-total-width: 250px;
$icon-arrow-mobile-prev-total-height: 237px;
$icon-arrow-mobile-prev-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-mobile-prev: (24px, 69px, -24px, -69px, 110px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-mobile-prev', );
$icon-arrow-up-active-name: 'icon__arrow-up-active';
$icon-arrow-up-active-x: 169px;
$icon-arrow-up-active-y: 125px;
$icon-arrow-up-active-offset-x: -169px;
$icon-arrow-up-active-offset-y: -125px;
$icon-arrow-up-active-width: 15px;
$icon-arrow-up-active-height: 9px;
$icon-arrow-up-active-total-width: 250px;
$icon-arrow-up-active-total-height: 237px;
$icon-arrow-up-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-up-active: (169px, 125px, -169px, -125px, 15px, 9px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-up-active', );
$icon-arrow-up-name: 'icon__arrow-up';
$icon-arrow-up-x: 152px;
$icon-arrow-up-y: 125px;
$icon-arrow-up-offset-x: -152px;
$icon-arrow-up-offset-y: -125px;
$icon-arrow-up-width: 15px;
$icon-arrow-up-height: 9px;
$icon-arrow-up-total-width: 250px;
$icon-arrow-up-total-height: 237px;
$icon-arrow-up-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-up: (152px, 125px, -152px, -125px, 15px, 9px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-up', );
$icon-arrow-xlarge-next-name: 'icon__arrow-xlarge-next';
$icon-arrow-xlarge-next-x: 0px;
$icon-arrow-xlarge-next-y: 43px;
$icon-arrow-xlarge-next-offset-x: 0px;
$icon-arrow-xlarge-next-offset-y: -43px;
$icon-arrow-xlarge-next-width: 110px;
$icon-arrow-xlarge-next-height: 24px;
$icon-arrow-xlarge-next-total-width: 250px;
$icon-arrow-xlarge-next-total-height: 237px;
$icon-arrow-xlarge-next-image: '../images/sprite-icon-h2xvydehq.png';
$icon-arrow-xlarge-next: (0px, 43px, 0px, -43px, 110px, 24px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__arrow-xlarge-next', );
$icon-checked-name: 'icon__checked';
$icon-checked-x: 121px;
$icon-checked-y: 125px;
$icon-checked-offset-x: -121px;
$icon-checked-offset-y: -125px;
$icon-checked-width: 12px;
$icon-checked-height: 12px;
$icon-checked-total-width: 250px;
$icon-checked-total-height: 237px;
$icon-checked-image: '../images/sprite-icon-h2xvydehq.png';
$icon-checked: (121px, 125px, -121px, -125px, 12px, 12px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__checked', );
$icon-delete-name: 'icon__delete';
$icon-delete-x: 208px;
$icon-delete-y: 69px;
$icon-delete-offset-x: -208px;
$icon-delete-offset-y: -69px;
$icon-delete-width: 13px;
$icon-delete-height: 13px;
$icon-delete-total-width: 250px;
$icon-delete-total-height: 237px;
$icon-delete-image: '../images/sprite-icon-h2xvydehq.png';
$icon-delete: (208px, 69px, -208px, -69px, 13px, 13px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__delete', );
$icon-icon-cart-active-name: 'icon__icon-cart-active';
$icon-icon-cart-active-x: 121px;
$icon-icon-cart-active-y: 93px;
$icon-icon-cart-active-offset-x: -121px;
$icon-icon-cart-active-offset-y: -93px;
$icon-icon-cart-active-width: 32px;
$icon-icon-cart-active-height: 30px;
$icon-icon-cart-active-total-width: 250px;
$icon-icon-cart-active-total-height: 237px;
$icon-icon-cart-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-cart-active: (121px, 93px, -121px, -93px, 32px, 30px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-cart-active', );
$icon-icon-cart-name: 'icon__icon-cart';
$icon-icon-cart-x: 155px;
$icon-icon-cart-y: 93px;
$icon-icon-cart-offset-x: -155px;
$icon-icon-cart-offset-y: -93px;
$icon-icon-cart-width: 32px;
$icon-icon-cart-height: 30px;
$icon-icon-cart-total-width: 250px;
$icon-icon-cart-total-height: 237px;
$icon-icon-cart-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-cart: (155px, 93px, -155px, -93px, 32px, 30px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-cart', );
$icon-icon-compare-active-name: 'icon__icon-compare-active';
$icon-icon-compare-active-x: 205px;
$icon-icon-compare-active-y: 181px;
$icon-icon-compare-active-offset-x: -205px;
$icon-icon-compare-active-offset-y: -181px;
$icon-icon-compare-active-width: 26px;
$icon-icon-compare-active-height: 26px;
$icon-icon-compare-active-total-width: 250px;
$icon-icon-compare-active-total-height: 237px;
$icon-icon-compare-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-compare-active: (205px, 181px, -205px, -181px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-compare-active', );
$icon-icon-compare-name: 'icon__icon-compare';
$icon-icon-compare-x: 0px;
$icon-icon-compare-y: 211px;
$icon-icon-compare-offset-x: 0px;
$icon-icon-compare-offset-y: -211px;
$icon-icon-compare-width: 26px;
$icon-icon-compare-height: 26px;
$icon-icon-compare-total-width: 250px;
$icon-icon-compare-total-height: 237px;
$icon-icon-compare-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-compare: (0px, 211px, 0px, -211px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-compare', );
$icon-icon-dealers-active-name: 'icon__icon-dealers-active';
$icon-icon-dealers-active-x: 148px;
$icon-icon-dealers-active-y: 211px;
$icon-icon-dealers-active-offset-x: -148px;
$icon-icon-dealers-active-offset-y: -211px;
$icon-icon-dealers-active-width: 22px;
$icon-icon-dealers-active-height: 22px;
$icon-icon-dealers-active-total-width: 250px;
$icon-icon-dealers-active-total-height: 237px;
$icon-icon-dealers-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-dealers-active: (148px, 211px, -148px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-dealers-active', );
$icon-icon-dealers-name: 'icon__icon-dealers';
$icon-icon-dealers-x: 124px;
$icon-icon-dealers-y: 211px;
$icon-icon-dealers-offset-x: -124px;
$icon-icon-dealers-offset-y: -211px;
$icon-icon-dealers-width: 22px;
$icon-icon-dealers-height: 22px;
$icon-icon-dealers-total-width: 250px;
$icon-icon-dealers-total-height: 237px;
$icon-icon-dealers-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-dealers: (124px, 211px, -124px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-dealers', );
$icon-icon-install-active-name: 'icon__icon-install-active';
$icon-icon-install-active-x: 100px;
$icon-icon-install-active-y: 211px;
$icon-icon-install-active-offset-x: -100px;
$icon-icon-install-active-offset-y: -211px;
$icon-icon-install-active-width: 22px;
$icon-icon-install-active-height: 22px;
$icon-icon-install-active-total-width: 250px;
$icon-icon-install-active-total-height: 237px;
$icon-icon-install-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-install-active: (100px, 211px, -100px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-install-active', );
$icon-icon-install-name: 'icon__icon-install';
$icon-icon-install-x: 76px;
$icon-icon-install-y: 211px;
$icon-icon-install-offset-x: -76px;
$icon-icon-install-offset-y: -211px;
$icon-icon-install-width: 22px;
$icon-icon-install-height: 22px;
$icon-icon-install-total-width: 250px;
$icon-icon-install-total-height: 237px;
$icon-icon-install-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-install: (76px, 211px, -76px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-install', );
$icon-icon-payment-active-name: 'icon__icon-payment-active';
$icon-icon-payment-active-x: 136px;
$icon-icon-payment-active-y: 69px;
$icon-icon-payment-active-offset-x: -136px;
$icon-icon-payment-active-offset-y: -69px;
$icon-icon-payment-active-width: 22px;
$icon-icon-payment-active-height: 22px;
$icon-icon-payment-active-total-width: 250px;
$icon-icon-payment-active-total-height: 237px;
$icon-icon-payment-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-payment-active: (136px, 69px, -136px, -69px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-payment-active', );
$icon-icon-payment-name: 'icon__icon-payment';
$icon-icon-payment-x: 228px;
$icon-icon-payment-y: 136px;
$icon-icon-payment-offset-x: -228px;
$icon-icon-payment-offset-y: -136px;
$icon-icon-payment-width: 22px;
$icon-icon-payment-height: 22px;
$icon-icon-payment-total-width: 250px;
$icon-icon-payment-total-height: 237px;
$icon-icon-payment-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-payment: (228px, 136px, -228px, -136px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-payment', );
$icon-icon-return-active-name: 'icon__icon-return-active';
$icon-icon-return-active-x: 172px;
$icon-icon-return-active-y: 211px;
$icon-icon-return-active-offset-x: -172px;
$icon-icon-return-active-offset-y: -211px;
$icon-icon-return-active-width: 22px;
$icon-icon-return-active-height: 22px;
$icon-icon-return-active-total-width: 250px;
$icon-icon-return-active-total-height: 237px;
$icon-icon-return-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-return-active: (172px, 211px, -172px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-return-active', );
$icon-icon-return-name: 'icon__icon-return';
$icon-icon-return-x: 184px;
$icon-icon-return-y: 69px;
$icon-icon-return-offset-x: -184px;
$icon-icon-return-offset-y: -69px;
$icon-icon-return-width: 22px;
$icon-icon-return-height: 22px;
$icon-icon-return-total-width: 250px;
$icon-icon-return-total-height: 237px;
$icon-icon-return-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-return: (184px, 69px, -184px, -69px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-return', );
$icon-icon-search-name: 'icon__icon-search';
$icon-icon-search-x: 228px;
$icon-icon-search-y: 160px;
$icon-icon-search-offset-x: -228px;
$icon-icon-search-offset-y: -160px;
$icon-icon-search-width: 18px;
$icon-icon-search-height: 15px;
$icon-icon-search-total-width: 250px;
$icon-icon-search-total-height: 237px;
$icon-icon-search-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-search: (228px, 160px, -228px, -160px, 18px, 15px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-search', );
$icon-icon-user-active-name: 'icon__icon-user-active';
$icon-icon-user-active-x: 93px;
$icon-icon-user-active-y: 181px;
$icon-icon-user-active-offset-x: -93px;
$icon-icon-user-active-offset-y: -181px;
$icon-icon-user-active-width: 26px;
$icon-icon-user-active-height: 26px;
$icon-icon-user-active-total-width: 250px;
$icon-icon-user-active-total-height: 237px;
$icon-icon-user-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-user-active: (93px, 181px, -93px, -181px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-user-active', );
$icon-icon-user-name: 'icon__icon-user';
$icon-icon-user-x: 121px;
$icon-icon-user-y: 181px;
$icon-icon-user-offset-x: -121px;
$icon-icon-user-offset-y: -181px;
$icon-icon-user-width: 26px;
$icon-icon-user-height: 26px;
$icon-icon-user-total-width: 250px;
$icon-icon-user-total-height: 237px;
$icon-icon-user-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-user: (121px, 181px, -121px, -181px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-user', );
$icon-icon-warranty-active-name: 'icon__icon-warranty-active';
$icon-icon-warranty-active-x: 28px;
$icon-icon-warranty-active-y: 211px;
$icon-icon-warranty-active-offset-x: -28px;
$icon-icon-warranty-active-offset-y: -211px;
$icon-icon-warranty-active-width: 22px;
$icon-icon-warranty-active-height: 22px;
$icon-icon-warranty-active-total-width: 250px;
$icon-icon-warranty-active-total-height: 237px;
$icon-icon-warranty-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-warranty-active: (28px, 211px, -28px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-warranty-active', );
$icon-icon-warranty-name: 'icon__icon-warranty';
$icon-icon-warranty-x: 52px;
$icon-icon-warranty-y: 211px;
$icon-icon-warranty-offset-x: -52px;
$icon-icon-warranty-offset-y: -211px;
$icon-icon-warranty-width: 22px;
$icon-icon-warranty-height: 22px;
$icon-icon-warranty-total-width: 250px;
$icon-icon-warranty-total-height: 237px;
$icon-icon-warranty-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-warranty: (52px, 211px, -52px, -211px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-warranty', );
$icon-icon-wishlist-active-name: 'icon__icon-wishlist-active';
$icon-icon-wishlist-active-x: 149px;
$icon-icon-wishlist-active-y: 181px;
$icon-icon-wishlist-active-offset-x: -149px;
$icon-icon-wishlist-active-offset-y: -181px;
$icon-icon-wishlist-active-width: 26px;
$icon-icon-wishlist-active-height: 26px;
$icon-icon-wishlist-active-total-width: 250px;
$icon-icon-wishlist-active-total-height: 237px;
$icon-icon-wishlist-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-wishlist-active: (149px, 181px, -149px, -181px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-wishlist-active', );
$icon-icon-wishlist-name: 'icon__icon-wishlist';
$icon-icon-wishlist-x: 177px;
$icon-icon-wishlist-y: 181px;
$icon-icon-wishlist-offset-x: -177px;
$icon-icon-wishlist-offset-y: -181px;
$icon-icon-wishlist-width: 26px;
$icon-icon-wishlist-height: 26px;
$icon-icon-wishlist-total-width: 250px;
$icon-icon-wishlist-total-height: 237px;
$icon-icon-wishlist-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-wishlist: (177px, 181px, -177px, -181px, 26px, 26px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-wishlist', );
$icon-icon-work-active-name: 'icon__icon-work-active';
$icon-icon-work-active-x: 160px;
$icon-icon-work-active-y: 69px;
$icon-icon-work-active-offset-x: -160px;
$icon-icon-work-active-offset-y: -69px;
$icon-icon-work-active-width: 22px;
$icon-icon-work-active-height: 22px;
$icon-icon-work-active-total-width: 250px;
$icon-icon-work-active-total-height: 237px;
$icon-icon-work-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-work-active: (160px, 69px, -160px, -69px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-work-active', );
$icon-icon-work-name: 'icon__icon-work';
$icon-icon-work-x: 228px;
$icon-icon-work-y: 112px;
$icon-icon-work-offset-x: -228px;
$icon-icon-work-offset-y: -112px;
$icon-icon-work-width: 22px;
$icon-icon-work-height: 22px;
$icon-icon-work-total-width: 250px;
$icon-icon-work-total-height: 237px;
$icon-icon-work-image: '../images/sprite-icon-h2xvydehq.png';
$icon-icon-work: (228px, 112px, -228px, -112px, 22px, 22px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__icon-work', );
$icon-in-stock-remote-name: 'icon__in-stock-remote';
$icon-in-stock-remote-x: 233px;
$icon-in-stock-remote-y: 181px;
$icon-in-stock-remote-offset-x: -233px;
$icon-in-stock-remote-offset-y: -181px;
$icon-in-stock-remote-width: 16px;
$icon-in-stock-remote-height: 24px;
$icon-in-stock-remote-total-width: 250px;
$icon-in-stock-remote-total-height: 237px;
$icon-in-stock-remote-image: '../images/sprite-icon-h2xvydehq.png';
$icon-in-stock-remote: (233px, 181px, -233px, -181px, 16px, 24px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__in-stock-remote', );
$icon-in-stock-name: 'icon__in-stock';
$icon-in-stock-x: 210px;
$icon-in-stock-y: 145px;
$icon-in-stock-offset-x: -210px;
$icon-in-stock-offset-y: -145px;
$icon-in-stock-width: 16px;
$icon-in-stock-height: 24px;
$icon-in-stock-total-width: 250px;
$icon-in-stock-total-height: 237px;
$icon-in-stock-image: '../images/sprite-icon-h2xvydehq.png';
$icon-in-stock: (210px, 145px, -210px, -145px, 16px, 24px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__in-stock', );
$icon-logo-footer-name: 'icon__logo-footer';
$icon-logo-footer-x: 74px;
$icon-logo-footer-y: 93px;
$icon-logo-footer-offset-x: -74px;
$icon-logo-footer-offset-y: -93px;
$icon-logo-footer-width: 45px;
$icon-logo-footer-height: 45px;
$icon-logo-footer-total-width: 250px;
$icon-logo-footer-total-height: 237px;
$icon-logo-footer-image: '../images/sprite-icon-h2xvydehq.png';
$icon-logo-footer: (74px, 93px, -74px, -93px, 45px, 45px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__logo-footer', );
$icon-logo-main-name: 'icon__logo-main';
$icon-logo-main-x: 0px;
$icon-logo-main-y: 0px;
$icon-logo-main-offset-x: 0px;
$icon-logo-main-offset-y: 0px;
$icon-logo-main-width: 226px;
$icon-logo-main-height: 41px;
$icon-logo-main-total-width: 250px;
$icon-logo-main-total-height: 237px;
$icon-logo-main-image: '../images/sprite-icon-h2xvydehq.png';
$icon-logo-main: (0px, 0px, 0px, 0px, 226px, 41px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__logo-main', );
$icon-social-facebook-active-name: 'icon__social-facebook-active';
$icon-social-facebook-active-x: 148px;
$icon-social-facebook-active-y: 145px;
$icon-social-facebook-active-offset-x: -148px;
$icon-social-facebook-active-offset-y: -145px;
$icon-social-facebook-active-width: 29px;
$icon-social-facebook-active-height: 28px;
$icon-social-facebook-active-total-width: 250px;
$icon-social-facebook-active-total-height: 237px;
$icon-social-facebook-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-facebook-active: (148px, 145px, -148px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-facebook-active', );
$icon-social-facebook-name: 'icon__social-facebook';
$icon-social-facebook-x: 117px;
$icon-social-facebook-y: 145px;
$icon-social-facebook-offset-x: -117px;
$icon-social-facebook-offset-y: -145px;
$icon-social-facebook-width: 29px;
$icon-social-facebook-height: 28px;
$icon-social-facebook-total-width: 250px;
$icon-social-facebook-total-height: 237px;
$icon-social-facebook-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-facebook: (117px, 145px, -117px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-facebook', );
$icon-social-instagram-active-name: 'icon__social-instagram-active';
$icon-social-instagram-active-x: 86px;
$icon-social-instagram-active-y: 145px;
$icon-social-instagram-active-offset-x: -86px;
$icon-social-instagram-active-offset-y: -145px;
$icon-social-instagram-active-width: 29px;
$icon-social-instagram-active-height: 28px;
$icon-social-instagram-active-total-width: 250px;
$icon-social-instagram-active-total-height: 237px;
$icon-social-instagram-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-instagram-active: (86px, 145px, -86px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-instagram-active', );
$icon-social-instagram-name: 'icon__social-instagram';
$icon-social-instagram-x: 55px;
$icon-social-instagram-y: 145px;
$icon-social-instagram-offset-x: -55px;
$icon-social-instagram-offset-y: -145px;
$icon-social-instagram-width: 29px;
$icon-social-instagram-height: 28px;
$icon-social-instagram-total-width: 250px;
$icon-social-instagram-total-height: 237px;
$icon-social-instagram-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-instagram: (55px, 145px, -55px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-instagram', );
$icon-social-ok-active-name: 'icon__social-ok-active';
$icon-social-ok-active-x: 179px;
$icon-social-ok-active-y: 145px;
$icon-social-ok-active-offset-x: -179px;
$icon-social-ok-active-offset-y: -145px;
$icon-social-ok-active-width: 29px;
$icon-social-ok-active-height: 28px;
$icon-social-ok-active-total-width: 250px;
$icon-social-ok-active-total-height: 237px;
$icon-social-ok-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-ok-active: (179px, 145px, -179px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-ok-active', );
$icon-social-ok-name: 'icon__social-ok';
$icon-social-ok-x: 31px;
$icon-social-ok-y: 181px;
$icon-social-ok-offset-x: -31px;
$icon-social-ok-offset-y: -181px;
$icon-social-ok-width: 29px;
$icon-social-ok-height: 28px;
$icon-social-ok-total-width: 250px;
$icon-social-ok-total-height: 237px;
$icon-social-ok-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-ok: (31px, 181px, -31px, -181px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-ok', );
$icon-social-twitter-active-name: 'icon__social-twitter-active';
$icon-social-twitter-active-x: 62px;
$icon-social-twitter-active-y: 181px;
$icon-social-twitter-active-offset-x: -62px;
$icon-social-twitter-active-offset-y: -181px;
$icon-social-twitter-active-width: 29px;
$icon-social-twitter-active-height: 28px;
$icon-social-twitter-active-total-width: 250px;
$icon-social-twitter-active-total-height: 237px;
$icon-social-twitter-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-twitter-active: (62px, 181px, -62px, -181px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-twitter-active', );
$icon-social-twitter-name: 'icon__social-twitter';
$icon-social-twitter-x: 0px;
$icon-social-twitter-y: 181px;
$icon-social-twitter-offset-x: 0px;
$icon-social-twitter-offset-y: -181px;
$icon-social-twitter-width: 29px;
$icon-social-twitter-height: 28px;
$icon-social-twitter-total-width: 250px;
$icon-social-twitter-total-height: 237px;
$icon-social-twitter-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-twitter: (0px, 181px, 0px, -181px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-twitter', );
$icon-social-vk-active-name: 'icon__social-vk-active';
$icon-social-vk-active-x: 24px;
$icon-social-vk-active-y: 145px;
$icon-social-vk-active-offset-x: -24px;
$icon-social-vk-active-offset-y: -145px;
$icon-social-vk-active-width: 29px;
$icon-social-vk-active-height: 28px;
$icon-social-vk-active-total-width: 250px;
$icon-social-vk-active-total-height: 237px;
$icon-social-vk-active-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-vk-active: (24px, 145px, -24px, -145px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-vk-active', );
$icon-social-vk-name: 'icon__social-vk';
$icon-social-vk-x: 189px;
$icon-social-vk-y: 93px;
$icon-social-vk-offset-x: -189px;
$icon-social-vk-offset-y: -93px;
$icon-social-vk-width: 29px;
$icon-social-vk-height: 28px;
$icon-social-vk-total-width: 250px;
$icon-social-vk-total-height: 237px;
$icon-social-vk-image: '../images/sprite-icon-h2xvydehq.png';
$icon-social-vk: (189px, 93px, -189px, -93px, 29px, 28px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__social-vk', );
$icon-user-noavatar-name: 'icon__user-noavatar';
$icon-user-noavatar-x: 24px;
$icon-user-noavatar-y: 93px;
$icon-user-noavatar-offset-x: -24px;
$icon-user-noavatar-offset-y: -93px;
$icon-user-noavatar-width: 48px;
$icon-user-noavatar-height: 50px;
$icon-user-noavatar-total-width: 250px;
$icon-user-noavatar-total-height: 237px;
$icon-user-noavatar-image: '../images/sprite-icon-h2xvydehq.png';
$icon-user-noavatar: (24px, 93px, -24px, -93px, 48px, 50px, 250px, 237px, '../images/sprite-icon-h2xvydehq.png', 'icon__user-noavatar', );
$spritesheet-width: 250px;
$spritesheet-height: 237px;
$spritesheet-image: '../images/sprite-icon-h2xvydehq.png';
$spritesheet-sprites: ($icon-arrow-down-active, $icon-arrow-down, $icon-arrow-large-next, $icon-arrow-large-prev, $icon-arrow-mobile-next, $icon-arrow-mobile-prev, $icon-arrow-up-active, $icon-arrow-up, $icon-arrow-xlarge-next, $icon-checked, $icon-delete, $icon-icon-cart-active, $icon-icon-cart, $icon-icon-compare-active, $icon-icon-compare, $icon-icon-dealers-active, $icon-icon-dealers, $icon-icon-install-active, $icon-icon-install, $icon-icon-payment-active, $icon-icon-payment, $icon-icon-return-active, $icon-icon-return, $icon-icon-search, $icon-icon-user-active, $icon-icon-user, $icon-icon-warranty-active, $icon-icon-warranty, $icon-icon-wishlist-active, $icon-icon-wishlist, $icon-icon-work-active, $icon-icon-work, $icon-in-stock-remote, $icon-in-stock, $icon-logo-footer, $icon-logo-main, $icon-social-facebook-active, $icon-social-facebook, $icon-social-instagram-active, $icon-social-instagram, $icon-social-ok-active, $icon-social-ok, $icon-social-twitter-active, $icon-social-twitter, $icon-social-vk-active, $icon-social-vk, $icon-user-noavatar, );
$spritesheet: (250px, 237px, '../images/sprite-icon-h2xvydehq.png', $spritesheet-sprites, );


