$base--font-family: 'Roboto', Arial, sans-serif;

$base--font-size: 14px;
$block--font-size: 16px;
$title--font-size: 16px;

$base--font-weigth: 300;
$block--font-weight: 300;
$title--font-weight: 300;

$color--black: #272727;
$color--green: #1fab6e;
$color--light-gray: #f5f5f5;
$color--dark-gray: #d9d8d6;

$base--line-height: 1.143;

//$border-color: #bfc1bf;

$border-color: #d9d8d6;

$color--bg: #fff;
$color--text: $color--black;
$color--link: #123498;

$box-width: 240px;
$box-height: 135px;

$gutter: 18px;
$gutter--middle: 9px;

$margin-vertical: 18px;
$margin-vertical--small: $margin-vertical/2;
$gutter--vertical: 24px;
$thumb--border-width: 5px;
$thumb--border-color: $color--dark-gray;

$content_step_small: 320px;
$content_step_1: 1024px;
$content_step_2: $content_step_1 + $gutter;

$content_step_large: 1920px;

$menu-link--color: #ccc;

$button--height: 36px;
$button--bg--default: $color--light-gray;
$button--bg--active: $color--green;

$step1: 540px;
$step1w: 756px;
$step2: 800px;
$step3: 1024px;
$step3w: 1070px;
$step4: 1280px;
$step4w: 1350px;
$step5: 1590px;
$step6: 1830px;


